In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict

from utils.schemas import *
from utils.functions import *

In [2]:
data_folder = 'input'
schema_train_transaction.update(schema_train_identity)
schema_test_transaction.update(schema_test_identity)

In [3]:
train = pd.read_csv(data_folder+'/train_merged.csv', dtype = schema_train_transaction)
test = pd.read_csv(data_folder+'/test_merged.csv', dtype = schema_test_transaction)

In [4]:
train.shape, test.shape

((590540, 433), (506691, 432))

In [6]:
cat_ft = ['ProductCD', 'P_emaildomain', 'R_emaildomain'] + ['card{}'.format(i) for i in range(1, 7)] \
+ ['addr1', 'addr2'] + ['M{}'.format(i) for i in range(1, 10)] + ['DeviceType', 'DeviceInfo'] \
+ ['id_{}'.format(i) for i in range(12, 39)]

In [7]:
len(cat_ft)

49

In [8]:
len(train.card6.value_counts())
# card1 identificador de algo?

4

In [9]:
re_col_list = ['card', 'C', 'D', 'M', 'V', 'id', 'add', 'dist', 'P', 'R']

for re_col in re_col_list:
    print(train[[x for x in train.columns if re_col in x]].head())

   card1  card2  card3       card4  card5   card6
0  13926    NaN  150.0    discover  142.0  credit
1   2755  404.0  150.0  mastercard  102.0  credit
2   4663  490.0  150.0        visa  166.0   debit
3  18132  567.0  150.0  mastercard  117.0   debit
4   4497  514.0  150.0  mastercard  102.0  credit
  ProductCD   C1   C2   C3   C4   C5   C6   C7   C8   C9  C10  C11  C12   C13  \
0         W  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  2.0  0.0   1.0
1         W  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   1.0
2         W  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0   1.0
3         W  2.0  5.0  0.0  0.0  0.0  4.0  0.0  0.0  1.0  0.0  1.0  0.0  25.0
4         H  1.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0   1.0

   C14
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0
   TransactionDT ProductCD     D1     D2    D3    D4   D5  D6  D7  D8  D9  \
0          86400         W   14.0    NaN  13.0   NaN  NaN NaN NaN NaN NaN
1          86401         W    0.0    NaN   NaN   0.0  NaN NaN NaN NaN NaN
2          86469         W    0.0    NaN   NaN   0.0  NaN NaN NaN NaN NaN
3          86499         W  112.0  112.0   0.0  94.0  0.0 NaN NaN NaN NaN
4          86506         H    0.0    NaN   NaN   NaN  NaN NaN NaN NaN NaN

    D10    D11  D12  D13  D14    D15 DeviceType                     DeviceInfo
0  13.0   13.0  NaN  NaN  NaN    0.0        NaN                            NaN
1   0.0    NaN  NaN  NaN  NaN    0.0        NaN                            NaN
2   0.0  315.0  NaN  NaN  NaN  315.0        NaN                            NaN
3  84.0    NaN  NaN  NaN  NaN  111.0        NaN                            NaN
4   NaN    NaN  NaN  NaN  NaN    NaN     mobile  SAMSUNG SM-G892A Build/NRD90M
    M1   M2   M3   M4   M5   M6   M7   M8   M9
0    T    T    T   M2    F    T  NaN  NaN  NaN
1  NaN  NaN  NaN   M0    T    T  NaN  NaN  NaN
2    T    T    T   M0    F    F    F    F    F
3  NaN  NaN  NaN   M0    T    F  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    V1   V2   V3   V4   V5   V6   V7   V8   V9  V10  ...  V330  V331  V332  \
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  ...   NaN   NaN   NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  ...   NaN   NaN   NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN   NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   0.0   0.0   0.0

   V333  V334  V335  V336  V337  V338  V339
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 339 columns]
   id_01    id_02  id_03  id_04  id_05  id_06  id_07  id_08  id_09  id_10  \
0    NaN      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1    NaN      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2    NaN      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3    NaN      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    0.0  70787.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   ...     id_29        id_30                id_31  id_32      id_33  \
0  ...       NaN          NaN                  NaN    NaN        NaN
1  ...       NaN          NaN                  NaN    NaN        NaN
2  ...       NaN          NaN                  NaN    NaN        NaN
3  ...       NaN          NaN                  NaN    NaN        NaN
4  ...  NotFound  Android 7.0  samsung browser 6.2   32.0  2220x1080

            id_34  id_35  id_36  id_37  id_38
0             NaN    NaN    NaN    NaN    NaN
1             NaN    NaN    NaN    NaN    NaN
2             NaN    NaN    NaN    NaN    NaN
3             NaN    NaN    NaN    NaN    NaN
4  match_status:2      T      F      T      T

[5 rows x 38 columns]
   addr1  addr2
0  315.0   87.0
1  325.0   87.0
2  330.0   87.0
3  476.0   87.0
4  420.0   87.0
   dist1  dist2
0   19.0    NaN
1    NaN    NaN
2  287.0    NaN
3    NaN    NaN
4    NaN    NaN
  ProductCD P_emaildomain
0         W           NaN
1         W     gmail.com
2         W   outlook.com
3         W     yahoo.com
4         H     gmail.com
  R_emaildomain
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

In [74]:
list(train.id_33.value_counts().index)

['1920x1080',
 '1366x768',
 '1334x750',
 '2208x1242',
 '1440x900',
 '1600x900',
 '2048x1536',
 '1280x800',
 '2560x1600',
 '2560x1440',
 '2880x1800',
 '1280x1024',
 '1680x1050',
 '1136x640',
 '2436x1125',
 '1280x720',
 '1920x1200',
 '2001x1125',
 '1024x768',
 '2220x1080',
 '5120x2880',
 '3360x2100',
 '2732x2048',
 '1366x767',
 '3840x2160',
 '855x480',
 '2736x1824',
 '1360x768',
 '4096x2304',
 '2224x1668',
 '2220x1081',
 '2160x1440',
 '2961x1442',
 '3200x1800',
 '2560x1080',
 '2562x1442',
 '1600x1200',
 '1280x768',
 '3000x2000',
 '1024x600',
 '1280x1025',
 '1152x864',
 '3440x1440',
 '801x480',
 '2400x1350',
 '960x540',
 '2672x1440',
 '1919x1079',
 '1365x768',
 '2048x1152',
 '1919x1080',
 '2960x1440',
 '1920x1281',
 '1921x1081',
 '1536x864',
 '1280x960',
 '1152x720',
 '3840x2400',
 '2112x1188',
 '2880x1620',
 '1728x972',
 '1502x844',
 '2048x1280',
 '1364x768',
 '1280x1023',
 '1599x900',
 '2049x1152',
 '1920x1079',
 '2400x1600',
 '1281x801',
 '1024x640',
 '3360x1890',
 '1600x899',
 '960x640',
 '2880x1442',
 '3441x1440',
 '2049x1536',
 '1400x1050',
 '3201x1800',
 '1344x756',
 '1279x1024',
 '1279x1023',
 '2961x1440',
 '640x360',
 '1024x552',
 '1440x810',
 '1679x1049',
 '2880x1440',
 '1920x1081',
 '1680x1049',
 '2000x1125',
 '1023x768',
 '1281x721',
 '1152x648',
 '1600x1000',
 '1368x768',
 '2304x1440',
 '4500x3000',
 '0x0',
 '2735x1823',
 '3240x2160',
 '1184x720',
 '800x600',
 '1768x992',
 '1344x840',
 '1920x975',
 '1599x899',
 '1919x1200',
 '1919x1199',
 '2520x1575',
 '1707x960',
 '1727x971',
 '1800x1125',
 '1296x774',
 '1776x1000',
 '1280x600',
 '1480x720',
 '1093x615',
 '1023x767',
 '3841x2161',
 '3839x2160',
 '1916x901',
 '1024x767',
 '5760x3240',
 '2560x1800',
 '3840x1600',
 '1200x675',
 '2304x1296',
 '2560x1700',
 '3600x2250',
 '2561x1442',
 '1365x767',
 '1921x1080',
 '1600x837',
 '1356x900',
 '3843x2163',
 '2392x1440',
 '2160x1215',
 '2076x1080',
 '1624x1080',
 '1805x1015',
 '2735x1825',
 '5760x1080',
 '3200x2000',
 '1440x960',
 '1684x947',
 '1680x945',
 '1280x712',
 '1229x691',
 '1440x720',
 '1824x1026',
 '1371x857',
 '1760x990',
 '2256x1504',
 '1439x899',
 '1025x768',
 '6016x3384',
 '1281x720',
 '1408x880',
 '1439x900',
 '2400x1500',
 '1680x1051',
 '1584x990',
 '2737x1825',
 '1600x1024',
 '1512x945',
 '2700x1800',
 '3840x1080',
 '1848x1155',
 '2160x1080',
 '1200x720',
 '1239x697',
 '1024x819',
 '1920x1280',
 '1888x941',
 '1272x960',
 '2591x1619',
 '1920x1279',
 '1918x1080',
 '1729x973',
 '2882x1442',
 '2048x1278',
 '2559x1439',
 '2710x1440',
 '2736x1823',
 '2159x1440',
 '2160x1081',
 '1511x944',
 '1596x710',
 '3838x2158',
 '3199x1800',
 '3001x2000',
 '2160x1439',
 '4499x2999',
 '2559x1440',
 '1280x740',
 '1502x845',
 '3838x2160',
 '2100x1312',
 '2159x1439',
 '480x320',
 '1360x767',
 '3696x2310',
 '3840x2162',
 '3839x2159',
 '1280x732',
 '1092x614',
 '2255x1503',
 '1440x899',
 '1359x768',
 '4200x2625',
 '2999x2000',
 '1638x922',
 '1658x946',
 '921x691',
 '2010x1080',
 '1912x1025',
 '1138x640',
 '6400x3600',
 '2368x1440',
 '1700x960',
 '3520x1980',
 '1280x900',
 '2160x1350',
 '3360x1050',
 '1422x889',
 '1408x792',
 '1400x900',
 '2048x1080',
 '1264x924',
 '2816x1584',
 '1232x800',
 '1188x720',
 '3072x1728',
 '5040x3150',
 '7500x5000',
 '600x450',
 '1776x1080',
 '2552x1337',
 '2816x1760',
 '1439x809',
 '1920x1201',
 '1536x960',
 '1281x800',
 '768x576',
 '1441x901',
 '1120x700',
 '1440x759',
 '6720x3780',
 '2800x1575',
 '1062x630',
 '976x600',
 '1720x1440',
 '1366x1024',
 '1280x620',
 '1536x1152',
 '1920x1018',
 '1440x803',
 '1440x800',
 '1496x844']

In [75]:
train.shape

(590540, 433)

In [10]:
# Posible metodo para hacer time-split crossvalidation
rows = train.shape[0]
for i in range(5):
    print((rows/5)*i, (rows/5)*(i+1))

0.0 118108.0
118108.0 236216.0
236216.0 354324.0
354324.0 472432.0
472432.0 590540.0

In [77]:
for ft in cat_ft:
    v_c = train[ft].value_counts(dropna=False)
    print('LEN de {0}: {1}'.format(ft, len(v_c)))
    print('Suma de NA: {}'.format(train[ft].isna().sum()))
    print(v_c,'\n')

LEN de ProductCD: 5
Suma de NA: 0
W    439670
C     68519
R     37699
H     33024
S     11628
Name: ProductCD, dtype: int64

LEN de P_emaildomain: 60
Suma de NA: 94456
gmail.com           228355
yahoo.com           100934
NaN                  94456
hotmail.com          45250
anonymous.com        36998
aol.com              28289
comcast.net           7888
icloud.com            6267
outlook.com           5096
msn.com               4092
att.net               4033
live.com              3041
sbcglobal.net         2970
verizon.net           2705
ymail.com             2396
bellsouth.net         1909
yahoo.com.mx          1543
me.com                1522
cox.net               1393
optonline.net         1011
charter.net            816
live.com.mx            749
rocketmail.com         664
mail.com               559
earthlink.net          514
gmail                  496
outlook.es             438
mac.com                436
juno.com               322
aim.com                315
hotmail.es             305
roadrunner.com         305
windstream.net         305
hotmail.fr             295
frontier.com           280
embarqmail.com         260
web.de                 240
netzero.com            230
twc.com                230
prodigy.net.mx         207
centurylink.net        205
netzero.net            196
frontiernet.net        195
q.com                  189
suddenlink.net         175
cfl.rr.com             172
sc.rr.com              164
cableone.net           159
gmx.de                 149
yahoo.fr               143
yahoo.es               134
hotmail.co.uk          112
protonmail.com          76
yahoo.de                74
ptd.net                 68
live.fr                 56
yahoo.co.uk             49
hotmail.de              43
servicios-ta.com        35
yahoo.co.jp             32
Name: P_emaildomain, dtype: int64

LEN de R_emaildomain: 61
Suma de NA: 453249
NaN                453249
gmail.com           57147
hotmail.com         27509
anonymous.com       20529
yahoo.com           11842
                    ...
frontiernet.net        14
netzero.com            14
centurylink.net        12
netzero.net             9
sc.rr.com               8
Name: R_emaildomain, Length: 61, dtype: int64

LEN de card1: 13553
Suma de NA: 0
7919     14932
9500     14162
15885    10361
17188    10344
15066     7945
         ...
12390        1
10341        1
10006        1
15743        1
17105        1
Name: card1, Length: 13553, dtype: int64

LEN de card2: 501
Suma de NA: 8933
321.0    48935
111.0    45191
555.0    41995
490.0    38145
583.0    21803
         ...
447.0       39
153.0       38
557.0       37
473.0       18
582.0       14
Name: card2, Length: 501, dtype: int64

LEN de card3: 115
Suma de NA: 1565
150.0    521287
185.0     56346
106.0      1571
NaN        1565
146.0      1252
          ...
199.0         1
164.0         1
201.0         1
228.0         1
101.0         1
Name: card3, Length: 115, dtype: int64

LEN de card4: 5
Suma de NA: 1577
visa                384767
mastercard          189217
american express      8328
discover              6651
NaN                   1577
Name: card4, dtype: int64

LEN de card5: 120
Suma de NA: 4259
226.0    296546
224.0     81513
166.0     57140
102.0     29105
117.0     25941
          ...
175.0         1
173.0         1
167.0         1
234.0         1
204.0         1
Name: card5, Length: 120, dtype: int64

LEN de card6: 5
Suma de NA: 1571
debit              439938
credit             148986
NaN                  1571
debit or credit        30
charge card            15
Name: card6, dtype: int64

LEN de addr1: 333
Suma de NA: 65706
NaN      65706
299.0    46335
325.0    42751
204.0    42020
264.0    39870
         ...
238.0        1
338.0        1
241.0        1
243.0        1
353.0        1
Name: addr1, Length: 333, dtype: int64

LEN de addr2: 75
Suma de NA: 65706
87.0    520481
NaN      65706
60.0      3084
96.0       638
32.0        91
         ...
22.0         1
25.0         1
75.0         1
49.0         1
77.0         1
Name: addr2, Length: 75, dtype: int64

LEN de M1: 3
Suma de NA: 271100
T      319415
NaN    271100
F          25
Name: M1, dtype: int64

LEN de M2: 3
Suma de NA: 271100
T      285468
NaN    271100
F       33972
Name: M2, dtype: int64

LEN de M3: 3
Suma de NA: 271100
NaN    271100
T      251731
F       67709
Name: M3, dtype: int64

LEN de M4: 4
Suma de NA: 281444
NaN    281444
M0     196405
M2      59865
M1      52826
Name: M4, dtype: int64

LEN de M5: 3
Suma de NA: 350482
NaN    350482
F      132491
T      107567
Name: M5, dtype: int64

LEN de M6: 3
Suma de NA: 169360
F      227856
T      193324
NaN    169360
Name: M6, dtype: int64

LEN de M7: 3
Suma de NA: 346265
NaN    346265
F      211374
T       32901
Name: M7, dtype: int64

LEN de M8: 3
Suma de NA: 346252
NaN    346252
F      155251
T       89037
Name: M8, dtype: int64

LEN de M9: 3
Suma de NA: 346252
NaN    346252
T      205656
F       38632
Name: M9, dtype: int64

LEN de DeviceType: 3
Suma de NA: 449730
NaN        449730
desktop     85165
mobile      55645
Name: DeviceType, dtype: int64

LEN de DeviceInfo: 1787
Suma de NA: 471874
NaN            471874
Windows         47722
iOS Device      19782
MacOS           12573
Trident/7.0      7440
                ...
XT1072              1
verykool            1
A1-850              1
LG-V500             1
0PJA2               1
Name: DeviceInfo, Length: 1787, dtype: int64

LEN de id_12: 3
Suma de NA: 446307
NaN         446307
NotFound    123025
Found        21208
Name: id_12, dtype: int64

LEN de id_13: 55
Suma de NA: 463220
NaN     463220
52.0     58099
49.0     26365
64.0     14429
33.0     10048
27.0      3666
20.0      2878
14.0      2499
63.0      1468
19.0      1147
25.0      1066
43.0       842
62.0       813
18.0       688
41.0       654
55.0       523
11.0       373
15.0       372
24.0       318
35.0       317
51.0       196
61.0       108
44.0        85
54.0        67
28.0        59
39.0        34
31.0        29
45.0        26
38.0        22
13.0        21
58.0        17
36.0        15
48.0        10
32.0        10
56.0         9
30.0         7
22.0         5
53.0         4
57.0         3
60.0         3
47.0         3
46.0         3
17.0         3
21.0         3
12.0         2
26.0         2
37.0         1
34.0         1
29.0         1
42.0         1
23.0         1
10.0         1
50.0         1
59.0         1
40.0         1
Name: id_13, dtype: int64

LEN de id_14: 26
Suma de NA: 510496
 NaN      510496
-300.0     44121
-360.0     16661
-480.0     12891
-420.0      4542
-600.0       498
 60.0        369
 0.0         192
-240.0       159
-180.0       126
-540.0       111
 480.0        80
 540.0        64
 600.0        62
 120.0        41
 180.0        37
 420.0        19
 330.0        17
 270.0        15
 240.0        13
 300.0        12
 720.0         9
-660.0         2
-210.0         1
 360.0         1
-120.0         1
Name: id_14, dtype: int64

LEN de id_15: 4
Suma de NA: 449555
NaN        449555
Found       67728
New         61612
Unknown     11645
Name: id_15, dtype: int64

LEN de id_16: 3
Suma de NA: 461200
NaN         461200
Found        66324
NotFound     63016
Name: id_16, dtype: int64

LEN de id_17: 105
Suma de NA: 451171
NaN      451171
166.0     78631
225.0     56968
102.0       689
159.0       352
          ...
211.0         1
154.0         1
220.0         1
207.0         1
112.0         1
Name: id_17, Length: 105, dtype: int64

LEN de id_18: 19
Suma de NA: 545427
NaN     545427
15.0     25489
13.0     13439
12.0      4656
18.0       650
20.0       339
17.0       233
26.0        89
21.0        78
24.0        52
11.0        36
27.0        32
29.0         9
23.0         4
14.0         3
16.0         1
25.0         1
28.0         1
10.0         1
Name: id_18, dtype: int64

LEN de id_19: 523
Suma de NA: 451222
NaN      451222
266.0     19849
410.0     11318
427.0      8808
529.0      8122
          ...
425.0         1
412.0         1
135.0         1
363.0         1
428.0         1
Name: id_19, Length: 523, dtype: int64

LEN de id_20: 395
Suma de NA: 451279
NaN      451279
507.0     22311
222.0     11065
325.0      8133
533.0      6611
          ...
108.0         1
659.0         1
322.0         1
316.0         1
606.0         1
Name: id_20, Length: 395, dtype: int64

LEN de id_21: 491
Suma de NA: 585381
NaN      585381
252.0      2542
228.0       239
255.0       109
596.0       103
          ...
759.0         1
758.0         1
158.0         1
753.0         1
115.0         1
Name: id_21, Length: 491, dtype: int64

LEN de id_22: 26
Suma de NA: 585371
NaN     585371
14.0      4736
41.0       321
33.0        38
21.0         7
17.0         7
39.0         6
35.0         5
36.0         5
22.0         5
12.0         5
31.0         5
24.0         4
20.0         4
26.0         4
42.0         3
28.0         3
19.0         2
38.0         2
18.0         1
44.0         1
43.0         1
40.0         1
23.0         1
37.0         1
10.0         1
Name: id_22, dtype: int64

LEN de id_23: 4
Suma de NA: 585371
NaN                     585371
IP_PROXY:TRANSPARENT      3489
IP_PROXY:ANONYMOUS        1071
IP_PROXY:HIDDEN            609
Name: id_23, dtype: int64

LEN de id_24: 13
Suma de NA: 585793
NaN     585793
11.0      2817
15.0      1594
16.0       220
18.0        37
21.0        33
24.0        12
17.0         9
26.0         8
25.0         7
19.0         5
12.0         4
23.0         1
Name: id_24, dtype: int64

LEN de id_25: 342
Suma de NA: 585408
NaN      585408
321.0      2494
205.0       301
426.0       236
501.0       103
          ...
319.0         1
330.0         1
331.0         1
336.0         1
292.0         1
Name: id_25, Length: 342, dtype: int64

LEN de id_26: 96
Suma de NA: 585377
NaN      585377
161.0       824
184.0       582
142.0       528
102.0       451
          ...
214.0         1
101.0         1
115.0         1
122.0         1
189.0         1
Name: id_26, Length: 96, dtype: int64

LEN de id_27: 3
Suma de NA: 585371
NaN         585371
Found         5155
NotFound        14
Name: id_27, dtype: int64

LEN de id_28: 3
Suma de NA: 449562
NaN      449562
Found     76232
New       64746
Name: id_28, dtype: int64

LEN de id_29: 3
Suma de NA: 449562
NaN         449562
Found        74926
NotFound     66052
Name: id_29, dtype: int64

LEN de id_30: 76
Suma de NA: 512975
NaN                 512975
Windows 10           21155
Windows 7            13110
iOS 11.2.1            3722
iOS 11.1.2            3699
                     ...
func                    10
iOS 11.4.0               5
Mac OS X 10_13_5         4
Windows                  3
iOS 11.4.1               1
Name: id_30, Length: 76, dtype: int64

LEN de id_31: 131
Suma de NA: 450258
NaN                        450258
chrome 63.0                 22000
mobile safari 11.0          13423
mobile safari generic       11474
ie 11.0 for desktop          9030
                            ...
Nokia/Lumia                     1
android                         1
Cherry                          1
chrome 67.0 for android         1
chromium                        1
Name: id_31, Length: 131, dtype: int64

LEN de id_32: 5
Suma de NA: 512954
NaN     512954
24.0     53071
32.0     24428
16.0        81
0.0          6
Name: id_32, dtype: int64

LEN de id_33: 261
Suma de NA: 517251
NaN          517251
1920x1080     16874
1366x768       8605
1334x750       6447
2208x1242      4900
              ...
1138x640          1
1720x1440         1
1280x620          1
1920x1018         1
7500x5000         1
Name: id_33, Length: 261, dtype: int64

LEN de id_34: 5
Suma de NA: 512735
NaN                512735
match_status:2      60011
match_status:1      17376
match_status:0        415
match_status:-1         3
Name: id_34, dtype: int64

LEN de id_35: 3
Suma de NA: 449555
NaN    449555
T       77814
F       63171
Name: id_35, dtype: int64

LEN de id_36: 3
Suma de NA: 449555
NaN    449555
F      134066
T        6919
Name: id_36, dtype: int64

LEN de id_37: 3
Suma de NA: 449555
NaN    449555
T      110452
F       30533
Name: id_37, dtype: int64

LEN de id_38: 3
Suma de NA: 449555
NaN    449555
F       73922
T       67063
Name: id_38, dtype: int64

In [11]:
first_na_impute_cat = {
    'P_emaildomain': 'na.na',
    'R_emaildomain': 'na.na',
    'card2': -1,
    'card3': -1,
    'card4': 'U',
    'card5': -1,
    'card6': 'U',
    'addr1': -1,
    'addr2': -1,
    'M1': 'U',
    'M2': 'U',
    'M3': 'U',
    'M4': 'M3',
    'M5': 'U',
    'M6': 'U',
    'M7': 'U',
    'M8': 'U',
    'M9': 'U',
    'DeviceType': 'U',
    'DeviceInfo': 'U',
    'id_12': 'U',
    'id_13': -1,
    'id_14': -1,
    'id_15': 'U',
    'id_16': 'U',
    'id_17': -1,
    'id_18': -1,
    'id_19': -1,
    'id_20': -1,
    'id_21': -1,
    'id_22': -1,
    'id_23': 'IP_PROXY:NA',
    'id_24': -1,
    'id_25': -1,
    'id_26': -1,
    'id_27': 'U',
    'id_28': 'U',
    'id_29': 'U',
    'id_30': 'U',
    'id_31': 'U',
    'id_32': 99,
    'id_33': '9999x9999',
    'id_34': 'match_status:-2',
    'id_35': 'U',
    'id_36': 'U',
    'id_37': 'U',
    'id_38': 'U',
}

In [12]:
train[first_na_impute_cat.keys()].head()

,P_emaildomain,R_emaildomain,card2,card3,card4,card5,card6,addr1,addr2,M1,...,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38
0,NaN,NaN,NaN,150.0,discover,142.0,credit,315.0,87.0,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gmail.com,NaN,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,outlook.com,NaN,490.0,150.0,visa,166.0,debit,330.0,87.0,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,yahoo.com,NaN,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,gmail.com,NaN,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,...,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T

In [209]:
train_imputed = train.fillna(first_na_impute_cat)

In [200]:
# n_cut = 64
# y = pd.cut(train_imputed['DeviceInfo'], bins=n_cut, labels=list(range(n_cut-1, -1, -1)), include_lowest=True)
# train_imputed['DeviceInfo_2'] = y

In [274]:
def freq_encoder(df, label, new_label, min_freq = 0.001):
    rows = df.shape[0]
    n = 0
    dict_fe = dict()
    vc = df[label].value_counts()
    for i, j in zip(vc.index, vc):
        ratio = j/rows
        if ratio > min_freq:
            dict_fe[i] = n
            n += 1
        else:
            dict_fe[i] = n
        
    if n < 2**8:
        _d_type = 'uint8'
    elif n >= 2**8 and n < 8**16:
        _d_type = 'uint16'
    elif n >= 2**16 and n < 8**32:
        _d_type = 'uint32'
    else:
        _d_type = 'uint64'
        
    df[new_label] = df[label].apply(lambda x: dict_fe[x]).astype(_d_type)
    
    n = 0
    dict_fe = dict()
    vc = df[label].value_counts()
    for i, j in zip(vc.index, vc):
        ratio = j/rows
        if ratio > min_freq:
            dict_fe[i] = n
            n += 1
        else:
            dict_fe[i] = n
            
    df[new_label] = df[label].apply(lambda x: dict_fe[x]).astype(_d_type)
    
    return df

In [241]:
train_imputed = freq_encoder(train_imputed, 'DeviceInfo', 'DeviceInfo', min_freq = 0.001)
len(train_imputed['DeviceInfo'].value_counts())

8

In [15]:
for ft in cat_ft:
    v_c = train_imputed[ft].value_counts(dropna=False)
    print('LEN de {0}: {1}'.format(ft, len(v_c)))
    print('Suma de NA: {}'.format(train_imputed[ft].isna().sum()))
    print(v_c,'\n')

LEN de ProductCD: 5
Suma de NA: 0
W    439670
C     68519
R     37699
H     33024
S     11628
Name: ProductCD, dtype: int64

LEN de P_emaildomain: 60
Suma de NA: 0
gmail.com           228355
yahoo.com           100934
na.na                94456
hotmail.com          45250
anonymous.com        36998
aol.com              28289
comcast.net           7888
icloud.com            6267
outlook.com           5096
msn.com               4092
att.net               4033
live.com              3041
sbcglobal.net         2970
verizon.net           2705
ymail.com             2396
bellsouth.net         1909
yahoo.com.mx          1543
me.com                1522
cox.net               1393
optonline.net         1011
charter.net            816
live.com.mx            749
rocketmail.com         664
mail.com               559
earthlink.net          514
gmail                  496
outlook.es             438
mac.com                436
juno.com               322
aim.com                315
windstream.net         305
roadrunner.com         305
hotmail.es             305
hotmail.fr             295
frontier.com           280
embarqmail.com         260
web.de                 240
netzero.com            230
twc.com                230
prodigy.net.mx         207
centurylink.net        205
netzero.net            196
frontiernet.net        195
q.com                  189
suddenlink.net         175
cfl.rr.com             172
sc.rr.com              164
cableone.net           159
gmx.de                 149
yahoo.fr               143
yahoo.es               134
hotmail.co.uk          112
protonmail.com          76
yahoo.de                74
ptd.net                 68
live.fr                 56
yahoo.co.uk             49
hotmail.de              43
servicios-ta.com        35
yahoo.co.jp             32
Name: P_emaildomain, dtype: int64

LEN de R_emaildomain: 61
Suma de NA: 0
na.na              453249
gmail.com           57147
hotmail.com         27509
anonymous.com       20529
yahoo.com           11842
                    ...
frontiernet.net        14
netzero.com            14
centurylink.net        12
netzero.net             9
sc.rr.com               8
Name: R_emaildomain, Length: 61, dtype: int64

LEN de card1: 13553
Suma de NA: 0
7919     14932
9500     14162
15885    10361
17188    10344
15066     7945
         ...
12390        1
10341        1
10006        1
15743        1
17105        1
Name: card1, Length: 13553, dtype: int64

LEN de card2: 501
Suma de NA: 0
321.0    48935
111.0    45191
555.0    41995
490.0    38145
583.0    21803
         ...
388.0       39
153.0       38
557.0       37
473.0       18
582.0       14
Name: card2, Length: 501, dtype: int64

LEN de card3: 115
Suma de NA: 0
 150.0    521287
 185.0     56346
 106.0      1571
-1.0        1565
 146.0      1252
           ...
 199.0         1
 164.0         1
 201.0         1
 228.0         1
 101.0         1
Name: card3, Length: 115, dtype: int64

LEN de card4: 5
Suma de NA: 0
visa                384767
mastercard          189217
american express      8328
discover              6651
U                     1577
Name: card4, dtype: int64

LEN de card5: 120
Suma de NA: 0
226.0    296546
224.0     81513
166.0     57140
102.0     29105
117.0     25941
          ...
175.0         1
173.0         1
167.0         1
234.0         1
204.0         1
Name: card5, Length: 120, dtype: int64

LEN de card6: 5
Suma de NA: 0
debit              439938
credit             148986
U                    1571
debit or credit        30
charge card            15
Name: card6, dtype: int64

LEN de addr1: 333
Suma de NA: 0
-1.0      65706
 299.0    46335
 325.0    42751
 204.0    42020
 264.0    39870
          ...
 238.0        1
 241.0        1
 338.0        1
 243.0        1
 211.0        1
Name: addr1, Length: 333, dtype: int64

LEN de addr2: 75
Suma de NA: 0
 87.0    520481
-1.0      65706
 60.0      3084
 96.0       638
 32.0        91
          ...
 55.0         1
 14.0         1
 75.0         1
 22.0         1
 70.0         1
Name: addr2, Length: 75, dtype: int64

LEN de M1: 3
Suma de NA: 0
T    319415
U    271100
F        25
Name: M1, dtype: int64

LEN de M2: 3
Suma de NA: 0
T    285468
U    271100
F     33972
Name: M2, dtype: int64

LEN de M3: 3
Suma de NA: 0
U    271100
T    251731
F     67709
Name: M3, dtype: int64

LEN de M4: 4
Suma de NA: 0
M3    281444
M0    196405
M2     59865
M1     52826
Name: M4, dtype: int64

LEN de M5: 3
Suma de NA: 0
U    350482
F    132491
T    107567
Name: M5, dtype: int64

LEN de M6: 3
Suma de NA: 0
F    227856
T    193324
U    169360
Name: M6, dtype: int64

LEN de M7: 3
Suma de NA: 0
U    346265
F    211374
T     32901
Name: M7, dtype: int64

LEN de M8: 3
Suma de NA: 0
U    346252
F    155251
T     89037
Name: M8, dtype: int64

LEN de M9: 3
Suma de NA: 0
U    346252
T    205656
F     38632
Name: M9, dtype: int64

LEN de DeviceType: 3
Suma de NA: 0
U          449730
desktop     85165
mobile      55645
Name: DeviceType, dtype: int64

LEN de DeviceInfo: 1786
Suma de NA: 0
U                              471876
Windows                         47722
iOS Device                      19782
MacOS                           12573
Trident/7.0                      7440
                                ...
ASUS_A001                           1
SM-T818V                            1
GT-S5310L                           1
GT-I8190N                           1
ZTE BLADE A321 Build/NMF26F         1
Name: DeviceInfo, Length: 1786, dtype: int64

LEN de id_12: 3
Suma de NA: 0
U           446307
NotFound    123025
Found        21208
Name: id_12, dtype: int64

LEN de id_13: 55
Suma de NA: 0
-1.0     463220
 52.0     58099
 49.0     26365
 64.0     14429
 33.0     10048
 27.0      3666
 20.0      2878
 14.0      2499
 63.0      1468
 19.0      1147
 25.0      1066
 43.0       842
 62.0       813
 18.0       688
 41.0       654
 55.0       523
 11.0       373
 15.0       372
 24.0       318
 35.0       317
 51.0       196
 61.0       108
 44.0        85
 54.0        67
 28.0        59
 39.0        34
 31.0        29
 45.0        26
 38.0        22
 13.0        21
 58.0        17
 36.0        15
 48.0        10
 32.0        10
 56.0         9
 30.0         7
 22.0         5
 53.0         4
 57.0         3
 60.0         3
 47.0         3
 46.0         3
 17.0         3
 21.0         3
 12.0         2
 26.0         2
 37.0         1
 34.0         1
 29.0         1
 42.0         1
 23.0         1
 10.0         1
 50.0         1
 59.0         1
 40.0         1
Name: id_13, dtype: int64

LEN de id_14: 26
Suma de NA: 0
-1.0      510496
-300.0     44121
-360.0     16661
-480.0     12891
-420.0      4542
-600.0       498
 60.0        369
 0.0         192
-240.0       159
-180.0       126
-540.0       111
 480.0        80
 540.0        64
 600.0        62
 120.0        41
 180.0        37
 420.0        19
 330.0        17
 270.0        15
 240.0        13
 300.0        12
 720.0         9
-660.0         2
-210.0         1
 360.0         1
-120.0         1
Name: id_14, dtype: int64

LEN de id_15: 4
Suma de NA: 0
U          449555
Found       67728
New         61612
Unknown     11645
Name: id_15, dtype: int64

LEN de id_16: 3
Suma de NA: 0
U           461200
Found        66324
NotFound     63016
Name: id_16, dtype: int64

LEN de id_17: 105
Suma de NA: 0
-1.0      451171
 166.0     78631
 225.0     56968
 102.0       689
 159.0       352
           ...
 211.0         1
 154.0         1
 220.0         1
 207.0         1
 112.0         1
Name: id_17, Length: 105, dtype: int64

LEN de id_18: 19
Suma de NA: 0
-1.0     545427
 15.0     25489
 13.0     13439
 12.0      4656
 18.0       650
 20.0       339
 17.0       233
 26.0        89
 21.0        78
 24.0        52
 11.0        36
 27.0        32
 29.0         9
 23.0         4
 14.0         3
 28.0         1
 16.0         1
 25.0         1
 10.0         1
Name: id_18, dtype: int64

LEN de id_19: 523
Suma de NA: 0
-1.0      451222
 266.0     19849
 410.0     11318
 427.0      8808
 529.0      8122
           ...
 386.0         1
 389.0         1
 552.0         1
 416.0         1
 319.0         1
Name: id_19, Length: 523, dtype: int64

LEN de id_20: 395
Suma de NA: 0
-1.0      451279
 507.0     22311
 222.0     11065
 325.0      8133
 533.0      6611
           ...
 255.0         1
 640.0         1
 219.0         1
 459.0         1
 329.0         1
Name: id_20, Length: 395, dtype: int64

LEN de id_21: 491
Suma de NA: 0
-1.0      585381
 252.0      2542
 228.0       239
 255.0       109
 596.0       103
           ...
 759.0         1
 758.0         1
 158.0         1
 753.0         1
 115.0         1
Name: id_21, Length: 491, dtype: int64

LEN de id_22: 26
Suma de NA: 0
-1.0     585371
 14.0      4736
 41.0       321
 33.0        38
 17.0         7
 21.0         7
 39.0         6
 35.0         5
 36.0         5
 12.0         5
 31.0         5
 22.0         5
 20.0         4
 24.0         4
 26.0         4
 28.0         3
 42.0         3
 19.0         2
 38.0         2
 18.0         1
 44.0         1
 43.0         1
 40.0         1
 23.0         1
 37.0         1
 10.0         1
Name: id_22, dtype: int64

LEN de id_23: 4
Suma de NA: 0
IP_PROXY:NA             585371
IP_PROXY:TRANSPARENT      3489
IP_PROXY:ANONYMOUS        1071
IP_PROXY:HIDDEN            609
Name: id_23, dtype: int64

LEN de id_24: 13
Suma de NA: 0
-1.0     585793
 11.0      2817
 15.0      1594
 16.0       220
 18.0        37
 21.0        33
 24.0        12
 17.0         9
 26.0         8
 25.0         7
 19.0         5
 12.0         4
 23.0         1
Name: id_24, dtype: int64

LEN de id_25: 342
Suma de NA: 0
-1.0      585408
 321.0      2494
 205.0       301
 426.0       236
 501.0       103
           ...
 319.0         1
 330.0         1
 331.0         1
 336.0         1
 292.0         1
Name: id_25, Length: 342, dtype: int64

LEN de id_26: 96
Suma de NA: 0
-1.0      585377
 161.0       824
 184.0       582
 142.0       528
 102.0       451
           ...
 214.0         1
 101.0         1
 115.0         1
 122.0         1
 189.0         1
Name: id_26, Length: 96, dtype: int64

LEN de id_27: 3
Suma de NA: 0
U           585371
Found         5155
NotFound        14
Name: id_27, dtype: int64

LEN de id_28: 3
Suma de NA: 0
U        449562
Found     76232
New       64746
Name: id_28, dtype: int64

LEN de id_29: 3
Suma de NA: 0
U           449562
Found        74926
NotFound     66052
Name: id_29, dtype: int64

LEN de id_30: 76
Suma de NA: 0
U                   512975
Windows 10           21155
Windows 7            13110
iOS 11.2.1            3722
iOS 11.1.2            3699
                     ...
func                    10
iOS 11.4.0               5
Mac OS X 10_13_5         4
Windows                  3
iOS 11.4.1               1
Name: id_30, Length: 76, dtype: int64

LEN de id_31: 131
Suma de NA: 0
U                        450258
chrome 63.0               22000
mobile safari 11.0        13423
mobile safari generic     11474
ie 11.0 for desktop        9030
                          ...
cyberfox                      1
LG/K-200                      1
Cherry                        1
android                       1
BLU/Dash                      1
Name: id_31, Length: 131, dtype: int64

LEN de id_32: 5
Suma de NA: 0
99.0    512954
24.0     53071
32.0     24428
16.0        81
0.0          6
Name: id_32, dtype: int64

LEN de id_33: 261
Suma de NA: 0
9999x9999    517251
1920x1080     16874
1366x768       8605
1334x750       6447
2208x1242      4900
              ...
3838x2158         1
1536x960          1
2368x1440         1
2160x1439         1
2710x1440         1
Name: id_33, Length: 261, dtype: int64

LEN de id_34: 5
Suma de NA: 0
match_status:-2    512735
match_status:2      60011
match_status:1      17376
match_status:0        415
match_status:-1         3
Name: id_34, dtype: int64

LEN de id_35: 3
Suma de NA: 0
U    449555
T     77814
F     63171
Name: id_35, dtype: int64

LEN de id_36: 3
Suma de NA: 0
U    449555
F    134066
T      6919
Name: id_36, dtype: int64

LEN de id_37: 3
Suma de NA: 0
U    449555
T    110452
F     30533
Name: id_37, dtype: int64

LEN de id_38: 3
Suma de NA: 0
U    449555
F     73922
T     67063
Name: id_38, dtype: int64

In [250]:
train_imputed['P_emaildomain_0'] = train_imputed['P_emaildomain'].apply(lambda x: x.split('.')[0])
train_imputed['P_emaildomain_1'] = train_imputed['P_emaildomain'].apply(lambda x: '.'.join(x.split('.')[1:]))
train_imputed['R_emaildomain_0'] = train_imputed['R_emaildomain'].apply(lambda x: x.split('.')[0])
train_imputed['R_emaildomain_1'] = train_imputed['R_emaildomain'].apply(lambda x: '.'.join(x.split('.')[1:]))

In [226]:
def proc_id_30_0(x):
    x = x.lower()
    try:
        if 'windows' in x or 'android' in x:
            return x.split()[1]
        elif 'ios' in x:
            return x.split()[1].split('.')[0]
        elif 'mac' in x:
            return x.split()[-1]
        elif 'linux' in x:
            return 'linux'
        else:
            return 'other'
    except:
        return 'other'
    
def proc_id_30_1(x):
    x = x.lower()
    if 'windows' in x:
        return 'windows'
    elif 'ios' in x:
        return 'ios'
    elif 'android' in x:
        return 'android'
    elif 'mac' in x:
        return 'mac'
    elif 'linux' in x:
        return 'linux'
    else:
        return 'other'

In [227]:
train_imputed['proc_id_30_0'] = train_imputed['id_30'].apply(lambda x: proc_id_30_0(x))
train_imputed['proc_id_30_1'] = train_imputed['id_30'].apply(lambda x: proc_id_30_1(x))

In [229]:
def proc_id_31_0(x):
    x = x.lower()
    if 'chrome' in x and not 'android' in x:
        return 'chrome'
    elif 'mobile' in x and 'safari' in x:
        return 'safari_mobile'
    elif 'ie' in x:
        return 'ie'
    elif 'safari' in x and not 'mobile' in x:
        return 'safari'
    elif 'chrome' in x and 'android' in x:
        return 'chrome_android'
    elif 'edge' in x:
        return 'edge'
    elif 'firefox' in x:
        return 'firefox'
    elif 'samsung' in x:
        return 'samsung'
    elif 'other' in x:
        return 'other'
    elif 'opera' in x:
        return 'opera'
    elif 'android' in x and not 'chrome' in x:
        return 'android'
    elif 'chrome' in x and 'ios' in x:
        return 'chrome_ios'
    elif 'google' in x:
        return 'google'
    else:
        return 'other'

In [230]:
train_imputed['proc_id_31_0'] = train_imputed['id_31'].apply(lambda x: proc_id_31_0(x))

In [234]:
train_imputed['TransactionDT'].median()

7306527.5

In [251]:
new_cat_ft = list()
for i, j in zip(train_imputed.dtypes, train_imputed.columns):
    if i in ['O', 'object']:
        new_cat_ft.append(j)
        
new_cat_ft = list(set(new_cat_ft)-set(cat_ft))
new_cat_ft = cat_ft + new_cat_ft
len(new_cat_ft)

56

In [231]:
train_imputed.head(10)

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo,proc_id_30_0,proc_id_30_1,proc_id_31_0
0,0,86400,68.5,W,13926,-1.0,150.0,discover,142.0,credit,...,match_status:-2,U,U,U,U,U,U,other,other,other
1,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,match_status:-2,U,U,U,U,U,U,other,other,other
2,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other
3,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other
4,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M,7.0,android,samsung
5,0,86510,49.0,W,5937,555.0,150.0,visa,226.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other
6,0,86522,159.0,W,12308,360.0,150.0,visa,166.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other
7,0,86529,422.5,W,12695,490.0,150.0,visa,226.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other
8,0,86535,15.0,H,2803,100.0,150.0,visa,226.0,debit,...,match_status:1,T,F,F,T,mobile,iOS Device,11,ios,safari_mobile
9,0,86536,117.0,W,17399,111.0,150.0,mastercard,224.0,debit,...,match_status:-2,U,U,U,U,U,U,other,other,other

In [309]:
for ft in new_cat_ft:
    train_imputed2 = freq_encoder(train_imputed2, ft, str(ft+'_fe'), min_freq = 0.0005)
    print('{0}: {1}'.format(ft, len(train_imputed2[ft+'_fe'].value_counts())))

ProductCD: 5
P_emaildomain: 34
R_emaildomain: 21
card1: 310
card2: 167
card3: 13
card4: 5
card5: 29
card6: 4
addr1: 60
addr2: 5
M1: 3
M2: 3
M3: 3
M4: 4
M5: 3
M6: 3
M7: 3
M8: 3
M9: 3
DeviceType: 3
DeviceInfo: 8
id_12: 3
id_13: 21
id_14: 8
id_15: 4
id_16: 3
id_17: 7
id_18: 7
id_19: 43
id_20: 57
id_21: 3
id_22: 4
id_23: 4
id_24: 4
id_25: 4
id_26: 9
id_27: 3
id_28: 3
id_29: 3
id_30: 33
id_31: 40
id_32: 4
id_33: 26
id_34: 5
id_35: 3
id_36: 3
id_37: 3
id_38: 3
proc_id_31_0: 11
P_emaildomain_1: 10
R_emaildomain_0: 18
R_emaildomain_1: 8
P_emaildomain_0: 30
proc_id_30_0: 22
proc_id_30_1: 6

In [305]:
train_imputed2.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_36_fe,id_37_fe,id_38_fe,proc_id_31_0_fe,P_emaildomain_1_fe,R_emaildomain_0_fe,R_emaildomain_1_fe,P_emaildomain_0_fe,proc_id_30_0_fe,proc_id_30_1_fe
0,0,86400,68.5,W,13926,-1.0,150.0,discover,142.0,credit,...,0,0,0,0,1,0,0,2,0,0
1,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,0,0,0,0,0,0,0,0,0,0
2,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,0,0,0,0,0,0,0,8,0,0
3,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,0,0,0,0,0,0,0,1,0,0
4,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,1,1,2,8,0,0,0,0,4,4

In [269]:
num_ft_imput_dict = dict()
for c in train_imputed.columns:
    if c not in new_cat_ft and train_imputed[c].isna().sum() > 0:
        mdn = train_imputed[c].median()
        num_ft_imput_dict[c] = mdn

In [271]:
train_imputed2 = train_imputed.fillna(num_ft_imput_dict)

In [310]:
train_imputed2.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_36_fe,id_37_fe,id_38_fe,proc_id_31_0_fe,P_emaildomain_1_fe,R_emaildomain_0_fe,R_emaildomain_1_fe,P_emaildomain_0_fe,proc_id_30_0_fe,proc_id_30_1_fe
0,0,86400,68.5,W,13926,-1.0,150.0,discover,142.0,credit,...,0,0,0,0,1,0,0,2,0,0
1,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,0,0,0,0,0,0,0,0,0,0
2,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,0,0,0,0,0,0,0,8,0,0
3,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,0,0,0,0,0,0,0,1,0,0
4,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,1,1,2,8,0,0,0,0,4,4

In [277]:
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_extraction.text import HashingVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve, auc
from sklearn.preprocessing import MinMaxScaler
from scipy.sparse import hstack, csr_matrix, vstack
import lightgbm as lgb

In [353]:
params = {
    'max_depth': 7,
    'metric': ['PR_AUC', 'auc'],
    'first_metric_only': True,
    'n_estimators': 20000,
    'learning_rate': 0.05,
    'colsample_bytree': 0.8,
    'objective': 'xentropy',
    'n_jobs': -1,
    'seed': 42,
    'bagging_fraction': 0.8,
    'lambda_l1': 0,
    'lambda_l2': 0,
}

In [354]:
def custom_loss(y_pred, y_true):
    precision, recall, thresholds = precision_recall_curve(np.where(y_true >= 0.5, 1, 0), y_pred)
    AUC = auc(recall, precision)
    if AUC != AUC:
        AUC = 0
    return 'PR_AUC', AUC, True

In [355]:
lgb_model = lgb.LGBMClassifier(**params)

In [356]:
X = train_imputed2[X_cols]
y = train_imputed2.isFraud

In [357]:
X_cols = [x for x in train_imputed2.columns if x not in new_cat_ft+['isFraud', 'TransactionDT', 'TransactionID']]
X_train, X_test, y_train, y_test = train_test_split(train_imputed2[X_cols], train_imputed2.isFraud,
                                                        test_size=0.2,
                                                        random_state=42)

In [358]:
# X.shape[0]*0.8

In [359]:
# X_train = X.iloc[:int(X.shape[0]*0.8),:]
# X_test = X.iloc[int(X.shape[0]*0.8):,:]
# y_train = y[:int(X.shape[0]*0.8)]
# y_test = y[int(X.shape[0]*0.8):]

In [360]:
lgb_model.fit(X_train,
                   y_train,
                   eval_set=[(X_test, y_test)],
                   verbose=50,
                   early_stopping_rounds=50,
                   eval_metric=custom_loss
                  )

Training until validation scores don't improve for 50 rounds.
[50]	valid_0's auc: 0.896637	valid_0's PR_AUC: 0.605812
[100]	valid_0's auc: 0.912792	valid_0's PR_AUC: 0.634008
[150]	valid_0's auc: 0.919693	valid_0's PR_AUC: 0.649791
[200]	valid_0's auc: 0.925025	valid_0's PR_AUC: 0.664403
[250]	valid_0's auc: 0.929158	valid_0's PR_AUC: 0.672901
[300]	valid_0's auc: 0.932273	valid_0's PR_AUC: 0.68292
[350]	valid_0's auc: 0.934585	valid_0's PR_AUC: 0.690099
[400]	valid_0's auc: 0.937438	valid_0's PR_AUC: 0.696055
[450]	valid_0's auc: 0.939681	valid_0's PR_AUC: 0.702555
[500]	valid_0's auc: 0.941324	valid_0's PR_AUC: 0.706891
[550]	valid_0's auc: 0.943532	valid_0's PR_AUC: 0.711418
[600]	valid_0's auc: 0.944757	valid_0's PR_AUC: 0.715155
[650]	valid_0's auc: 0.94632	valid_0's PR_AUC: 0.718552
[700]	valid_0's auc: 0.947891	valid_0's PR_AUC: 0.722093
[750]	valid_0's auc: 0.948816	valid_0's PR_AUC: 0.724547
[800]	valid_0's auc: 0.950269	valid_0's PR_AUC: 0.728019
[850]	valid_0's auc: 0.951407	valid_0's PR_AUC: 0.730546
[900]	valid_0's auc: 0.952383	valid_0's PR_AUC: 0.733487
[950]	valid_0's auc: 0.954083	valid_0's PR_AUC: 0.734892
[1000]	valid_0's auc: 0.955063	valid_0's PR_AUC: 0.736762
[1050]	valid_0's auc: 0.955706	valid_0's PR_AUC: 0.739092
[1100]	valid_0's auc: 0.956418	valid_0's PR_AUC: 0.741867
[1150]	valid_0's auc: 0.957036	valid_0's PR_AUC: 0.74444
[1200]	valid_0's auc: 0.957741	valid_0's PR_AUC: 0.745724
[1250]	valid_0's auc: 0.958445	valid_0's PR_AUC: 0.748799
[1300]	valid_0's auc: 0.958934	valid_0's PR_AUC: 0.750394
[1350]	valid_0's auc: 0.959454	valid_0's PR_AUC: 0.751541
[1400]	valid_0's auc: 0.959809	valid_0's PR_AUC: 0.753388
[1450]	valid_0's auc: 0.960124	valid_0's PR_AUC: 0.754345
[1500]	valid_0's auc: 0.960503	valid_0's PR_AUC: 0.756697
[1550]	valid_0's auc: 0.960991	valid_0's PR_AUC: 0.759105
[1600]	valid_0's auc: 0.96131	valid_0's PR_AUC: 0.759875
[1650]	valid_0's auc: 0.961669	valid_0's PR_AUC: 0.762483
[1700]	valid_0's auc: 0.962024	valid_0's PR_AUC: 0.764498
[1750]	valid_0's auc: 0.962532	valid_0's PR_AUC: 0.767466
[1800]	valid_0's auc: 0.962874	valid_0's PR_AUC: 0.76978
[1850]	valid_0's auc: 0.96331	valid_0's PR_AUC: 0.771058
[1900]	valid_0's auc: 0.963651	valid_0's PR_AUC: 0.772482
[1950]	valid_0's auc: 0.963986	valid_0's PR_AUC: 0.773741
[2000]	valid_0's auc: 0.96435	valid_0's PR_AUC: 0.774138
[2050]	valid_0's auc: 0.964534	valid_0's PR_AUC: 0.775933
[2100]	valid_0's auc: 0.964849	valid_0's PR_AUC: 0.777725
[2150]	valid_0's auc: 0.964996	valid_0's PR_AUC: 0.779356
[2200]	valid_0's auc: 0.965159	valid_0's PR_AUC: 0.779408
[2250]	valid_0's auc: 0.965389	valid_0's PR_AUC: 0.780799
[2300]	valid_0's auc: 0.965739	valid_0's PR_AUC: 0.781674
[2350]	valid_0's auc: 0.965887	valid_0's PR_AUC: 0.781746
[2400]	valid_0's auc: 0.966117	valid_0's PR_AUC: 0.783475
[2450]	valid_0's auc: 0.966432	valid_0's PR_AUC: 0.784172
[2500]	valid_0's auc: 0.96665	valid_0's PR_AUC: 0.78567
[2550]	valid_0's auc: 0.96681	valid_0's PR_AUC: 0.785744
Early stopping, best iteration is:
[2537]	valid_0's auc: 0.966741	valid_0's PR_AUC: 0.786594

LGBMClassifier(bagging_fraction=0.7, boosting_type='gbdt', class_weight=None,
               colsample_bytree=0.7, first_metric_only=True,
               importance_type='split', lambda_l1=0, lambda_l2=0,
               learning_rate=0.05, max_depth=7, metric=['PR_AUC', 'auc'],
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=20000, n_jobs=-1, num_leaves=31,
               objective='xentropy', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, seed=42, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

In [351]:
del X_train
del X_test
del y_train
del y_test

In [352]:
gc.collect()

20

In [254]:
import datetime

In [264]:
START_DATE = '2017-12-01'
startdate = datetime.datetime.strptime(START_DATE, '%Y-%m-%d')
X_train = pd.DataFrame()
X_train['TransactionDT'] = train_imputed['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x)))

X_train['year'] = X_train['TransactionDT'].dt.year
X_train['month'] = X_train['TransactionDT'].dt.month
X_train['dow'] = X_train['TransactionDT'].dt.dayofweek
X_train['hour'] = X_train['TransactionDT'].dt.hour
X_train['day'] = X_train['TransactionDT'].dt.day

In [265]:
X_train.head(30)

         TransactionDT  year  month  dow  hour  day
0  2017-12-02 00:00:00  2017     12    5     0    2
1  2017-12-02 00:00:01  2017     12    5     0    2
2  2017-12-02 00:01:09  2017     12    5     0    2
3  2017-12-02 00:01:39  2017     12    5     0    2
4  2017-12-02 00:01:46  2017     12    5     0    2
5  2017-12-02 00:01:50  2017     12    5     0    2
6  2017-12-02 00:02:02  2017     12    5     0    2
7  2017-12-02 00:02:09  2017     12    5     0    2
8  2017-12-02 00:02:15  2017     12    5     0    2
9  2017-12-02 00:02:16  2017     12    5     0    2
10 2017-12-02 00:02:29  2017     12    5     0    2
11 2017-12-02 00:02:35  2017     12    5     0    2
12 2017-12-02 00:02:44  2017     12    5     0    2
13 2017-12-02 00:03:05  2017     12    5     0    2
14 2017-12-02 00:03:16  2017     12    5     0    2
15 2017-12-02 00:03:38  2017     12    5     0    2
16 2017-12-02 00:03:40  2017     12    5     0    2
17 2017-12-02 00:04:28  2017     12    5     0    2
18 2017-12-02 00:05:25  2017     12    5     0    2
19 2017-12-02 00:05:30  2017     12    5     0    2
20 2017-12-02 00:06:01  2017     12    5     0    2
21 2017-12-02 00:06:09  2017     12    5     0    2
22 2017-12-02 00:06:26  2017     12    5     0    2
23 2017-12-02 00:06:48  2017     12    5     0    2
24 2017-12-02 00:07:01  2017     12    5     0    2
25 2017-12-02 00:09:04  2017     12    5     0    2
26 2017-12-02 00:09:05  2017     12    5     0    2
27 2017-12-02 00:09:32  2017     12    5     0    2
28 2017-12-02 00:09:33  2017     12    5     0    2
29 2017-12-02 00:09:39  2017     12    5     0    2