In [15]:
import warnings
warnings.filterwarnings('ignore')

# import pandas as pd
# import ray
# ray.init(num_cpus=4)
import modin.pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter, defaultdict
import gc
import category_encoders as ce
import lightgbm as lgb

from utils.schemas import *
from utils.functions import *

In [2]:
data_folder = 'input'

In [3]:
train = pd.read_csv(data_folder+'/train_generated_4.csv', dtype = schema_generated_4)#.sort_values('TransactionDT')
test = pd.read_csv(data_folder+'/test_generated_4.csv', dtype = schema_generated_4)#.sort_values('TransactionDT')

In [4]:
train.shape, test.shape

((590540, 538), (506691, 538))

In [5]:
train_index = train.shape[0]
test_index = test.shape[0]
df = pd.concat([train, test], axis=0)
df.shape
# del train, test
gc.collect()

7

In [6]:
old_cols = df.columns

In [7]:
# groups V
cols1 = ['V{}'.format(x) for x in range(1,12)]
cols2 = ['V{}'.format(x) for x in range(12,35)]
cols3 = ['V{}'.format(x) for x in range(35,53)]
cols4 = ['V{}'.format(x) for x in range(53,75)]
cols5 = ['V{}'.format(x) for x in range(75,95)]
cols6 = ['V{}'.format(x) for x in range(95,138)]
cols7 = ['V{}'.format(x) for x in range(138,167)]
cols8 = ['V{}'.format(x) for x in range(167,217)]
cols9 = ['V{}'.format(x) for x in range(217,279)]
cols10 = ['V{}'.format(x) for x in range(279,322)]
cols11 = ['V{}'.format(x) for x in range(322,340)]

In [8]:
# Binary V
bin_v = ['V1', 'V14', 'V41', 'V65', 'V88', 'V107', 'V305']

In [9]:
V_cols = [cols1, cols2, cols3, cols4, cols5, cols6, cols7, cols8, cols9, cols10, cols11, bin_v]

In [10]:
def freq_encoder2(df, label, min_freq = 0.001):
    rows = df.shape[0]
    n = 0
    dict_fe = dict()
    vc = df[label].value_counts()
    for i, j in zip(vc.index, vc):
        ratio = j/rows
        if ratio > min_freq:
            dict_fe[i] = n
            n += 1
        else:
            dict_fe[i] = n

    if n < 2**8:
        _d_type = 'uint8'
    elif n >= 2**8 and n < 8**16:
        _d_type = 'uint16'
    elif n >= 2**16 and n < 8**32:
        _d_type = 'uint32'
    else:
        _d_type = 'uint64'

#     df[new_label] = df[label].apply(lambda x: dict_fe[x]).astype(_d_type)

    return dict_fe, _d_type

def freq_encoder2_test(df, label, dict_fe):
    list_unique = df[label].unique()
    max_val = max(dict_fe.values())
    train_values = dict_fe.keys()
    for v in list_unique:
        if v not in train_values:
            dict_fe[v] = max_val+1
    
    return dict_fe

In [11]:
def reduce_memory2(df):
    print("Reduce_memory...");
    dict_types = dict()
    for col in df.columns:
        col_type = df[col].dtype
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    dict_types[col] = 'int8'
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    dict_types[col] = 'int16'
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    dict_types[col] = 'int32'
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    dict_types[col] = 'int64'
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    dict_types[col] = 'float16'
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    dict_types[col] = 'float32'
                else:
                    dict_types[col] = 'float64'
    return dict_types

In [12]:
def plot_col(df, col):
    fig, ax = plt.subplots()
    fig.set_size_inches(15, 6)
    ax.plot(df[df.isFraud == 0].TransactionDT, df[df.isFraud == 0][col])
    ax.plot(df[df.isFraud == 1].TransactionDT, df[df.isFraud == 1][col])
    ax.plot(df[df.isFraud.isna()].TransactionDT, df[df.isFraud.isna()][col])
    plt.show()
    gc.collect()

In [13]:
def plot_hist_col(df, col):
    fig, ax = plt.subplots()
    fig.set_size_inches(15, 6)
    ax.hist(df[df.isFraud.isna()][col], 100)
    ax.hist(df[df.isFraud == 0][col], 100)
    ax.hist(df[df.isFraud == 1][col], 100)
    plt.show()
    gc.collect()

In [14]:
def micro_train(X_fit, y_fit, X_val, y_val):
    params = {
#     'num_leaves': 256,
    'max_depth': -1,
#     'max_leaf_nodes': 45,
#     'min_sample_leaf': 20,
    'metric': ['AUC'],
    'first_metric_only': True,
    'n_estimators': 50000,
    'num_threads': 32,
    'learning_rate': 0.01,
    'colsample_bytree': 0.5,
    'objective': 'xentropy',
    'bagging_fraction': 0.7,
    'bagging_freq': 5,
    'importance_type': 'gain',
    'bagging_seed': 42,
    'random_state':42,
    'seed': 42,
    'feature_fraction_seed': 42,
    'drop_seed': 42,
    'data_random_seed': 42,
    }
    model = lgb.LGBMClassifier(**params)
    model.fit(X_fit, y_fit, eval_set=[(X_val, y_val), (X_fit, y_fit)],
         early_stopping_rounds=50, verbose=50)

In [18]:
df['addr'] = df.addr1.astype(str) + df.addr2.astype(str)

In [37]:
first_drop_col = ['D9','id_24','id_25','id_07','id_08','id_21','id_26','id_27','id_23','id_22','dist2']

In [38]:
drop_cols = ['TransactionDT', 'date', 'day', 'hour', 'isFraud', 'month', 'date_fe1',
             'addr1',
             'addr2',
             'card1',
             'card2',
             'card3',
             'card4',
             'card5',
             'card6',
             'card1_fe1',
             'card2_fe1',
             'card3_fe1',
             'card4_fe1',
             'card5_fe1',
             'card6_fe1',
             'addr1_fe1',
             'addr2_fe1',] + first_drop_col

In [39]:
X = train[[x for x in train.columns if x not in drop_cols]]
y = train.isFraud

In [40]:
# list(train.columns)

In [41]:
X_fit = X[:int(len(X)*0.8)]
y_fit = train.isFraud[:int(len(X)*0.8)]

X_val = X[int(len(X)*0.8):]
y_val = train.isFraud[int(len(X)*0.8):]
gc.collect()

micro_train(X_fit, y_fit, X_val, y_val)

Training until validation scores don't improve for 50 rounds.
[50]	training's auc: 0.873721	valid_0's auc: 0.856894
[100]	training's auc: 0.881184	valid_0's auc: 0.8618
[150]	training's auc: 0.886927	valid_0's auc: 0.865927
[200]	training's auc: 0.893305	valid_0's auc: 0.86998
[250]	training's auc: 0.898838	valid_0's auc: 0.87349
[300]	training's auc: 0.904042	valid_0's auc: 0.87695
[350]	training's auc: 0.908386	valid_0's auc: 0.879617
[400]	training's auc: 0.912156	valid_0's auc: 0.881645
[450]	training's auc: 0.915413	valid_0's auc: 0.884225
[500]	training's auc: 0.919147	valid_0's auc: 0.886507
[550]	training's auc: 0.921784	valid_0's auc: 0.888633
[600]	training's auc: 0.924426	valid_0's auc: 0.890494
[650]	training's auc: 0.926538	valid_0's auc: 0.891814
[700]	training's auc: 0.928409	valid_0's auc: 0.892926
[750]	training's auc: 0.930039	valid_0's auc: 0.893773
[800]	training's auc: 0.931913	valid_0's auc: 0.89487
[850]	training's auc: 0.933646	valid_0's auc: 0.895973
[900]	training's auc: 0.935611	valid_0's auc: 0.896988
[950]	training's auc: 0.936982	valid_0's auc: 0.897448
[1000]	training's auc: 0.938665	valid_0's auc: 0.89819
[1050]	training's auc: 0.939743	valid_0's auc: 0.898712
[1100]	training's auc: 0.940945	valid_0's auc: 0.899105
[1150]	training's auc: 0.941929	valid_0's auc: 0.899526
[1200]	training's auc: 0.943134	valid_0's auc: 0.90011
[1250]	training's auc: 0.94425	valid_0's auc: 0.900511
[1300]	training's auc: 0.945427	valid_0's auc: 0.900935
[1350]	training's auc: 0.946378	valid_0's auc: 0.90114
[1400]	training's auc: 0.947345	valid_0's auc: 0.901359
[1450]	training's auc: 0.948365	valid_0's auc: 0.9016
[1500]	training's auc: 0.949421	valid_0's auc: 0.901866
[1550]	training's auc: 0.95034	valid_0's auc: 0.901899
Early stopping, best iteration is:
[1542]	training's auc: 0.950185	valid_0's auc: 0.902143

In [83]:
# TODO: frequency encoding in the following columns:

In [82]:
for c in train.columns:
    if train[c].nunique() < 50:
        print(c)

PCA_28
PCA_29
C3
D9
DeviceType
M1
M2
M3
M4
M5
M6
M7
M8
M9
ProductCD
V1
V10
V100
V104
V107
V108
V109
V11
V110
V111
V112
V113
V114
V115
V116
V117
V118
V119
V12
V120
V121
V122
V123
V124
V125
V13
V138
V139
V14
V140
V141
V142
V146
V147
V148
V149
V15
V152
V153
V154
V155
V156
V157
V158
V16
V169
V17
V170
V172
V173
V174
V175
V176
V18
V181
V183
V184
V185
V186
V188
V189
V19
V190
V191
V192
V193
V194
V195
V196
V197
V198
V199
V2
V20
V200
V21
V22
V220
V223
V225
V23
V235
V236
V237
V238
V239
V24
V240
V241
V242
V243
V244
V246
V247
V248
V249
V25
V250
V251
V252
V254
V255
V256
V257
V26
V260
V261
V262
V27
V28
V281
V282
V284
V286
V287
V288
V289
V29
V297
V3
V30
V300
V301
V302
V303
V304
V305
V31
V32
V325
V326
V327
V328
V33
V34
V35
V36
V39
V4
V40
V41
V42
V43
V44
V45
V46
V47
V48
V49
V5
V50
V51
V52
V53
V54
V55
V57
V58
V59
V6
V60
V61
V62
V63
V64
V65
V66
V67
V68
V69
V7
V70
V71
V72
V73
V74
V75
V76
V77
V78
V79
V8
V80
V81
V82
V83
V84
V85
V86
V87
V88
V89
V9
V90
V91
V92
V93
V94
V98
card4
card6
day
dayofweek
has_identity
hour
id_03
id_04
id_09
id_12
id_14
id_15
id_16
id_18
id_22
id_23
id_24
id_27
id_28
id_29
id_32
id_34
id_35
id_36
id_37
id_38
isFraud
month
P_emaildomain_0
P_emaildomain_1
R_emaildomain_0
R_emaildomain_1
proc_id_30_0
proc_id_30_1
proc_id_31_0
device_name
ProductCD_fe1
P_emaildomain_fe1
R_emaildomain_fe1
card3_fe1
card4_fe1
card5_fe1
card6_fe1
addr2_fe1
M1_fe1
M2_fe1
M3_fe1
M4_fe1
M5_fe1
M6_fe1
M7_fe1
M8_fe1
M9_fe1
DeviceType_fe1
DeviceInfo_fe1
id_12_fe1
id_13_fe1
id_14_fe1
id_15_fe1
id_16_fe1
id_17_fe1
id_18_fe1
id_19_fe1
id_21_fe1
id_22_fe1
id_23_fe1
id_24_fe1
id_25_fe1
id_26_fe1
id_27_fe1
id_28_fe1
id_29_fe1
id_30_fe1
id_31_fe1
id_32_fe1
id_33_fe1
id_34_fe1
id_35_fe1
id_36_fe1
id_37_fe1
id_38_fe1
date_fe1
R_emaildomain_1_fe1
proc_id_31_0_fe1
proc_id_30_1_fe1
device_name_fe1
R_emaildomain_0_fe1
P_emaildomain_0_fe1
device_version_fe1
P_emaildomain_1_fe1
proc_id_30_0_fe1

In [77]:
train.V201.value_counts(dropna=False)

NaN     450721
1.0     116412
0.0       9579
2.0       9285
3.0       1922
4.0        860
5.0        422
6.0        270
7.0        186
9.0        178
8.0        134
10.0        98
15.0        80
11.0        64
12.0        44
13.0        40
20.0        27
14.0        24
17.0        17
19.0        17
16.0        16
18.0        14
21.0         9
22.0         9
30.0         6
23.0         6
29.0         6
33.0         6
42.0         5
35.0         5
32.0         5
37.0         5
28.0         5
24.0         5
27.0         5
26.0         5
25.0         5
31.0         4
34.0         4
36.0         4
41.0         4
49.0         3
38.0         3
39.0         3
40.0         3
43.0         2
45.0         2
44.0         2
50.0         1
48.0         1
54.0         1
52.0         1
53.0         1
46.0         1
47.0         1
51.0         1
55.0         1
Name: V201, dtype: int64

In [56]:
list_igual = list()
for i in range(14):
    list_igual.append(train[train.V123 == i].iloc[0,:])

In [35]:
# # def process_data(df):
# print('Processing joined data...')
# df['M'] = df.M1.astype(str) + df.M2.astype(str) + df.M3.astype(str) +\
# df.M4.astype(str) + df.M5.astype(str) + df.M6.astype(str) + \
# df.M7.astype(str) + df.M8.astype(str) + df.M9.astype(str)

# df = df.drop(['D9','id_24','id_25','id_07','id_08','id_21','id_26','id_27','id_23','id_22','dist2'],axis=1)

# df['email'] = df.P_emaildomain.astype(str) + df.R_emaildomain.astype(str)

# #     df['Transaction_day_of_week'] = np.floor((df['TransactionDT'] / (3600 * 24) - 1) % 7)
# #     df['Transaction_hour'] = np.floor(df['TransactionDT'] / 3600) % 24

# binary_cat_ft = ['card', 'M', 'email', 'dayofweek', 'hour', 'DeviceType',
#                  'proc_id_30_0', 'proc_id_30_1', 'proc_id_31_0']
# encoder = ce.BinaryEncoder(cols=binary_cat_ft)
# df = encoder.fit_transform(df)


# #     df['Transaction_day_of_week'] = np.floor((df['TransactionDT'] / (3600 * 24) - 1) % 7)
# #     df['day'] = np.floor((df['TransactionDT'] / (3600 * 24) - 1))
# #     df['Transaction_hour'] = np.floor(df['TransactionDT'] / 3600) % 24
# #     dict_fe, _d_type = freq_encoder2(df, 'Transaction_day_of_week', 0)
# #     df['Transaction_day_of_week'] = df['Transaction_day_of_week'].apply(lambda x: dict_fe[x]).astype(_d_type)
# #     dict_fe, _d_type = freq_encoder2(df, 'Transaction_hour', 0)
# #     df['Transaction_hour'] = df['Transaction_hour'].apply(lambda x: dict_fe[x]).astype(_d_type)

# id_cols = ['card1', 'card2', 'month']
# cols1 = [x for x in df.columns if 'card' in x and '_fe1' in x]

# cols1 = [x for x in df.columns if 'card' in x and '_fe1' in x]+['month']
# ft = 'N1'
# df[ft] = df.groupby(cols1)['TransactionDT'].transform('count')
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)

# cols1 = ['addr1', 'addr2']+['month']
# ft = 'N2'
# df[ft] = df.groupby(cols1)['TransactionDT'].transform('count')
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)

# cols1 = [x for x in df.columns if 'C' in x and 'Product' not in x]+['month']
# ft = 'N3'
# df[ft] = (df.groupby(cols1)['TransactionDT'].transform('count')).fillna(-1)
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)

# cols1 = [x for x in df.columns if 'mail' in x]+['month']
# ft = 'N4'
# df[ft] = (df.groupby(cols1)['TransactionDT'].transform('count')).fillna(-1)
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)

# cols1 = ['P_emaildomain', 'R_emaildomain', 'addr1']+['month']
# ft = 'N5'
# df[ft] = df.groupby(cols1)['TransactionDT'].transform('count')
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)


# cols1 = ['addr1', 'addr2', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6']+['month']
# ft = 'N6'
# df[ft] = df.groupby(cols1)['TransactionDT'].transform('count')
# dict_fe, _d_type = freq_encoder2(df, ft, min_freq = 0)
# df[ft] = df[ft].apply(lambda x: dict_fe[x]).astype(_d_type)

# c_cols = [x for x in df.columns if 'C' in x and x not in ['ProductCD','ProductCD_fe1','ProductCD_fe2']]

# df['R1'] = (np.log1p(df.C13/df.C1)).replace(np.inf, np.nan)
# df['R1_2'] = (np.log1p(df.C2/df.C1)).replace(np.inf, np.nan)
# df['R1_3'] = (np.log1p(df.C3/df.C1)).replace(np.inf, np.nan)
# df['R1_4'] = (np.log1p(df.C4/df.C1)).replace(np.inf, np.nan)
# df['R1_5'] = (np.log1p(df.C5/df.C1)).replace(np.inf, np.nan)

# df['R2'] = (np.log1p(df.D1/df.D15)).replace(np.inf, np.nan)

# df['R3'] = (np.log1p(df.TransactionAmt/df.TransactionAmt.values.mean())).replace(np.inf, np.nan)

# df['R4'] = (np.log1p(df.N3/df.N1)).replace(np.inf, np.nan)

# df['R5'] = (df['D15'] / df.groupby(['card1', 'addr', 'month'])['D15'].transform('std')).replace(np.inf, np.nan)

# df['R6'] = (df['D15'] / df.groupby(['TransactionDT', 'month'])['D15'].transform('std')).replace(np.inf, np.nan)

# df['R7'] = (df.TransactionAmt / df.hour / df.dayofweek).replace(np.inf, np.nan)

# df['R8'] = (df['TransactionAmt'] / df.groupby(['card1', 'addr1', 'month'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

# df['R9'] = (df['TransactionAmt'] / df.groupby(['card1','C13','C1','card2', 'month'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

# df['R10'] = (df['TransactionAmt'] / df.groupby(['card1','addr1','id_01','V258','D1', 'P_emaildomain', 'R_emaildomain', 'month'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

# df['R11'] = (df['TransactionAmt'] / df.groupby(['card1','addr1','P_emaildomain', 'R_emaildomain', 'month'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

# df['R12'] = (df.groupby(['card1','addr1', 'month'])['card1'].transform('mean') * df.groupby(['card1','addr1', 'month'])['card1'].transform('count')).replace(np.inf, np.nan)

# df['R13'] = (df.TransactionAmt / df.groupby(['card1', 'card2','addr1', 'month'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

# df['R14'] = (df.C2 / df.groupby(['card1', 'V258', 'D10', 'month'])['C2'].transform('mean')).replace(np.inf, np.nan)

# df['R15'] = (df.V130 / df.groupby(['addr1', 'card1', 'C10', 'month'])['V130'].transform('std')).replace(np.inf, np.nan)

# df['R16'] = (df.V258 / df.groupby(['addr1', 'card1', 'C10', 'month'])['V258'].transform('std')).replace(np.inf, np.nan)

# df['R17'] = (df.D10 / df.groupby(id_cols)['D10'].transform('std')).replace(np.inf, np.nan)

# df['R18'] = (df.D11 / df.groupby(id_cols)['D11'].transform('std')).replace(np.inf, np.nan)

# df['R19'] = (df.D15 / df.groupby(id_cols)['D15'].transform('std')).replace(np.inf, np.nan)

# df['R20'] = (df.D3 / df.groupby(id_cols)['D3'].transform('std')).replace(np.inf, np.nan)

# df['R21'] = (df.D4 / df.groupby(id_cols)['D4'].transform('std')).replace(np.inf, np.nan)

# df['R22'] = (df.D5 / df.groupby(id_cols)['D5'].transform('std')).replace(np.inf, np.nan)

# df['R23'] = (df.D6 / df.groupby(id_cols)['D6'].transform('std')).replace(np.inf, np.nan)

# df['R24'] = df.D7 * df.groupby(id_cols)['D7'].transform('std')
# df['R24'] = df['R24'].replace(np.inf, np.nan)
# df['R24'] = df['R24']/df['R24'].max()

# df['R25'] = df.D12 * df.groupby(id_cols)['D12'].transform('std')
# df['R25'] = df['R25'].replace(np.inf, np.nan)
# df['R25'] = df['R25']/df['R25'].max()

# df['R26'] = df.D6 * df.groupby(id_cols)['D6'].transform('std')
# df['R26'] = df['R26'].replace(np.inf, np.nan)
# df['R26'] = df['R26']/df['R26'].max()

# df['R27'] = df.D8 * df.groupby(id_cols)['D8'].transform('std')
# df['R27'] = df['R27'].replace(np.inf, np.nan)
# df['R27'] = df['R27']/df['R27'].max()

# df['R28'] = (df.TransactionAmt - df.groupby(id_cols)['TransactionAmt'].shift(1)).replace(np.inf, np.nan)

# df['R29'] = (df.TransactionDT - (df.TransactionDT - df.groupby(id_cols)['TransactionDT'].shift(1))).replace(np.inf, np.nan)

# df['R30'] = (df.dist1 - df.groupby(id_cols)['dist1'].shift(1)).replace(np.inf, np.nan)

# df['R31'] = (df.dist2 - df.groupby(id_cols)['dist2'].shift(1)).replace(np.inf, np.nan)

n = 32
for c in c_cols:
    df['R{}'.format(n)] = (df[c] / df.groupby(id_cols)[c].transform('std')).replace(np.inf, np.nan)
    n += 1

for c in c_cols:
    df['R{}'.format(n)] = (df[c] / df.groupby(id_cols)[c].transform('mean')).replace(np.inf, np.nan)
    n += 1

for c in c_cols:
    df['R{}'.format(n)] = (df[c] / (df.groupby(id_cols)[c].transform('std')/df.groupby(id_cols)[c].transform('mean'))).replace(np.inf, np.nan)
    n += 1


gc.collect()

print('End!\n')

#     return df

End!

In [11]:
def process_data2(train, test):
    print('Processing train and test data...')
    train['M'] = train.M1.astype(str) + train.M2.astype(str) + train.M3.astype(str) +\
    train.M4.astype(str) + train.M5.astype(str) + train.M6.astype(str) + \
    train.M7.astype(str) + train.M8.astype(str) + train.M9.astype(str)

    test['M'] = test.M1.astype(str) + test.M2.astype(str) + test.M3.astype(str) +\
    test.M4.astype(str) + test.M5.astype(str) + test.M6.astype(str) + \
    test.M7.astype(str) + test.M8.astype(str) + test.M9.astype(str)

    train = train.drop(['D9'],axis=1)

    test = test.drop(['D9'],axis=1)

    train['card'] = train.card1.astype(str) + train.card2.astype(str) + train.card3.astype(str) +\
    train.card4.astype(str) + train.card5.astype(str) + train.card6.astype(str)

    test['card'] = test.card1.astype(str) + test.card2.astype(str) + test.card3.astype(str) +\
    test.card4.astype(str) + test.card5.astype(str) + test.card6.astype(str)

    train['email'] = train.P_emaildomain.astype(str) + train.R_emaildomain.astype(str)

    test['email'] = test.P_emaildomain.astype(str) + test.R_emaildomain.astype(str)

    train['Transaction_day_of_week'] = np.floor((train['TransactionDT'] / (3600 * 24) - 1) % 7)
    train['Transaction_hour'] = np.floor(train['TransactionDT'] / 3600) % 24
    train['day'] = np.floor((train['TransactionDT'] / (3600 * 24) - 1))
    
    test['day'] = np.floor((test['TransactionDT'] / (3600 * 24) - 1))
    test['Transaction_day_of_week'] = np.floor((test['TransactionDT'] / (3600 * 24) - 1) % 7)
    test['Transaction_hour'] = np.floor(test['TransactionDT'] / 3600) % 24

    binary_cat_ft = ['card', 'M', 'email', 'Transaction_day_of_week', 'Transaction_hour', 'DeviceType', 'proc_id_30_0',
                     'proc_id_30_1', 'proc_id_31_0']

    encoder = ce.BinaryEncoder(cols=binary_cat_ft)
    encoder.fit(train)
    train = encoder.transform(train)
    test = encoder.transform(test)

    train['Transaction_day_of_week'] = np.floor((train['TransactionDT'] / (3600 * 24) - 1) % 7)
    train['Transaction_hour'] = np.floor(train['TransactionDT'] / 3600) % 24

    test['Transaction_day_of_week'] = np.floor((test['TransactionDT'] / (3600 * 24) - 1) % 7)
    test['Transaction_hour'] = np.floor(test['TransactionDT'] / 3600) % 24

    id_cols = ['addr1', 'addr2', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'P_emaildomain']

    gc.collect()

    cols1 = [x for x in train.columns if 'card' in x and '_fe1' in x]

    cols1 = [x for x in train.columns if 'card' in x and '_fe1' in x]
    ft = 'N1'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')
    # dict_fe, _d_type = freq_encoder2(train, ft, 0)
    # dict_fe_test = freq_encoder2_test(test, ft, dict_fe)
    # train[ft] = train[ft].apply(lambda x: dict_fe[x]).astype(_d_type)
    # test[ft] = test[ft].apply(lambda x: dict_fe_test[x]).astype(_d_type)

    cols1 = ['addr1', 'addr2']
    ft = 'N2'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    cols1 = [x for x in train.columns if 'C' in x and 'Product' not in x]
    ft = 'N3'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    cols1 = [x for x in train.columns if 'mail' in x]
    ft = 'N4'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    cols1 = ['P_emaildomain', 'R_emaildomain', 'addr1']
    ft = 'N5'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    cols1 = ['P_emaildomain', 'R_emaildomain', 'addr1', 'card1']
    ft = 'N6'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    cols1 = ['addr1', 'addr2', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'P_emaildomain']
    ft = 'N7'
    train[ft] = train.groupby(cols1)['TransactionDT'].transform('count')
    test[ft] = test.groupby(cols1)['TransactionDT'].transform('count')

    #### V columns

    train['N8'] = train.groupby(cols1)['TransactionDT'].transform('count')
    train['N8'] = (train.N8/train.N8.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N9'] = train.groupby(cols2)['TransactionDT'].transform('count')
    train['N9'] = (train.N9/train.N9.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N10'] = train.groupby(cols3)['TransactionDT'].transform('count')
    train['N10'] = (train.N10/train.N10.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N11'] = train.groupby(cols4)['TransactionDT'].transform('count')
    train['N11'] = (train.N11/train.N11.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N12'] = train.groupby(cols5)['TransactionDT'].transform('count')
    train['N12'] = (train.N12/train.N12.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N13'] = train.groupby(cols6)['TransactionDT'].transform('count')
    train['N13'] = (train.N13/train.N13.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N14'] = train.groupby(cols7)['TransactionDT'].transform('count')
    train['N14'] = (train.N14/train.N14.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N15'] = train.groupby(cols8)['TransactionDT'].transform('count')
    train['N15'] = (train.N15/train.N15.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N16'] = train.groupby(cols9)['TransactionDT'].transform('count')
    train['N16'] = (train.N16/train.N16.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N17'] = train.groupby(cols10)['TransactionDT'].transform('count')
    train['N17'] = (train.N17/train.N17.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N18'] = train.groupby(cols11)['TransactionDT'].transform('count')
    train['N18'] = (train.N18/train.N18.max()).astype(np.float32).replace(np.inf, np.nan)
    train['N19'] = train.groupby(bin_v)['TransactionDT'].transform('count')
    train['N19'] = (train.N19/train.N19.max()).astype(np.float32).replace(np.inf, np.nan)
    n = 20
    for c in V_cols[:4]:
        train['N{}'.format(n)] = (train.groupby(c)['TransactionDT'].transform('std')/train.groupby(c)['TransactionDT'].transform('mean')).replace(np.inf, np.nan)
        n += 1

    test['N8'] = test.groupby(cols1)['TransactionDT'].transform('count')
    test['N8'] = (test.N8/test.N8.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N9'] = test.groupby(cols2)['TransactionDT'].transform('count')
    test['N9'] = (test.N9/test.N9.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N10'] = test.groupby(cols3)['TransactionDT'].transform('count')
    test['N10'] = (test.N10/test.N10.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N11'] = test.groupby(cols4)['TransactionDT'].transform('count')
    test['N11'] = (test.N11/test.N11.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N12'] = test.groupby(cols5)['TransactionDT'].transform('count')
    test['N12'] = (test.N12/test.N12.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N13'] = test.groupby(cols6)['TransactionDT'].transform('count')
    test['N13'] = (test.N13/test.N13.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N14'] = test.groupby(cols7)['TransactionDT'].transform('count')
    test['N14'] = (test.N14/test.N14.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N15'] = test.groupby(cols8)['TransactionDT'].transform('count')
    test['N15'] = (test.N15/test.N15.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N16'] = test.groupby(cols9)['TransactionDT'].transform('count')
    test['N16'] = (test.N16/test.N16.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N17'] = test.groupby(cols10)['TransactionDT'].transform('count')
    test['N17'] = (test.N17/test.N17.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N18'] = test.groupby(cols11)['TransactionDT'].transform('count')
    test['N18'] = (test.N18/test.N18.max()).astype(np.float32).replace(np.inf, np.nan)
    test['N19'] = test.groupby(bin_v)['TransactionDT'].transform('count')
    test['N19'] = (test.N19/test.N19.max()).astype(np.float32).replace(np.inf, np.nan)
    n = 20
    for c in V_cols[:4]:
        test['N{}'.format(n)] = (test.groupby(c)['TransactionDT'].transform('std')/test.groupby(c)['TransactionDT'].transform('mean')).replace(np.inf, np.nan)
        n += 1


    c_cols = [x for x in train.columns if 'C' in x and x not in ['ProductCD','ProductCD_fe1','ProductCD_fe2']]

    train['R1'] = (np.log1p(train.C13/train.C1)).replace(np.inf, np.nan)

    train['R2'] = (np.log1p(train.D1/train.D15)).replace(np.inf, np.nan)

    train['R3'] = (np.log1p(train.TransactionAmt/train.TransactionAmt.values.mean())).replace(np.inf, np.nan)

    train['R4'] = (np.log1p(train.N3/train.N1)).replace(np.inf, np.nan)

    train['R5'] = (train['D15'] / train.groupby(['card1', 'addr1'])['D15'].transform('std')).replace(np.inf, np.nan)

    train['R6'] = (train['D15'] / train.groupby(['TransactionDT'])['D15'].transform('std')).replace(np.inf, np.nan)

    train['R7'] = (train.TransactionAmt / train.Transaction_hour / train.Transaction_day_of_week).replace(np.inf, np.nan)

    train['R8'] = (train['TransactionAmt'] / train.groupby(['card1', 'addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    train['R9'] = (train['TransactionAmt'] / train.groupby(['card1','C13','C1','card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    train['R10'] = (train['TransactionAmt'] / train.groupby(['card1','addr1','id_01','V258','D1', 'P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    train['R11'] = (train['TransactionAmt'] / train.groupby(['card1','addr1','P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    train['R12'] = (train.groupby(['card1','addr1'])['card1'].transform('mean') * train.groupby(['card1','addr1'])['card1'].transform('count')).replace(np.inf, np.nan)

    train['R13'] = (train.TransactionAmt / train.groupby(['card1', 'card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    train['R14'] = (train.C2 / train.groupby(['card1', 'V258', 'D10'])['C2'].transform('mean')).replace(np.inf, np.nan)

    train['R15'] = (train.V130 / train.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V130'].transform('std')).replace(np.inf, np.nan)

    train['R16'] = (train.V258 / train.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V258'].transform('std')).replace(np.inf, np.nan)

    train['R17'] = (train.D10 / train.groupby(id_cols)['D10'].transform('std')).replace(np.inf, np.nan)

    train['R18'] = (train.D11 / train.groupby(id_cols)['D11'].transform('std')).replace(np.inf, np.nan)

    train['R19'] = (train.D15 / train.groupby(id_cols)['D15'].transform('std')).replace(np.inf, np.nan)

    train['R20'] = (train.D3 / train.groupby(id_cols)['D3'].transform('std')).replace(np.inf, np.nan)

    train['R21'] = (train.D4 / train.groupby(id_cols)['D4'].transform('std')).replace(np.inf, np.nan)

    train['R22'] = (train.D5 / train.groupby(id_cols)['D5'].transform('std')).replace(np.inf, np.nan)

    train['R23'] = (train.D6 / train.groupby(id_cols)['D6'].transform('std')).replace(np.inf, np.nan)

    train['R24'] = train.D7 * train.groupby(id_cols)['D7'].transform('std')
    train['R24'] = train['R24'].replace(np.inf, np.nan)
    train['R24'] = train['R24']/train['R24'].max()

    train['R25'] = train.D12 * train.groupby(id_cols)['D12'].transform('std')
    train['R25'] = train['R25'].replace(np.inf, np.nan)
    train['R25'] = train['R25']/train['R25'].max()

    train['R26'] = train.D6 * train.groupby(id_cols)['D6'].transform('std')
    train['R26'] = train['R26'].replace(np.inf, np.nan)
    train['R26'] = train['R26']/train['R26'].max()

    train['R27'] = train.D8 * train.groupby(id_cols)['D8'].transform('std')
    train['R27'] = train['R27'].replace(np.inf, np.nan)
    train['R27'] = train['R27']/train['R27'].max()

    train['R28'] = (train.TransactionAmt - train.groupby(id_cols)['TransactionAmt'].shift(1)).replace(np.inf, np.nan)

    train['R29'] = (train.TransactionDT - (train.TransactionDT - train.groupby(id_cols)['TransactionDT'].shift(1))).replace(np.inf, np.nan)

    train['R30'] = (train.dist1 - train.groupby(id_cols)['dist1'].shift(1)).replace(np.inf, np.nan)

    train['R31'] = (train.dist2 - train.groupby(id_cols)['dist2'].shift(1)).replace(np.inf, np.nan)

    n = 32
    for c in c_cols:
        train['R{}'.format(n)] = (train[c] / train.groupby(id_cols)[c].transform('std')).replace(np.inf, np.nan)
        n += 1

    for c in c_cols:
        train['R{}'.format(n)] = (train[c] / train.groupby(id_cols)[c].transform('mean')).replace(np.inf, np.nan)
        n += 1

    for c in c_cols:
        train['R{}'.format(n)] = (train[c] / (train.groupby(id_cols)[c].transform('std')/train.groupby(id_cols)[c].transform('mean'))).replace(np.inf, np.nan)
        n += 1


    test['R1'] = (np.log1p(test.C13/test.C1)).replace(np.inf, np.nan)

    test['R2'] = (np.log1p(test.D1/test.D15)).replace(np.inf, np.nan)

    test['R3'] = (np.log1p(test.TransactionAmt/test.TransactionAmt.values.mean())).replace(np.inf, np.nan)

    test['R4'] = (np.log1p(test.N3/test.N1)).replace(np.inf, np.nan)

    test['R5'] = (test['D15'] / test.groupby(['card1', 'addr1'])['D15'].transform('std')).replace(np.inf, np.nan)

    test['R6'] = (test['D15'] / test.groupby(['TransactionDT'])['D15'].transform('std')).replace(np.inf, np.nan)

    test['R7'] = (test.TransactionAmt / test.Transaction_hour / test.Transaction_day_of_week).replace(np.inf, np.nan)

    test['R8'] = (test['TransactionAmt'] / test.groupby(['card1', 'addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    test['R9'] = (test['TransactionAmt'] / test.groupby(['card1','C13','C1','card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    test['R10'] = (test['TransactionAmt'] / test.groupby(['card1','addr1','id_01','V258','D1', 'P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    test['R11'] = (test['TransactionAmt'] / test.groupby(['card1','addr1','P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    test['R12'] = (test.groupby(['card1','addr1'])['card1'].transform('mean') * test.groupby(['card1','addr1'])['card1'].transform('count')).replace(np.inf, np.nan)

    test['R13'] = (test.TransactionAmt / test.groupby(['card1', 'card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

    test['R14'] = (test.C2 / test.groupby(['card1', 'V258', 'D10'])['C2'].transform('mean')).replace(np.inf, np.nan)

    test['R15'] = (test.V130 / test.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V130'].transform('std')).replace(np.inf, np.nan)

    test['R16'] = (test.V258 / test.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V258'].transform('std')).replace(np.inf, np.nan)

    test['R17'] = (test.D10 / test.groupby(id_cols)['D10'].transform('std')).replace(np.inf, np.nan)

    test['R18'] = (test.D11 / test.groupby(id_cols)['D11'].transform('std')).replace(np.inf, np.nan)

    test['R19'] = (test.D15 / test.groupby(id_cols)['D15'].transform('std')).replace(np.inf, np.nan)

    test['R20'] = (test.D3 / test.groupby(id_cols)['D3'].transform('std')).replace(np.inf, np.nan)

    test['R21'] = (test.D4 / test.groupby(id_cols)['D4'].transform('std')).replace(np.inf, np.nan)

    test['R22'] = (test.D5 / test.groupby(id_cols)['D5'].transform('std')).replace(np.inf, np.nan)

    test['R23'] = (test.D6 / test.groupby(id_cols)['D6'].transform('std')).replace(np.inf, np.nan)

    test['R24'] = test.D7 * test.groupby(id_cols)['D7'].transform('std')
    test['R24'] = test['R24'].replace(np.inf, np.nan)
    test['R24'] = test['R24']/test['R24'].max()

    test['R25'] = test.D12 * test.groupby(id_cols)['D12'].transform('std')
    test['R25'] = test['R25'].replace(np.inf, np.nan)
    test['R25'] = test['R25']/test['R25'].max()

    test['R26'] = test.D6 * test.groupby(id_cols)['D6'].transform('std')
    test['R26'] = test['R26'].replace(np.inf, np.nan)
    test['R26'] = test['R26']/test['R26'].max()

    test['R27'] = test.D8 * test.groupby(id_cols)['D8'].transform('std')
    test['R27'] = test['R27'].replace(np.inf, np.nan)
    test['R27'] = test['R27']/test['R27'].max()

    test['R28'] = (test.TransactionAmt - test.groupby(id_cols)['TransactionAmt'].shift(1)).replace(np.inf, np.nan)

    test['R29'] = (test.TransactionDT - (test.TransactionDT - test.groupby(id_cols)['TransactionDT'].shift(1))).replace(np.inf, np.nan)

    test['R30'] = (test.dist1 - test.groupby(id_cols)['dist1'].shift(1)).replace(np.inf, np.nan)

    test['R31'] = (test.dist2 - test.groupby(id_cols)['dist2'].shift(1)).replace(np.inf, np.nan)

    n = 32
    for c in c_cols:
        test['R{}'.format(n)] = (test[c] / test.groupby(id_cols)[c].transform('std')).replace(np.inf, np.nan)
        n += 1

    for c in c_cols:
        test['R{}'.format(n)] = (test[c] / test.groupby(id_cols)[c].transform('mean')).replace(np.inf, np.nan)
        n += 1

    for c in c_cols:
        test['R{}'.format(n)] = (test[c] / (test.groupby(id_cols)[c].transform('std')/test.groupby(id_cols)[c].transform('mean'))).replace(np.inf, np.nan)
        n += 1

    
    gc.collect()
    
    print('End!\n')
    
    return train, test

In [36]:
# df = process_data(df)

In [38]:
new_cols = list(set(df.columns) - set(old_cols))
len(new_cols)

149

In [41]:
new_cols = list(set(df.columns) - set(old_cols))
len(new_cols)

146

In [48]:
dict_types = reduce_memory2(train[new_cols])

Reduce_memory...

In [39]:
dict_types = reduce_memory2(df[new_cols])

Reduce_memory...

In [46]:
# for i, j in zip(dict_types.keys(), dict_types.values()):
#     train[i] = train[i].astype(j)

In [40]:
for i, j in zip(dict_types.keys(), dict_types.values()):
    df[i] = df[i].astype(j)

In [42]:
dict(df.dtypes)

{'C1': dtype('float16'),
 'C10': dtype('float16'),
 'C11': dtype('float16'),
 'C12': dtype('float16'),
 'C13': dtype('float16'),
 'C14': dtype('float16'),
 'C2': dtype('float16'),
 'C3': dtype('float16'),
 'C4': dtype('float16'),
 'C5': dtype('float16'),
 'C6': dtype('float16'),
 'C7': dtype('float16'),
 'C8': dtype('float16'),
 'C9': dtype('float16'),
 'D1': dtype('float16'),
 'D10': dtype('float16'),
 'D11': dtype('float16'),
 'D12': dtype('float16'),
 'D13': dtype('float16'),
 'D14': dtype('float16'),
 'D15': dtype('float16'),
 'D2': dtype('float16'),
 'D3': dtype('float16'),
 'D4': dtype('float16'),
 'D5': dtype('float16'),
 'D6': dtype('float16'),
 'D7': dtype('float16'),
 'D8': dtype('float16'),
 'DeviceInfo': dtype('uint16'),
 'DeviceType_0': dtype('int8'),
 'DeviceType_1': dtype('int8'),
 'DeviceType_2': dtype('int8'),
 'M1': dtype('uint8'),
 'M2': dtype('uint8'),
 'M3': dtype('uint8'),
 'M4': dtype('uint8'),
 'M5': dtype('uint8'),
 'M6': dtype('uint8'),
 'M7': dtype('uint8'),
 'M8': dtype('uint8'),
 'M9': dtype('uint8'),
 'P_emaildomain': dtype('uint8'),
 'ProductCD': dtype('uint8'),
 'R_emaildomain': dtype('uint8'),
 'TransactionAmt': dtype('float16'),
 'TransactionAmt_decimal': dtype('int64'),
 'TransactionDT': dtype('int32'),
 'V1': dtype('float16'),
 'V10': dtype('float16'),
 'V100': dtype('float16'),
 'V101': dtype('float16'),
 'V102': dtype('float16'),
 'V103': dtype('float16'),
 'V104': dtype('float16'),
 'V105': dtype('float16'),
 'V106': dtype('float16'),
 'V107': dtype('float16'),
 'V108': dtype('float16'),
 'V109': dtype('float16'),
 'V11': dtype('float16'),
 'V110': dtype('float16'),
 'V111': dtype('float16'),
 'V112': dtype('float16'),
 'V113': dtype('float16'),
 'V114': dtype('float16'),
 'V115': dtype('float16'),
 'V116': dtype('float16'),
 'V117': dtype('float16'),
 'V118': dtype('float16'),
 'V119': dtype('float16'),
 'V12': dtype('float16'),
 'V120': dtype('float16'),
 'V121': dtype('float16'),
 'V122': dtype('float16'),
 'V123': dtype('float16'),
 'V124': dtype('float16'),
 'V125': dtype('float16'),
 'V126': dtype('float32'),
 'V127': dtype('float32'),
 'V128': dtype('float32'),
 'V129': dtype('float16'),
 'V13': dtype('float16'),
 'V130': dtype('float32'),
 'V131': dtype('float32'),
 'V132': dtype('float32'),
 'V133': dtype('float32'),
 'V134': dtype('float32'),
 'V135': dtype('float32'),
 'V136': dtype('float32'),
 'V137': dtype('float32'),
 'V138': dtype('float16'),
 'V139': dtype('float16'),
 'V14': dtype('float16'),
 'V140': dtype('float16'),
 'V141': dtype('float16'),
 'V142': dtype('float16'),
 'V143': dtype('float16'),
 'V144': dtype('float16'),
 'V145': dtype('float16'),
 'V146': dtype('float16'),
 'V147': dtype('float16'),
 'V148': dtype('float16'),
 'V149': dtype('float16'),
 'V15': dtype('float16'),
 'V150': dtype('float16'),
 'V151': dtype('float16'),
 'V152': dtype('float16'),
 'V153': dtype('float16'),
 'V154': dtype('float16'),
 'V155': dtype('float16'),
 'V156': dtype('float16'),
 'V157': dtype('float16'),
 'V158': dtype('float16'),
 'V159': dtype('float32'),
 'V16': dtype('float16'),
 'V160': dtype('float32'),
 'V161': dtype('float16'),
 'V162': dtype('float16'),
 'V163': dtype('float16'),
 'V164': dtype('float32'),
 'V165': dtype('float32'),
 'V166': dtype('float32'),
 'V167': dtype('float16'),
 'V168': dtype('float16'),
 'V169': dtype('float16'),
 'V17': dtype('float16'),
 'V170': dtype('float16'),
 'V171': dtype('float16'),
 'V172': dtype('float16'),
 'V173': dtype('float16'),
 'V174': dtype('float16'),
 'V175': dtype('float16'),
 'V176': dtype('float16'),
 'V177': dtype('float16'),
 'V178': dtype('float16'),
 'V179': dtype('float16'),
 'V18': dtype('float16'),
 'V180': dtype('float16'),
 'V181': dtype('float16'),
 'V182': dtype('float16'),
 'V183': dtype('float16'),
 'V184': dtype('float16'),
 'V185': dtype('float16'),
 'V186': dtype('float16'),
 'V187': dtype('float16'),
 'V188': dtype('float16'),
 'V189': dtype('float16'),
 'V19': dtype('float16'),
 'V190': dtype('float16'),
 'V191': dtype('float16'),
 'V192': dtype('float16'),
 'V193': dtype('float16'),
 'V194': dtype('float16'),
 'V195': dtype('float16'),
 'V196': dtype('float16'),
 'V197': dtype('float16'),
 'V198': dtype('float16'),
 'V199': dtype('float16'),
 'V2': dtype('float16'),
 'V20': dtype('float16'),
 'V200': dtype('float16'),
 'V201': dtype('float16'),
 'V202': dtype('float32'),
 'V203': dtype('float32'),
 'V204': dtype('float32'),
 'V205': dtype('float16'),
 'V206': dtype('float16'),
 'V207': dtype('float32'),
 'V208': dtype('float16'),
 'V209': dtype('float16'),
 'V21': dtype('float16'),
 'V210': dtype('float16'),
 'V211': dtype('float32'),
 'V212': dtype('float32'),
 'V213': dtype('float32'),
 'V214': dtype('float32'),
 'V215': dtype('float32'),
 'V216': dtype('float32'),
 'V217': dtype('float16'),
 'V218': dtype('float16'),
 'V219': dtype('float16'),
 'V22': dtype('float16'),
 'V220': dtype('float16'),
 'V221': dtype('float16'),
 'V222': dtype('float16'),
 'V223': dtype('float16'),
 'V224': dtype('float16'),
 'V225': dtype('float16'),
 'V226': dtype('float16'),
 'V227': dtype('float16'),
 'V228': dtype('float16'),
 'V229': dtype('float16'),
 'V23': dtype('float16'),
 'V230': dtype('float16'),
 'V231': dtype('float16'),
 'V232': dtype('float16'),
 'V233': dtype('float16'),
 'V234': dtype('float16'),
 'V235': dtype('float16'),
 'V236': dtype('float16'),
 'V237': dtype('float16'),
 'V238': dtype('float16'),
 'V239': dtype('float16'),
 'V24': dtype('float16'),
 'V240': dtype('float16'),
 'V241': dtype('float16'),
 'V242': dtype('float16'),
 'V243': dtype('float16'),
 'V244': dtype('float16'),
 'V245': dtype('float16'),
 'V246': dtype('float16'),
 'V247': dtype('float16'),
 'V248': dtype('float16'),
 'V249': dtype('float16'),
 'V25': dtype('float16'),
 'V250': dtype('float16'),
 'V251': dtype('float16'),
 'V252': dtype('float16'),
 'V253': dtype('float16'),
 'V254': dtype('float16'),
 'V255': dtype('float16'),
 'V256': dtype('float16'),
 'V257': dtype('float16'),
 'V258': dtype('float16'),
 'V259': dtype('float16'),
 'V26': dtype('float16'),
 'V260': dtype('float16'),
 'V261': dtype('float16'),
 'V262': dtype('float16'),
 'V263': dtype('float32'),
 'V264': dtype('float32'),
 'V265': dtype('float32'),
 'V266': dtype('float16'),
 'V267': dtype('float16'),
 'V268': dtype('float16'),
 'V269': dtype('float16'),
 'V27': dtype('float16'),
 'V270': dtype('float16'),
 'V271': dtype('float16'),
 'V272': dtype('float16'),
 'V273': dtype('float32'),
 'V274': dtype('float32'),
 'V275': dtype('float32'),
 'V276': dtype('float32'),
 'V277': dtype('float32'),
 'V278': dtype('float32'),
 'V279': dtype('float16'),
 'V28': dtype('float16'),
 'V280': dtype('float16'),
 'V281': dtype('float16'),
 'V282': dtype('float16'),
 'V283': dtype('float16'),
 'V284': dtype('float16'),
 'V285': dtype('float16'),
 'V286': dtype('float16'),
 'V287': dtype('float16'),
 'V288': dtype('float16'),
 'V289': dtype('float16'),
 'V29': dtype('float16'),
 'V290': dtype('float16'),
 'V291': dtype('float16'),
 'V292': dtype('float16'),
 'V293': dtype('float16'),
 'V294': dtype('float16'),
 'V295': dtype('float16'),
 'V296': dtype('float16'),
 'V297': dtype('float16'),
 'V298': dtype('float16'),
 'V299': dtype('float16'),
 'V3': dtype('float16'),
 'V30': dtype('float16'),
 'V300': dtype('float16'),
 'V301': dtype('float16'),
 'V302': dtype('float16'),
 'V303': dtype('float16'),
 'V304': dtype('float16'),
 'V305': dtype('float16'),
 'V306': dtype('float32'),
 'V307': dtype('float32'),
 'V308': dtype('float32'),
 'V309': dtype('float16'),
 'V31': dtype('float16'),
 'V310': dtype('float32'),
 'V311': dtype('float16'),
 'V312': dtype('float32'),
 'V313': dtype('float16'),
 'V314': dtype('float16'),
 'V315': dtype('float16'),
 'V316': dtype('float32'),
 'V317': dtype('float32'),
 'V318': dtype('float32'),
 'V319': dtype('float32'),
 'V32': dtype('float16'),
 'V320': dtype('float32'),
 'V321': dtype('float32'),
 'V322': dtype('float16'),
 'V323': dtype('float16'),
 'V324': dtype('float16'),
 'V325': dtype('float16'),
 'V326': dtype('float16'),
 'V327': dtype('float16'),
 'V328': dtype('float16'),
 'V329': dtype('float16'),
 'V33': dtype('float16'),
 'V330': dtype('float16'),
 'V331': dtype('float32'),
 'V332': dtype('float32'),
 'V333': dtype('float32'),
 'V334': dtype('float16'),
 'V335': dtype('float16'),
 'V336': dtype('float16'),
 'V337': dtype('float32'),
 'V338': dtype('float32'),
 'V339': dtype('float32'),
 'V34': dtype('float16'),
 'V35': dtype('float16'),
 'V36': dtype('float16'),
 'V37': dtype('float16'),
 'V38': dtype('float16'),
 'V39': dtype('float16'),
 'V4': dtype('float16'),
 'V40': dtype('float16'),
 'V41': dtype('float16'),
 'V42': dtype('float16'),
 'V43': dtype('float16'),
 'V44': dtype('float16'),
 'V45': dtype('float16'),
 'V46': dtype('float16'),
 'V47': dtype('float16'),
 'V48': dtype('float16'),
 'V49': dtype('float16'),
 'V5': dtype('float16'),
 'V50': dtype('float16'),
 'V51': dtype('float16'),
 'V52': dtype('float16'),
 'V53': dtype('float16'),
 'V54': dtype('float16'),
 'V55': dtype('float16'),
 'V56': dtype('float16'),
 'V57': dtype('float16'),
 'V58': dtype('float16'),
 'V59': dtype('float16'),
 'V6': dtype('float16'),
 'V60': dtype('float16'),
 'V61': dtype('float16'),
 'V62': dtype('float16'),
 'V63': dtype('float16'),
 'V64': dtype('float16'),
 'V65': dtype('float16'),
 'V66': dtype('float16'),
 'V67': dtype('float16'),
 'V68': dtype('float16'),
 'V69': dtype('float16'),
 'V7': dtype('float16'),
 'V70': dtype('float16'),
 'V71': dtype('float16'),
 'V72': dtype('float16'),
 'V73': dtype('float16'),
 'V74': dtype('float16'),
 'V75': dtype('float16'),
 'V76': dtype('float16'),
 'V77': dtype('float16'),
 'V78': dtype('float16'),
 'V79': dtype('float16'),
 'V8': dtype('float16'),
 'V80': dtype('float16'),
 'V81': dtype('float16'),
 'V82': dtype('float16'),
 'V83': dtype('float16'),
 'V84': dtype('float16'),
 'V85': dtype('float16'),
 'V86': dtype('float16'),
 'V87': dtype('float16'),
 'V88': dtype('float16'),
 'V89': dtype('float16'),
 'V9': dtype('float16'),
 'V90': dtype('float16'),
 'V91': dtype('float16'),
 'V92': dtype('float16'),
 'V93': dtype('float16'),
 'V94': dtype('float16'),
 'V95': dtype('float16'),
 'V96': dtype('float16'),
 'V97': dtype('float16'),
 'V98': dtype('float16'),
 'V99': dtype('float16'),
 'V_group_1': dtype('float64'),
 'V_group_10': dtype('float64'),
 'V_group_10_is_null': dtype('int64'),
 'V_group_11': dtype('float64'),
 'V_group_11_is_null': dtype('int64'),
 'V_group_1_is_null': dtype('int64'),
 'V_group_2': dtype('float64'),
 'V_group_2_is_null': dtype('int64'),
 'V_group_3': dtype('float64'),
 'V_group_3_is_null': dtype('int64'),
 'V_group_4': dtype('float64'),
 'V_group_4_is_null': dtype('int64'),
 'V_group_5': dtype('float64'),
 'V_group_5_is_null': dtype('int64'),
 'V_group_6': dtype('float64'),
 'V_group_6_is_null': dtype('int64'),
 'V_group_7': dtype('float64'),
 'V_group_7_is_null': dtype('int64'),
 'V_group_8': dtype('float64'),
 'V_group_8_is_null': dtype('int64'),
 'V_group_9': dtype('float64'),
 'V_group_9_is_null': dtype('int64'),
 'addr1': dtype('uint16'),
 'addr2': dtype('uint8'),
 'card_0': dtype('int8'),
 'card_1': dtype('int8'),
 'card_2': dtype('int8'),
 'card_3': dtype('int8'),
 'card_4': dtype('int8'),
 'card_5': dtype('int8'),
 'card_6': dtype('int8'),
 'card_7': dtype('int8'),
 'card_8': dtype('int8'),
 'card_9': dtype('int8'),
 'card_10': dtype('int8'),
 'card_11': dtype('int8'),
 'card_12': dtype('int8'),
 'card_13': dtype('int8'),
 'card_14': dtype('int8'),
 'card_15': dtype('int8'),
 'card1': dtype('uint16'),
 'card2': dtype('uint16'),
 'card3': dtype('uint8'),
 'card4': dtype('uint8'),
 'card5': dtype('uint8'),
 'card6': dtype('uint8'),
 'date': dtype('int64'),
 'day': dtype('int64'),
 'dayofweek_0': dtype('int8'),
 'dayofweek_1': dtype('int8'),
 'dayofweek_2': dtype('int8'),
 'dayofweek_3': dtype('int8'),
 'dist1': dtype('float16'),
 'has_identity': dtype('float64'),
 'hour_0': dtype('int8'),
 'hour_1': dtype('int8'),
 'hour_2': dtype('int8'),
 'hour_3': dtype('int8'),
 'hour_4': dtype('int8'),
 'hour_5': dtype('int8'),
 'id_01': dtype('float16'),
 'id_02': dtype('float32'),
 'id_03': dtype('float16'),
 'id_04': dtype('float16'),
 'id_05': dtype('float16'),
 'id_06': dtype('float16'),
 'id_09': dtype('float16'),
 'id_10': dtype('float16'),
 'id_11': dtype('float16'),
 'id_12': dtype('uint8'),
 'id_13': dtype('uint8'),
 'id_14': dtype('uint8'),
 'id_15': dtype('uint8'),
 'id_16': dtype('uint8'),
 'id_17': dtype('uint8'),
 'id_18': dtype('uint8'),
 'id_19': dtype('uint16'),
 'id_20': dtype('uint16'),
 'id_28': dtype('uint8'),
 'id_29': dtype('uint8'),
 'id_30': dtype('uint8'),
 'id_31': dtype('uint8'),
 'id_32': dtype('uint8'),
 'id_33': dtype('uint16'),
 'id_34': dtype('uint8'),
 'id_35': dtype('uint8'),
 'id_36': dtype('uint8'),
 'id_37': dtype('uint8'),
 'id_38': dtype('uint8'),
 'isFraud': dtype('float64'),
 'month': dtype('int64'),
 'year': dtype('int64'),
 'P_emaildomain_0': dtype('uint8'),
 'P_emaildomain_1': dtype('uint8'),
 'R_emaildomain_0': dtype('uint8'),
 'R_emaildomain_1': dtype('uint8'),
 'proc_id_30_0_0': dtype('int8'),
 'proc_id_30_0_1': dtype('int8'),
 'proc_id_30_0_2': dtype('int8'),
 'proc_id_30_0_3': dtype('int8'),
 'proc_id_30_0_4': dtype('int8'),
 'proc_id_30_0_5': dtype('int8'),
 'proc_id_30_0_6': dtype('int8'),
 'proc_id_30_1_0': dtype('int8'),
 'proc_id_30_1_1': dtype('int8'),
 'proc_id_30_1_2': dtype('int8'),
 'proc_id_30_1_3': dtype('int8'),
 'proc_id_31_0_0': dtype('int8'),
 'proc_id_31_0_1': dtype('int8'),
 'proc_id_31_0_2': dtype('int8'),
 'proc_id_31_0_3': dtype('int8'),
 'proc_id_31_0_4': dtype('int8'),
 'device_name': dtype('uint8'),
 'device_version': dtype('uint16'),
 'ProductCD_fe1': dtype('uint8'),
 'P_emaildomain_fe1': dtype('uint8'),
 'R_emaildomain_fe1': dtype('uint8'),
 'card1_fe1': dtype('uint16'),
 'card2_fe1': dtype('uint8'),
 'card3_fe1': dtype('uint8'),
 'card4_fe1': dtype('uint8'),
 'card5_fe1': dtype('uint8'),
 'card6_fe1': dtype('uint8'),
 'addr1_fe1': dtype('uint8'),
 'addr2_fe1': dtype('uint8'),
 'M1_fe1': dtype('uint8'),
 'M2_fe1': dtype('uint8'),
 'M3_fe1': dtype('uint8'),
 'M4_fe1': dtype('uint8'),
 'M5_fe1': dtype('uint8'),
 'M6_fe1': dtype('uint8'),
 'M7_fe1': dtype('uint8'),
 'M8_fe1': dtype('uint8'),
 'M9_fe1': dtype('uint8'),
 'DeviceType_fe1': dtype('uint8'),
 'DeviceInfo_fe1': dtype('uint8'),
 'id_12_fe1': dtype('uint8'),
 'id_13_fe1': dtype('uint8'),
 'id_14_fe1': dtype('uint8'),
 'id_15_fe1': dtype('uint8'),
 'id_16_fe1': dtype('uint8'),
 'id_17_fe1': dtype('uint8'),
 'id_18_fe1': dtype('uint8'),
 'id_19_fe1': dtype('uint8'),
 'id_20_fe1': dtype('uint8'),
 'id_21_fe1': dtype('uint8'),
 'id_22_fe1': dtype('uint8'),
 'id_23_fe1': dtype('uint8'),
 'id_24_fe1': dtype('uint8'),
 'id_25_fe1': dtype('uint8'),
 'id_26_fe1': dtype('uint8'),
 'id_27_fe1': dtype('uint8'),
 'id_28_fe1': dtype('uint8'),
 'id_29_fe1': dtype('uint8'),
 'id_30_fe1': dtype('uint8'),
 'id_31_fe1': dtype('uint8'),
 'id_32_fe1': dtype('uint8'),
 'id_33_fe1': dtype('uint8'),
 'id_34_fe1': dtype('uint8'),
 'id_35_fe1': dtype('uint8'),
 'id_36_fe1': dtype('uint8'),
 'id_37_fe1': dtype('uint8'),
 'id_38_fe1': dtype('uint8'),
 'date_fe1': dtype('float64'),
 'R_emaildomain_0_fe1': dtype('uint8'),
 'proc_id_31_0_fe1': dtype('uint8'),
 'P_emaildomain_0_fe1': dtype('uint8'),
 'proc_id_30_0_fe1': dtype('uint8'),
 'P_emaildomain_1_fe1': dtype('uint8'),
 'R_emaildomain_1_fe1': dtype('uint8'),
 'proc_id_30_1_fe1': dtype('uint8'),
 'card_fe1': dtype('float64'),
 'device_name_fe1': dtype('uint8'),
 'device_version_fe1': dtype('uint8'),
 'ProductCD_fe2': dtype('uint8'),
 'P_emaildomain_fe2': dtype('uint8'),
 'R_emaildomain_fe2': dtype('uint8'),
 'card1_fe2': dtype('uint8'),
 'card2_fe2': dtype('uint8'),
 'card3_fe2': dtype('uint8'),
 'card4_fe2': dtype('uint8'),
 'card5_fe2': dtype('uint8'),
 'card6_fe2': dtype('uint8'),
 'addr1_fe2': dtype('uint8'),
 'addr2_fe2': dtype('uint8'),
 'M1_fe2': dtype('uint8'),
 'M2_fe2': dtype('uint8'),
 'M3_fe2': dtype('uint8'),
 'M4_fe2': dtype('uint8'),
 'M5_fe2': dtype('uint8'),
 'M6_fe2': dtype('uint8'),
 'M7_fe2': dtype('uint8'),
 'M8_fe2': dtype('uint8'),
 'M9_fe2': dtype('uint8'),
 'DeviceType_fe2': dtype('uint8'),
 'DeviceInfo_fe2': dtype('uint8'),
 'id_12_fe2': dtype('uint8'),
 'id_13_fe2': dtype('uint8'),
 'id_14_fe2': dtype('uint8'),
 'id_15_fe2': dtype('uint8'),
 'id_16_fe2': dtype('uint8'),
 'id_17_fe2': dtype('uint8'),
 'id_18_fe2': dtype('uint8'),
 'id_19_fe2': dtype('uint8'),
 'id_20_fe2': dtype('uint8'),
 'id_21_fe2': dtype('uint8'),
 'id_22_fe2': dtype('uint8'),
 'id_23_fe2': dtype('uint8'),
 'id_24_fe2': dtype('uint8'),
 'id_25_fe2': dtype('uint8'),
 'id_26_fe2': dtype('uint8'),
 'id_27_fe2': dtype('uint8'),
 'id_28_fe2': dtype('uint8'),
 'id_29_fe2': dtype('uint8'),
 'id_30_fe2': dtype('uint8'),
 'id_31_fe2': dtype('uint8'),
 'id_32_fe2': dtype('uint8'),
 'id_33_fe2': dtype('uint8'),
 'id_34_fe2': dtype('uint8'),
 'id_35_fe2': dtype('uint8'),
 'id_36_fe2': dtype('uint8'),
 'id_37_fe2': dtype('uint8'),
 'id_38_fe2': dtype('uint8'),
 'date_fe2': dtype('float64'),
 'R_emaildomain_0_fe2': dtype('uint8'),
 'proc_id_31_0_fe2': dtype('uint8'),
 'P_emaildomain_0_fe2': dtype('uint8'),
 'proc_id_30_0_fe2': dtype('uint8'),
 'P_emaildomain_1_fe2': dtype('uint8'),
 'R_emaildomain_1_fe2': dtype('uint8'),
 'proc_id_30_1_fe2': dtype('uint8'),
 'card_fe2': dtype('float64'),
 'device_name_fe2': dtype('uint8'),
 'device_version_fe2': dtype('uint8'),
 'addr': dtype('O'),
 'M_0': dtype('int8'),
 'M_1': dtype('int8'),
 'M_2': dtype('int8'),
 'M_3': dtype('int8'),
 'M_4': dtype('int8'),
 'M_5': dtype('int8'),
 'M_6': dtype('int8'),
 'M_7': dtype('int8'),
 'M_8': dtype('int8'),
 'M_9': dtype('int8'),
 'M_10': dtype('int8'),
 'email_0': dtype('int8'),
 'email_1': dtype('int8'),
 'email_2': dtype('int8'),
 'email_3': dtype('int8'),
 'email_4': dtype('int8'),
 'email_5': dtype('int8'),
 'email_6': dtype('int8'),
 'email_7': dtype('int8'),
 'email_8': dtype('int8'),
 'email_9': dtype('int8'),
 'email_10': dtype('int8'),
 'N1': dtype('float16'),
 'N2': dtype('float16'),
 'N3': dtype('float16'),
 'N4': dtype('float16'),
 'N5': dtype('float16'),
 'N6': dtype('float16'),
 'R1': dtype('float16'),
 'R1_2': dtype('float16'),
 'R1_3': dtype('float16'),
 'R1_4': dtype('float16'),
 'R1_5': dtype('float16'),
 'R2': dtype('float16'),
 'R3': dtype('float16'),
 'R4': dtype('float16'),
 'R5': dtype('float16'),
 'R6': dtype('float16'),
 'R8': dtype('float16'),
 'R9': dtype('float16'),
 'R10': dtype('float16'),
 'R11': dtype('float16'),
 'R12': dtype('int32'),
 'R13': dtype('float16'),
 'R14': dtype('float16'),
 'R15': dtype('float16'),
 'R16': dtype('float16'),
 'R17': dtype('float16'),
 'R18': dtype('float16'),
 'R19': dtype('float16'),
 'R20': dtype('float16'),
 'R21': dtype('float16'),
 'R22': dtype('float16'),
 'R23': dtype('float16'),
 'R24': dtype('float16'),
 'R25': dtype('float16'),
 'R26': dtype('float16'),
 'R27': dtype('float16'),
 'R28': dtype('float16'),
 'R29': dtype('float32'),
 'R30': dtype('float16'),
 'R32': dtype('float16'),
 'R33': dtype('float16'),
 'R34': dtype('float16'),
 'R35': dtype('float16'),
 'R36': dtype('float16'),
 'R37': dtype('float16'),
 'R38': dtype('float16'),
 'R39': dtype('float16'),
 'R40': dtype('float16'),
 'R41': dtype('float16'),
 'R42': dtype('float16'),
 'R43': dtype('float16'),
 'R44': dtype('float16'),
 'R45': dtype('float16'),
 'R46': dtype('float16'),
 'R47': dtype('float16'),
 'R48': dtype('float16'),
 'R49': dtype('float16'),
 'R50': dtype('float16'),
 'R51': dtype('float16'),
 'R52': dtype('float16'),
 'R53': dtype('float16'),
 'R54': dtype('float16'),
 'R55': dtype('float16'),
 'R56': dtype('float16'),
 'R57': dtype('float16'),
 'R58': dtype('float16'),
 'R59': dtype('float16'),
 'R60': dtype('float16'),
 'R61': dtype('float16'),
 'R62': dtype('float16'),
 'R63': dtype('float16'),
 'R64': dtype('float16'),
 'R65': dtype('float16'),
 'R66': dtype('float16'),
 'R67': dtype('float16'),

In [ ]:
# drop_cols = ['D10', 'D11', 'D12', 'D15', 'D3', 'D4',
#             'D5', 'D6', 'D7', 'D8']

In [ ]:
# df = df[[x for x in df.columns if x not in drop_cols]]

In [ ]:
# df = df.replace(np.inf, np.nan)

In [43]:
train = df.iloc[:train_index, :]
test = df.iloc[train_index:, :]
train.shape, test.shape

((590540, 724), (506691, 724))

In [44]:
train.to_csv(data_folder+'/train_ft_eng_3.csv', header=True, index=None)
print('train guardado')
test.to_csv(data_folder+'/test_ft_eng_3.csv', header=True, index=None)
print('test guardado')

train guardado
test guardado

In [53]:
train.shape, test.shape

((270901, 716), (221908, 716))

In [54]:
train.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,R64,R65,R66,R67,R68,R69,R70,R71,R72,R73
0,0,86400,68.5,0,1749,12,0,3,35,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,86401,29.0,0,139,31,0,1,3,1,...,0.0,NaN,NaN,0.0,0.000,0.0,1.385742,NaN,0.726074,1.069336
2,0,86469,59.0,0,101,3,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,86499,50.0,0,17,20,0,1,4,0,...,NaN,13.851562,NaN,0.0,5.125,0.0,4.273438,NaN,56.156250,10.195312
4,0,86506,50.0,3,5782,7,0,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN