In [1]:
import warnings
warnings.filterwarnings('ignore')

# import pandas as pd
# import ray
# ray.init(num_cpus=4)
import modin.pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict
import gc

from utils.schemas import *
from utils.functions import *

In [2]:
data_folder = 'input'

In [4]:
train = pd.read_csv(data_folder+'/train_generated_1.csv', dtype = schema_generated_1)#.sort_values('TransactionDT')
test = pd.read_csv(data_folder+'/test_generated_1.csv', dtype = schema_generated_1)#.sort_values('TransactionDT')

In [5]:
train.shape, test.shape

((590540, 558), (506691, 558))

In [6]:
train_index = train.shape[0]
test_index = test.shape[0]
df = pd.concat([train, test], axis=0)
df.shape

(1097231, 558)

In [7]:
old_cols = df.columns

In [8]:
del train
del test
gc.collect()

7

In [9]:
id_cols = ['addr1', 'addr2', 'card1', 'P_emaildomain']

In [10]:
df.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_38_fe2,R_emaildomain_0_fe2,device_version_fe2,device_name_fe2,P_emaildomain_0_fe2,P_emaildomain_1_fe2,proc_id_30_0_fe2,proc_id_30_1_fe2,R_emaildomain_1_fe2,proc_id_31_0_fe2
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,2,1,0,0,0,0
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,8,0,0,0,0,0
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,2,0,2,3,0,0,7,4,0,8

In [11]:
gc.collect()

0

In [12]:
def plot_col(col):
    fig, ax = plt.subplots()
    fig.set_size_inches(15, 6)
    ax.plot(df[df.isFraud == 0].TransactionDT, df[df.isFraud == 0][col])
    ax.plot(df[df.isFraud == 1].TransactionDT, df[df.isFraud == 1][col])
    ax.plot(df[df.isFraud.isna()].TransactionDT, df[df.isFraud.isna()][col])
    plt.show()
    gc.collect()

In [14]:
def plot_hist_col(col):
    fig, ax = plt.subplots()
    fig.set_size_inches(15, 6)
    ax.hist(df[df.isFraud.isna()][col], 100)
    ax.hist(df[df.isFraud == 0][col], 100)
    ax.hist(df[df.isFraud == 1][col], 100)
    plt.show()
    gc.collect()

In [15]:
df['Transaction_day_of_week'] = np.floor((df['TransactionDT'] / (3600 * 24) - 1) % 7)
df['Transaction_hour'] = np.floor(df['TransactionDT'] / 3600) % 24

In [16]:
cols1 = [x for x in df.columns if 'card' in x and 'fe' not in x]
df['N1'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint32)

In [17]:
cols1 = [x for x in df.columns if 'addr' in x]
df['N2'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint32)

In [18]:
cols1 = [x for x in df.columns if 'C' in x and 'Product' not in x]
df['N3'] = df.groupby(cols1)['TransactionDT'].transform('count').fillna(df.groupby(cols1)['TransactionDT'].transform('count').isna().sum()).astype(np.uint32)

In [19]:
cols1 = [x for x in df.columns if 'mail' in x]
df['N4'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint32)

In [20]:
cols1 = ['P_emaildomain', 'R_emaildomain', 'addr1']
df['N5'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint32)

In [21]:
cols1 = ['P_emaildomain', 'R_emaildomain', 'addr1', 'card1']
df['N6'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint32)

In [22]:
cols1 = ['addr1', 'addr2', 'card1', 'P_emaildomain']
df['N7'] = df.groupby(cols1)['TransactionDT'].transform('count').astype(np.uint16)

#### V columns

In [23]:
# groups V
cols1 = ['V{}'.format(x) for x in range(1,12)]
cols2 = ['V{}'.format(x) for x in range(12,35)]
cols3 = ['V{}'.format(x) for x in range(35,53)]
cols4 = ['V{}'.format(x) for x in range(53,75)]
cols5 = ['V{}'.format(x) for x in range(75,95)]
cols6 = ['V{}'.format(x) for x in range(95,138)]
cols7 = ['V{}'.format(x) for x in range(138,167)]
cols8 = ['V{}'.format(x) for x in range(167,217)]
cols9 = ['V{}'.format(x) for x in range(217,279)]
cols10 = ['V{}'.format(x) for x in range(279,322)]
cols11 = ['V{}'.format(x) for x in range(322,340)]

In [24]:
# Binary V
bin_v = ['V1', 'V14', 'V41', 'V65', 'V88', 'V107', 'V305']

In [25]:
V_cols = [cols1, cols2, cols3, cols4, cols5, cols6, cols7, cols8, cols9, cols10, cols11, bin_v]

In [26]:
df['N8'] = df.groupby(cols1)['TransactionDT'].transform('count')
df['N8'] = (df.N8/df.N8.max()).astype(np.float32).replace(np.inf, np.nan)
df['N9'] = df.groupby(cols2)['TransactionDT'].transform('count')
df['N9'] = (df.N9/df.N9.max()).astype(np.float32).replace(np.inf, np.nan)
df['N10'] = df.groupby(cols3)['TransactionDT'].transform('count')
df['N10'] = (df.N10/df.N10.max()).astype(np.float32).replace(np.inf, np.nan)
df['N11'] = df.groupby(cols4)['TransactionDT'].transform('count')
df['N11'] = (df.N11/df.N11.max()).astype(np.float32).replace(np.inf, np.nan)
df['N12'] = df.groupby(cols5)['TransactionDT'].transform('count')
df['N12'] = (df.N12/df.N12.max()).astype(np.float32).replace(np.inf, np.nan)
df['N13'] = df.groupby(cols6)['TransactionDT'].transform('count')
df['N13'] = (df.N13/df.N13.max()).astype(np.float32).replace(np.inf, np.nan)
df['N14'] = df.groupby(cols7)['TransactionDT'].transform('count')
df['N14'] = (df.N14/df.N14.max()).astype(np.float32).replace(np.inf, np.nan)
df['N15'] = df.groupby(cols8)['TransactionDT'].transform('count')
df['N15'] = (df.N15/df.N15.max()).astype(np.float32).replace(np.inf, np.nan)
df['N16'] = df.groupby(cols9)['TransactionDT'].transform('count')
df['N16'] = (df.N16/df.N16.max()).astype(np.float32).replace(np.inf, np.nan)
df['N17'] = df.groupby(cols10)['TransactionDT'].transform('count')
df['N17'] = (df.N17/df.N17.max()).astype(np.float32).replace(np.inf, np.nan)
df['N18'] = df.groupby(cols11)['TransactionDT'].transform('count')
df['N18'] = (df.N18/df.N18.max()).astype(np.float32).replace(np.inf, np.nan)
df['N19'] = df.groupby(bin_v)['TransactionDT'].transform('count')
df['N19'] = (df.N19/df.N19.max()).astype(np.float32).replace(np.inf, np.nan)
n = 20
for c in V_cols[:4]:
    df['N{}'.format(n)] = (df.groupby(c)['TransactionDT'].transform('std')/df.groupby(c)['TransactionDT'].transform('mean')).replace(np.inf, np.nan)
    n += 1
gc.collect()

8

In [27]:
df.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,N14,N15,N16,N17,N18,N19,N20,N21,N22,N23
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.000176,NaN,NaN,0.55594,0.601698,NaN,0.599398
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.728876,0.723393,0.759264
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1.000000,NaN,1.0,0.55594,0.601698,0.595304,0.599398
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.000004,NaN,NaN,NaN,0.601698,0.595304,0.599398
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.000011,1.0,1.0,0.676342,1.0,NaN,NaN,NaN,NaN,NaN

New features

In [31]:
c_cols = [x for x in df.columns if 'C' in x and x not in ['ProductCD','ProductCD_fe1','ProductCD_fe2']]

In [32]:
df['R1'] = (np.log1p(df.C13/df.C1)).replace(np.inf, np.nan)

df['R2'] = (np.log1p(df.D1/df.D15)).replace(np.inf, np.nan)

df['R3'] = (np.log1p(df.TransactionAmt/df.TransactionAmt.values.mean())).replace(np.inf, np.nan)

df['R4'] = (np.log1p(df.N3/df.N1)).replace(np.inf, np.nan)

df['R5'] = (df['D15'] / df.groupby(['card1', 'addr1'])['D15'].transform('std')).replace(np.inf, np.nan)

df['R6'] = (df['D15'] / df.groupby(['TransactionDT'])['D15'].transform('std')).replace(np.inf, np.nan)

df['R7'] = (df.TransactionAmt / df.Transaction_hour / df.Transaction_day_of_week).replace(np.inf, np.nan)

df['R8'] = (df['TransactionAmt'] / df.groupby(['card1', 'addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

df['R9'] = (df['TransactionAmt'] / df.groupby(['card1','C13','C1','card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

df['R10'] = (df['TransactionAmt'] / df.groupby(['card1','addr1','id_01','V258','D1', 'P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

df['R11'] = (df['TransactionAmt'] / df.groupby(['card1','addr1','P_emaildomain', 'R_emaildomain'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

df['R12'] = (df.groupby(['card1','addr1'])['card1'].transform('mean') * df.groupby(['card1','addr1'])['card1'].transform('count')).replace(np.inf, np.nan)

df['R13'] = (df.TransactionAmt / df.groupby(['card1', 'card2','addr1'])['TransactionAmt'].transform('std')).replace(np.inf, np.nan)

df['R14'] = (df.C2 / df.groupby(['card1', 'V258', 'D10'])['C2'].transform('mean')).replace(np.inf, np.nan)

df['R15'] = (df.V130 / df.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V130'].transform('std')).replace(np.inf, np.nan)

df['R16'] = (df.V258 / df.groupby(['addr1', 'card1', 'C10', 'Transaction_hour', 'Transaction_day_of_week'])['V258'].transform('std')).replace(np.inf, np.nan)

df['R17'] = (df.D10 / df.groupby(id_cols)['D10'].transform('std')).replace(np.inf, np.nan)

df['R18'] = (df.D11 / df.groupby(id_cols)['D11'].transform('std')).replace(np.inf, np.nan)

df['R19'] = (df.D15 / df.groupby(id_cols)['D15'].transform('std')).replace(np.inf, np.nan)

df['R20'] = (df.D3 / df.groupby(id_cols)['D3'].transform('std')).replace(np.inf, np.nan)

df['R21'] = (df.D4 / df.groupby(id_cols)['D4'].transform('std')).replace(np.inf, np.nan)

df['R22'] = (df.D5 / df.groupby(id_cols)['D5'].transform('std')).replace(np.inf, np.nan)

df['R23'] = (df.D6 / df.groupby(id_cols)['D6'].transform('std')).replace(np.inf, np.nan)

df['R24'] = df.D7 * df.groupby(id_cols)['D7'].transform('std')
df['R24'] = df['R24'].replace(np.inf, np.nan)
df['R24'] = df['R24']/df['R24'].max()

df['R25'] = df.D12 * df.groupby(id_cols)['D12'].transform('std')
df['R25'] = df['R25'].replace(np.inf, np.nan)
df['R25'] = df['R25']/df['R25'].max()

df['R26'] = df.D6 * df.groupby(id_cols)['D6'].transform('std')
df['R26'] = df['R26'].replace(np.inf, np.nan)
df['R26'] = df['R26']/df['R26'].max()

df['R27'] = df.D8 * df.groupby(id_cols)['D8'].transform('std')
df['R27'] = df['R27'].replace(np.inf, np.nan)
df['R27'] = df['R27']/df['R27'].max()

df['R28'] = (df.TransactionAmt - df.groupby(id_cols)['TransactionAmt'].shift(1)).replace(np.inf, np.nan)

df['R29'] = (df.TransactionDT - (df.TransactionDT - df.groupby(id_cols)['TransactionDT'].shift(1))).replace(np.inf, np.nan)

df['R30'] = (df.dist1 - df.groupby(id_cols)['dist1'].shift(1)).replace(np.inf, np.nan)

df['R31'] = (df.dist2 - df.groupby(id_cols)['dist2'].shift(1)).replace(np.inf, np.nan)

n = 32
for c in c_cols:
    df['R{}'.format(n)] = (df[c] / df.groupby(id_cols)[c].transform('std')).replace(np.inf, np.nan)
    n += 1

for c in c_cols:
    df['R{}'.format(n)] = (df[c] / df.groupby(id_cols)[c].transform('mean')).replace(np.inf, np.nan)
    n += 1
    
for c in c_cols:
    df['R{}'.format(n)] = (df[c] / (df.groupby(id_cols)[c].transform('std')/df.groupby(id_cols)[c].transform('mean'))).replace(np.inf, np.nan)
    n += 1

In [5]:
# train = pd.read_csv(data_folder+'/train_ft_eng_0.csv', dtype = schema_generated_0)
# test = pd.read_csv(data_folder+'/test_ft_eng_0.csv', dtype = schema_generated_0)

In [33]:
dict(df.dtypes)

{'C1': dtype('float16'),
 'C10': dtype('float16'),
 'C11': dtype('float16'),
 'C12': dtype('float16'),
 'C13': dtype('float16'),
 'C14': dtype('float16'),
 'C2': dtype('float16'),
 'C3': dtype('float16'),
 'C4': dtype('float16'),
 'C5': dtype('float16'),
 'C6': dtype('float16'),
 'C7': dtype('float16'),
 'C8': dtype('float16'),
 'C9': dtype('float16'),
 'D1': dtype('float16'),
 'D10': dtype('float16'),
 'D11': dtype('float16'),
 'D12': dtype('float16'),
 'D13': dtype('float16'),
 'D14': dtype('float16'),
 'D15': dtype('float16'),
 'D2': dtype('float16'),
 'D3': dtype('float16'),
 'D4': dtype('float16'),
 'D5': dtype('float16'),
 'D6': dtype('float16'),
 'D7': dtype('float16'),
 'D8': dtype('float16'),
 'D9': dtype('float16'),
 'DeviceInfo': dtype('uint16'),
 'DeviceType': dtype('uint8'),
 'M1': dtype('uint8'),
 'M2': dtype('uint8'),
 'M3': dtype('uint8'),
 'M4': dtype('uint8'),
 'M5': dtype('uint8'),
 'M6': dtype('uint8'),
 'M7': dtype('uint8'),
 'M8': dtype('uint8'),
 'M9': dtype('uint8'),
 'P_emaildomain': dtype('uint8'),
 'ProductCD': dtype('uint8'),
 'R_emaildomain': dtype('uint8'),
 'TransactionAmt': dtype('float16'),
 'TransactionDT': dtype('int32'),
 'V1': dtype('float16'),
 'V10': dtype('float16'),
 'V100': dtype('float16'),
 'V101': dtype('float16'),
 'V102': dtype('float16'),
 'V103': dtype('float16'),
 'V104': dtype('float16'),
 'V105': dtype('float16'),
 'V106': dtype('float16'),
 'V107': dtype('float16'),
 'V108': dtype('float16'),
 'V109': dtype('float16'),
 'V11': dtype('float16'),
 'V110': dtype('float16'),
 'V111': dtype('float16'),
 'V112': dtype('float16'),
 'V113': dtype('float16'),
 'V114': dtype('float16'),
 'V115': dtype('float16'),
 'V116': dtype('float16'),
 'V117': dtype('float16'),
 'V118': dtype('float16'),
 'V119': dtype('float16'),
 'V12': dtype('float16'),
 'V120': dtype('float16'),
 'V121': dtype('float16'),
 'V122': dtype('float16'),
 'V123': dtype('float16'),
 'V124': dtype('float16'),
 'V125': dtype('float16'),
 'V126': dtype('float32'),
 'V127': dtype('float32'),
 'V128': dtype('float32'),
 'V129': dtype('float16'),
 'V13': dtype('float16'),
 'V130': dtype('float32'),
 'V131': dtype('float32'),
 'V132': dtype('float32'),
 'V133': dtype('float32'),
 'V134': dtype('float32'),
 'V135': dtype('float32'),
 'V136': dtype('float32'),
 'V137': dtype('float32'),
 'V138': dtype('float16'),
 'V139': dtype('float16'),
 'V14': dtype('float16'),
 'V140': dtype('float16'),
 'V141': dtype('float16'),
 'V142': dtype('float16'),
 'V143': dtype('float16'),
 'V144': dtype('float16'),
 'V145': dtype('float16'),
 'V146': dtype('float16'),
 'V147': dtype('float16'),
 'V148': dtype('float16'),
 'V149': dtype('float16'),
 'V15': dtype('float16'),
 'V150': dtype('float16'),
 'V151': dtype('float16'),
 'V152': dtype('float16'),
 'V153': dtype('float16'),
 'V154': dtype('float16'),
 'V155': dtype('float16'),
 'V156': dtype('float16'),
 'V157': dtype('float16'),
 'V158': dtype('float16'),
 'V159': dtype('float32'),
 'V16': dtype('float16'),
 'V160': dtype('float32'),
 'V161': dtype('float16'),
 'V162': dtype('float16'),
 'V163': dtype('float16'),
 'V164': dtype('float32'),
 'V165': dtype('float32'),
 'V166': dtype('float32'),
 'V167': dtype('float16'),
 'V168': dtype('float16'),
 'V169': dtype('float16'),
 'V17': dtype('float16'),
 'V170': dtype('float16'),
 'V171': dtype('float16'),
 'V172': dtype('float16'),
 'V173': dtype('float16'),
 'V174': dtype('float16'),
 'V175': dtype('float16'),
 'V176': dtype('float16'),
 'V177': dtype('float16'),
 'V178': dtype('float16'),
 'V179': dtype('float16'),
 'V18': dtype('float16'),
 'V180': dtype('float16'),
 'V181': dtype('float16'),
 'V182': dtype('float16'),
 'V183': dtype('float16'),
 'V184': dtype('float16'),
 'V185': dtype('float16'),
 'V186': dtype('float16'),
 'V187': dtype('float16'),
 'V188': dtype('float16'),
 'V189': dtype('float16'),
 'V19': dtype('float16'),
 'V190': dtype('float16'),
 'V191': dtype('float16'),
 'V192': dtype('float16'),
 'V193': dtype('float16'),
 'V194': dtype('float16'),
 'V195': dtype('float16'),
 'V196': dtype('float16'),
 'V197': dtype('float16'),
 'V198': dtype('float16'),
 'V199': dtype('float16'),
 'V2': dtype('float16'),
 'V20': dtype('float16'),
 'V200': dtype('float16'),
 'V201': dtype('float16'),
 'V202': dtype('float32'),
 'V203': dtype('float32'),
 'V204': dtype('float32'),
 'V205': dtype('float16'),
 'V206': dtype('float16'),
 'V207': dtype('float32'),
 'V208': dtype('float16'),
 'V209': dtype('float16'),
 'V21': dtype('float16'),
 'V210': dtype('float16'),
 'V211': dtype('float32'),
 'V212': dtype('float32'),
 'V213': dtype('float32'),
 'V214': dtype('float32'),
 'V215': dtype('float32'),
 'V216': dtype('float32'),
 'V217': dtype('float16'),
 'V218': dtype('float16'),
 'V219': dtype('float16'),
 'V22': dtype('float16'),
 'V220': dtype('float16'),
 'V221': dtype('float16'),
 'V222': dtype('float16'),
 'V223': dtype('float16'),
 'V224': dtype('float16'),
 'V225': dtype('float16'),
 'V226': dtype('float16'),
 'V227': dtype('float16'),
 'V228': dtype('float16'),
 'V229': dtype('float16'),
 'V23': dtype('float16'),
 'V230': dtype('float16'),
 'V231': dtype('float16'),
 'V232': dtype('float16'),
 'V233': dtype('float16'),
 'V234': dtype('float16'),
 'V235': dtype('float16'),
 'V236': dtype('float16'),
 'V237': dtype('float16'),
 'V238': dtype('float16'),
 'V239': dtype('float16'),
 'V24': dtype('float16'),
 'V240': dtype('float16'),
 'V241': dtype('float16'),
 'V242': dtype('float16'),
 'V243': dtype('float16'),
 'V244': dtype('float16'),
 'V245': dtype('float16'),
 'V246': dtype('float16'),
 'V247': dtype('float16'),
 'V248': dtype('float16'),
 'V249': dtype('float16'),
 'V25': dtype('float16'),
 'V250': dtype('float16'),
 'V251': dtype('float16'),
 'V252': dtype('float16'),
 'V253': dtype('float16'),
 'V254': dtype('float16'),
 'V255': dtype('float16'),
 'V256': dtype('float16'),
 'V257': dtype('float16'),
 'V258': dtype('float16'),
 'V259': dtype('float16'),
 'V26': dtype('float16'),
 'V260': dtype('float16'),
 'V261': dtype('float16'),
 'V262': dtype('float16'),
 'V263': dtype('float32'),
 'V264': dtype('float32'),
 'V265': dtype('float32'),
 'V266': dtype('float16'),
 'V267': dtype('float16'),
 'V268': dtype('float16'),
 'V269': dtype('float16'),
 'V27': dtype('float16'),
 'V270': dtype('float16'),
 'V271': dtype('float16'),
 'V272': dtype('float16'),
 'V273': dtype('float32'),
 'V274': dtype('float32'),
 'V275': dtype('float32'),
 'V276': dtype('float32'),
 'V277': dtype('float32'),
 'V278': dtype('float32'),
 'V279': dtype('float16'),
 'V28': dtype('float16'),
 'V280': dtype('float16'),
 'V281': dtype('float16'),
 'V282': dtype('float16'),
 'V283': dtype('float16'),
 'V284': dtype('float16'),
 'V285': dtype('float16'),
 'V286': dtype('float16'),
 'V287': dtype('float16'),
 'V288': dtype('float16'),
 'V289': dtype('float16'),
 'V29': dtype('float16'),
 'V290': dtype('float16'),
 'V291': dtype('float16'),
 'V292': dtype('float16'),
 'V293': dtype('float16'),
 'V294': dtype('float16'),
 'V295': dtype('float16'),
 'V296': dtype('float16'),
 'V297': dtype('float16'),
 'V298': dtype('float16'),
 'V299': dtype('float16'),
 'V3': dtype('float16'),
 'V30': dtype('float16'),
 'V300': dtype('float16'),
 'V301': dtype('float16'),
 'V302': dtype('float16'),
 'V303': dtype('float16'),
 'V304': dtype('float16'),
 'V305': dtype('float16'),
 'V306': dtype('float32'),
 'V307': dtype('float32'),
 'V308': dtype('float32'),
 'V309': dtype('float16'),
 'V31': dtype('float16'),
 'V310': dtype('float32'),
 'V311': dtype('float16'),
 'V312': dtype('float32'),
 'V313': dtype('float16'),
 'V314': dtype('float16'),
 'V315': dtype('float16'),
 'V316': dtype('float32'),
 'V317': dtype('float32'),
 'V318': dtype('float32'),
 'V319': dtype('float32'),
 'V32': dtype('float16'),
 'V320': dtype('float32'),
 'V321': dtype('float32'),
 'V322': dtype('float16'),
 'V323': dtype('float16'),
 'V324': dtype('float16'),
 'V325': dtype('float16'),
 'V326': dtype('float16'),
 'V327': dtype('float16'),
 'V328': dtype('float16'),
 'V329': dtype('float16'),
 'V33': dtype('float16'),
 'V330': dtype('float16'),
 'V331': dtype('float32'),
 'V332': dtype('float32'),
 'V333': dtype('float32'),
 'V334': dtype('float16'),
 'V335': dtype('float16'),
 'V336': dtype('float16'),
 'V337': dtype('float32'),
 'V338': dtype('float32'),
 'V339': dtype('float32'),
 'V34': dtype('float16'),
 'V35': dtype('float16'),
 'V36': dtype('float16'),
 'V37': dtype('float16'),
 'V38': dtype('float16'),
 'V39': dtype('float16'),
 'V4': dtype('float16'),
 'V40': dtype('float16'),
 'V41': dtype('float16'),
 'V42': dtype('float16'),
 'V43': dtype('float16'),
 'V44': dtype('float16'),
 'V45': dtype('float16'),
 'V46': dtype('float16'),
 'V47': dtype('float16'),
 'V48': dtype('float16'),
 'V49': dtype('float16'),
 'V5': dtype('float16'),
 'V50': dtype('float16'),
 'V51': dtype('float16'),
 'V52': dtype('float16'),
 'V53': dtype('float16'),
 'V54': dtype('float16'),
 'V55': dtype('float16'),
 'V56': dtype('float16'),
 'V57': dtype('float16'),
 'V58': dtype('float16'),
 'V59': dtype('float16'),
 'V6': dtype('float16'),
 'V60': dtype('float16'),
 'V61': dtype('float16'),
 'V62': dtype('float16'),
 'V63': dtype('float16'),
 'V64': dtype('float16'),
 'V65': dtype('float16'),
 'V66': dtype('float16'),
 'V67': dtype('float16'),
 'V68': dtype('float16'),
 'V69': dtype('float16'),
 'V7': dtype('float16'),
 'V70': dtype('float16'),
 'V71': dtype('float16'),
 'V72': dtype('float16'),
 'V73': dtype('float16'),
 'V74': dtype('float16'),
 'V75': dtype('float16'),
 'V76': dtype('float16'),
 'V77': dtype('float16'),
 'V78': dtype('float16'),
 'V79': dtype('float16'),
 'V8': dtype('float16'),
 'V80': dtype('float16'),
 'V81': dtype('float16'),
 'V82': dtype('float16'),
 'V83': dtype('float16'),
 'V84': dtype('float16'),
 'V85': dtype('float16'),
 'V86': dtype('float16'),
 'V87': dtype('float16'),
 'V88': dtype('float16'),
 'V89': dtype('float16'),
 'V9': dtype('float16'),
 'V90': dtype('float16'),
 'V91': dtype('float16'),
 'V92': dtype('float16'),
 'V93': dtype('float16'),
 'V94': dtype('float16'),
 'V95': dtype('float16'),
 'V96': dtype('float16'),
 'V97': dtype('float16'),
 'V98': dtype('float16'),
 'V99': dtype('float16'),
 'addr1': dtype('uint16'),
 'addr2': dtype('uint8'),
 'card1': dtype('uint16'),
 'card2': dtype('uint16'),
 'card3': dtype('uint8'),
 'card4': dtype('uint8'),
 'card5': dtype('uint8'),
 'card6': dtype('uint8'),
 'dist1': dtype('float16'),
 'dist2': dtype('float16'),
 'id_01': dtype('float16'),
 'id_02': dtype('float32'),
 'id_03': dtype('float16'),
 'id_04': dtype('float16'),
 'id_05': dtype('float16'),
 'id_06': dtype('float16'),
 'id_07': dtype('float16'),
 'id_08': dtype('float16'),
 'id_09': dtype('float16'),
 'id_10': dtype('float16'),
 'id_11': dtype('float16'),
 'id_12': dtype('uint8'),
 'id_13': dtype('uint8'),
 'id_14': dtype('uint8'),
 'id_15': dtype('uint8'),
 'id_16': dtype('uint8'),
 'id_17': dtype('uint8'),
 'id_18': dtype('uint8'),
 'id_19': dtype('uint16'),
 'id_20': dtype('uint16'),
 'id_21': dtype('uint16'),
 'id_22': dtype('uint8'),
 'id_23': dtype('uint8'),
 'id_24': dtype('uint8'),
 'id_25': dtype('uint16'),
 'id_26': dtype('uint8'),
 'id_27': dtype('uint8'),
 'id_28': dtype('uint8'),
 'id_29': dtype('uint8'),
 'id_30': dtype('uint8'),
 'id_31': dtype('uint8'),
 'id_32': dtype('uint8'),
 'id_33': dtype('uint16'),
 'id_34': dtype('uint8'),
 'id_35': dtype('uint8'),
 'id_36': dtype('uint8'),
 'id_37': dtype('uint8'),
 'id_38': dtype('uint8'),
 'isFraud': dtype('float64'),
 'P_emaildomain_0': dtype('uint8'),
 'P_emaildomain_1': dtype('uint8'),
 'R_emaildomain_0': dtype('uint8'),
 'R_emaildomain_1': dtype('uint8'),
 'proc_id_30_0': dtype('uint8'),
 'proc_id_30_1': dtype('uint8'),
 'proc_id_31_0': dtype('uint8'),
 'device_name': dtype('uint8'),
 'device_version': dtype('uint16'),
 'ProductCD_fe1': dtype('uint8'),
 'P_emaildomain_fe1': dtype('uint8'),
 'R_emaildomain_fe1': dtype('uint8'),
 'card1_fe1': dtype('uint16'),
 'card2_fe1': dtype('uint8'),
 'card3_fe1': dtype('uint8'),
 'card4_fe1': dtype('uint8'),
 'card5_fe1': dtype('uint8'),
 'card6_fe1': dtype('uint8'),
 'addr1_fe1': dtype('uint8'),
 'addr2_fe1': dtype('uint8'),
 'M1_fe1': dtype('uint8'),
 'M2_fe1': dtype('uint8'),
 'M3_fe1': dtype('uint8'),
 'M4_fe1': dtype('uint8'),
 'M5_fe1': dtype('uint8'),
 'M6_fe1': dtype('uint8'),
 'M7_fe1': dtype('uint8'),
 'M8_fe1': dtype('uint8'),
 'M9_fe1': dtype('uint8'),
 'DeviceType_fe1': dtype('uint8'),
 'DeviceInfo_fe1': dtype('uint8'),
 'id_12_fe1': dtype('uint8'),
 'id_13_fe1': dtype('uint8'),
 'id_14_fe1': dtype('uint8'),
 'id_15_fe1': dtype('uint8'),
 'id_16_fe1': dtype('uint8'),
 'id_17_fe1': dtype('uint8'),
 'id_18_fe1': dtype('uint8'),
 'id_19_fe1': dtype('uint8'),
 'id_20_fe1': dtype('uint8'),
 'id_21_fe1': dtype('uint8'),
 'id_22_fe1': dtype('uint8'),
 'id_23_fe1': dtype('uint8'),
 'id_24_fe1': dtype('uint8'),
 'id_25_fe1': dtype('uint8'),
 'id_26_fe1': dtype('uint8'),
 'id_27_fe1': dtype('uint8'),
 'id_28_fe1': dtype('uint8'),
 'id_29_fe1': dtype('uint8'),
 'id_30_fe1': dtype('uint8'),
 'id_31_fe1': dtype('uint8'),
 'id_32_fe1': dtype('uint8'),
 'id_33_fe1': dtype('uint8'),
 'id_34_fe1': dtype('uint8'),
 'id_35_fe1': dtype('uint8'),
 'id_36_fe1': dtype('uint8'),
 'id_37_fe1': dtype('uint8'),
 'id_38_fe1': dtype('uint8'),
 'R_emaildomain_0_fe1': dtype('uint8'),
 'device_version_fe1': dtype('uint8'),
 'device_name_fe1': dtype('uint8'),
 'P_emaildomain_0_fe1': dtype('uint8'),
 'P_emaildomain_1_fe1': dtype('uint8'),
 'proc_id_30_0_fe1': dtype('uint8'),
 'proc_id_30_1_fe1': dtype('uint8'),
 'R_emaildomain_1_fe1': dtype('uint8'),
 'proc_id_31_0_fe1': dtype('uint8'),
 'ProductCD_fe2': dtype('uint8'),
 'P_emaildomain_fe2': dtype('uint8'),
 'R_emaildomain_fe2': dtype('uint8'),
 'card1_fe2': dtype('uint8'),
 'card2_fe2': dtype('uint8'),
 'card3_fe2': dtype('uint8'),
 'card4_fe2': dtype('uint8'),
 'card5_fe2': dtype('uint8'),
 'card6_fe2': dtype('uint8'),
 'addr1_fe2': dtype('uint8'),
 'addr2_fe2': dtype('uint8'),
 'M1_fe2': dtype('uint8'),
 'M2_fe2': dtype('uint8'),
 'M3_fe2': dtype('uint8'),
 'M4_fe2': dtype('uint8'),
 'M5_fe2': dtype('uint8'),
 'M6_fe2': dtype('uint8'),
 'M7_fe2': dtype('uint8'),
 'M8_fe2': dtype('uint8'),
 'M9_fe2': dtype('uint8'),
 'DeviceType_fe2': dtype('uint8'),
 'DeviceInfo_fe2': dtype('uint8'),
 'id_12_fe2': dtype('uint8'),
 'id_13_fe2': dtype('uint8'),
 'id_14_fe2': dtype('uint8'),
 'id_15_fe2': dtype('uint8'),
 'id_16_fe2': dtype('uint8'),
 'id_17_fe2': dtype('uint8'),
 'id_18_fe2': dtype('uint8'),
 'id_19_fe2': dtype('uint8'),
 'id_20_fe2': dtype('uint8'),
 'id_21_fe2': dtype('uint8'),
 'id_22_fe2': dtype('uint8'),
 'id_23_fe2': dtype('uint8'),
 'id_24_fe2': dtype('uint8'),
 'id_25_fe2': dtype('uint8'),
 'id_26_fe2': dtype('uint8'),
 'id_27_fe2': dtype('uint8'),
 'id_28_fe2': dtype('uint8'),
 'id_29_fe2': dtype('uint8'),
 'id_30_fe2': dtype('uint8'),
 'id_31_fe2': dtype('uint8'),
 'id_32_fe2': dtype('uint8'),
 'id_33_fe2': dtype('uint8'),
 'id_34_fe2': dtype('uint8'),
 'id_35_fe2': dtype('uint8'),
 'id_36_fe2': dtype('uint8'),
 'id_37_fe2': dtype('uint8'),
 'id_38_fe2': dtype('uint8'),
 'R_emaildomain_0_fe2': dtype('uint8'),
 'device_version_fe2': dtype('uint8'),
 'device_name_fe2': dtype('uint8'),
 'P_emaildomain_0_fe2': dtype('uint8'),
 'P_emaildomain_1_fe2': dtype('uint8'),
 'proc_id_30_0_fe2': dtype('uint8'),
 'proc_id_30_1_fe2': dtype('uint8'),
 'R_emaildomain_1_fe2': dtype('uint8'),
 'proc_id_31_0_fe2': dtype('uint8'),
 'Transaction_day_of_week': dtype('float64'),
 'Transaction_hour': dtype('float64'),
 'N1': dtype('uint32'),
 'N2': dtype('uint32'),
 'N3': dtype('uint32'),
 'N4': dtype('uint32'),
 'N5': dtype('uint32'),
 'N6': dtype('uint32'),
 'N7': dtype('uint16'),
 'N8': dtype('float32'),
 'N9': dtype('float32'),
 'N10': dtype('float32'),
 'N11': dtype('float32'),
 'N12': dtype('float32'),
 'N13': dtype('float32'),
 'N14': dtype('float32'),
 'N15': dtype('float32'),
 'N16': dtype('float32'),
 'N17': dtype('float32'),
 'N18': dtype('float32'),
 'N19': dtype('float32'),
 'N20': dtype('float64'),
 'N21': dtype('float64'),
 'N22': dtype('float64'),
 'N23': dtype('float64'),
 'R1': dtype('float16'),
 'R2': dtype('float16'),
 'R3': dtype('float16'),
 'R4': dtype('float64'),
 'R5': dtype('float16'),
 'R6': dtype('float16'),
 'R7': dtype('float64'),
 'R8': dtype('float16'),
 'R9': dtype('float16'),
 'R10': dtype('float16'),
 'R11': dtype('float16'),
 'R12': dtype('int64'),
 'R13': dtype('float16'),
 'R14': dtype('float16'),
 'R15': dtype('float32'),
 'R16': dtype('float16'),
 'R17': dtype('float16'),
 'R18': dtype('float16'),
 'R19': dtype('float16'),
 'R20': dtype('float16'),
 'R21': dtype('float16'),
 'R22': dtype('float16'),
 'R23': dtype('float16'),
 'R24': dtype('float16'),
 'R25': dtype('float16'),
 'R26': dtype('float16'),
 'R27': dtype('float16'),
 'R28': dtype('float16'),
 'R29': dtype('float64'),
 'R30': dtype('float16'),
 'R31': dtype('float16'),
 'R32': dtype('float16'),
 'R33': dtype('float16'),
 'R34': dtype('float16'),
 'R35': dtype('float16'),
 'R36': dtype('float16'),
 'R37': dtype('float16'),
 'R38': dtype('float16'),
 'R39': dtype('float16'),
 'R40': dtype('float16'),
 'R41': dtype('float16'),
 'R42': dtype('float16'),
 'R43': dtype('float16'),
 'R44': dtype('float16'),
 'R45': dtype('float16'),
 'R46': dtype('float16'),
 'R47': dtype('float16'),
 'R48': dtype('float16'),
 'R49': dtype('float16'),
 'R50': dtype('float16'),
 'R51': dtype('float16'),
 'R52': dtype('float16'),
 'R53': dtype('float16'),
 'R54': dtype('float16'),
 'R55': dtype('float16'),
 'R56': dtype('float16'),
 'R57': dtype('float16'),
 'R58': dtype('float16'),
 'R59': dtype('float16'),
 'R60': dtype('float16'),
 'R61': dtype('float16'),
 'R62': dtype('float16'),
 'R63': dtype('float16'),
 'R64': dtype('float16'),
 'R65': dtype('float16'),
 'R66': dtype('float16'),
 'R67': dtype('float16'),
 'R68': dtype('float16'),
 'R69': dtype('float16'),
 'R70': dtype('float16'),
 'R71': dtype('float16'),
 'R72': dtype('float16'),
 'R73': dtype('float16')}

In [34]:
df.shape

(1097231, 656)

In [64]:
# drop_cols = ['D10', 'D11', 'D12', 'D15', 'D3', 'D4',
#             'D5', 'D6', 'D7', 'D8']

In [65]:
# df = df[[x for x in df.columns if x not in drop_cols]]

In [67]:
# df = df.replace(np.inf, np.nan)

In [35]:
train = df.iloc[:train_index, :]
test = df.iloc[train_index:, :]

In [36]:
train.to_csv(data_folder+'/train_ft_eng_2.csv', header=True, index=None)
print('train guardado')
test.to_csv(data_folder+'/test_ft_eng_2.csv', header=True, index=None)
print('test guardado')

train guardado
test guardado

In [37]:
train.shape, test.shape

((590540, 656), (506691, 656))

In [38]:
train.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,R64,R65,R66,R67,R68,R69,R70,R71,R72,R73
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.869141,1.264648,1.464844,NaN,0.0,0.0,1.304688,NaN,0.0,0.000000
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.642578,NaN,2.599609,NaN,NaN,NaN,2.599609,NaN,NaN,NaN
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,43.000000,3.142578,11.632812,NaN,0.0,NaN,10.320312,NaN,0.0,3.611328
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN