In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict
import gc

from utils.schemas import *

In [2]:
data_folder = 'input'
schema_train_transaction.update(schema_train_identity)
schema_test_transaction.update(schema_test_identity)

In [3]:
train = pd.read_csv(data_folder+'/train_merged.csv', dtype = schema_train_transaction)
test = pd.read_csv(data_folder+'/test_merged.csv', dtype = schema_test_transaction)

In [5]:
train.shape, test.shape

((590540, 433), (506691, 432))

In [6]:
cat_ft = ['ProductCD', 'P_emaildomain', 'R_emaildomain'] + ['card{}'.format(i) for i in range(1, 7)] \
+ ['addr1', 'addr2'] + ['M{}'.format(i) for i in range(1, 10)] + ['DeviceType', 'DeviceInfo'] \
+ ['id_{}'.format(i) for i in range(12, 39)]

In [7]:
num_ft = [x for x in train.columns if x not in cat_ft]

In [8]:
len(cat_ft), len(num_ft)

(49, 384)

In [9]:
test['isFraud'] = np.nan

In [10]:
train_index = train.shape[0]
test_index = test.shape[0]
df = pd.concat([train, test], axis=0)
df.shape

(1097231, 433)

In [11]:
del train
del test
gc.collect()

21

In [20]:
for ft in cat_ft:
    v_c = df[ft].value_counts(dropna=False)
    print('LEN de {0}: {1}'.format(ft, len(v_c)))
    print('Suma de NA: {}'.format(df[ft].isna().sum()))
    print(v_c,'\n')

LEN de ProductCD: 5
Suma de NA: 0
W    800657
C    137785
R     73346
H     62397
S     23046
Name: ProductCD, dtype: int64

LEN de P_emaildomain: 61
Suma de NA: 163648
gmail.com           435803
yahoo.com           182784
NaN                 163648
hotmail.com          85649
anonymous.com        71062
aol.com              52337
comcast.net          14474
icloud.com           12316
outlook.com           9934
att.net               7647
msn.com               7480
sbcglobal.net         5767
live.com              5720
verizon.net           5011
ymail.com             4075
bellsouth.net         3437
yahoo.com.mx          2827
me.com                2713
cox.net               2657
optonline.net         1937
live.com.mx           1470
charter.net           1443
mail.com              1156
rocketmail.com        1105
gmail                  993
earthlink.net          979
outlook.es             863
mac.com                862
hotmail.fr             674
hotmail.es             627
                     ...
roadrunner.com         583
juno.com               574
windstream.net         552
web.de                 518
aim.com                468
embarqmail.com         464
twc.com                439
frontiernet.net        397
netzero.com            387
centurylink.net        386
q.com                  362
yahoo.fr               344
hotmail.co.uk          334
suddenlink.net         323
netzero.net            319
cfl.rr.com             318
cableone.net           311
prodigy.net.mx         303
gmx.de                 298
sc.rr.com              277
yahoo.es               272
protonmail.com         159
ptd.net                140
yahoo.de               137
hotmail.de             130
live.fr                106
yahoo.co.uk            103
yahoo.co.jp            101
servicios-ta.com        80
scranton.edu             2
Name: P_emaildomain, Length: 61, dtype: int64

LEN de R_emaildomain: 61
Suma de NA: 824070
NaN                 824070
gmail.com           118885
hotmail.com          53166
anonymous.com        39644
yahoo.com            21405
aol.com               7239
outlook.com           5011
comcast.net           3513
icloud.com            2820
yahoo.com.mx          2743
msn.com               1698
live.com.mx           1464
live.com              1444
verizon.net           1202
sbcglobal.net         1163
me.com                1095
att.net                870
cox.net                854
outlook.es             853
bellsouth.net          795
hotmail.fr             667
hotmail.es             595
web.de                 514
mac.com                430
ymail.com              405
optonline.net          350
mail.com               341
hotmail.co.uk          317
yahoo.fr               315
prodigy.net.mx         303
                     ...
charter.net            263
gmail                  196
earthlink.net          170
embarqmail.com         140
yahoo.de               139
hotmail.de             130
rocketmail.com         126
yahoo.es               124
juno.com               111
frontier.com           110
live.fr                105
windstream.net         104
yahoo.co.jp            104
roadrunner.com         101
yahoo.co.uk             82
servicios-ta.com        80
aim.com                 77
protonmail.com          75
ptd.net                 70
scranton.edu            69
twc.com                 61
cfl.rr.com              57
suddenlink.net          55
cableone.net            46
q.com                   45
frontiernet.net         38
centurylink.net         28
netzero.com             24
netzero.net             19
sc.rr.com               14
Name: R_emaildomain, Length: 61, dtype: int64

LEN de card1: 17091
Suma de NA: 0
7919     28015
9500     26243
15885    22691
17188    19606
15066    14606
6019     13268
12695    12732
12544    12694
2803     11043
7585     10097
12839     9593
10616     9419
3154      9253
9633      8909
2884      7683
18132     7635
15497     7266
16132     7253
16075     7053
5812      6697
7508      6659
2616      6196
10112     6058
4461      5959
12501     5886
10057     5642
16659     5627
11207     5595
7664      5237
16136     5155
         ...
1438         1
8603         1
17815        1
13721        1
11674        1
16787        1
7087         1
12200        1
1432         1
7574         1
8594         1
7086         1
9618         1
10642        1
7572         1
8111         1
8604         1
17808        1
5530         1
13727        1
7579         1
1964         1
16785        1
16299        1
14250        1
14750        1
12703        1
17809        1
3480         1
12204        1
Name: card1, Length: 17091, dtype: int64

LEN de card2: 502
Suma de NA: 17587
321.0    91731
111.0    82537
555.0    80404
490.0    70496
583.0    41503
170.0    33411
545.0    31894
194.0    31511
514.0    27225
360.0    26532
174.0    21406
512.0    19884
NaN      17587
408.0    17160
361.0    14420
215.0    13801
100.0    13651
399.0    13458
225.0    13274
553.0    12202
375.0    12157
476.0    11690
567.0    11287
268.0    10651
481.0    10151
543.0     9968
130.0     8141
298.0     8069
327.0     7935
500.0     7475
         ...
150.0      137
163.0      135
506.0      135
531.0      135
200.0      135
209.0      135
380.0      135
196.0      134
522.0      134
261.0      134
256.0      133
362.0      133
342.0      133
591.0      132
526.0      132
117.0      132
493.0      132
425.0      131
574.0      131
539.0      131
389.0      131
451.0      130
230.0      129
394.0      129
597.0      128
121.0      126
419.0      126
293.0      126
552.0      125
487.0      123
Name: card2, Length: 502, dtype: int64

LEN de card3: 134
Suma de NA: 4567
150.0    956845
185.0    109960
NaN        4567
106.0      3543
117.0      2841
144.0      2633
146.0      2470
143.0      1670
102.0      1198
119.0      1091
162.0      1039
147.0       868
203.0       599
213.0       554
100.0       529
188.0       502
134.0       440
131.0       391
149.0       337
229.0       334
200.0       326
197.0       270
195.0       267
210.0       257
135.0       233
121.0       227
159.0       192
215.0       183
223.0       181
138.0       179
          ...
123.0         3
216.0         3
205.0         3
187.0         2
175.0         2
179.0         2
112.0         2
201.0         2
193.0         2
115.0         2
226.0         2
173.0         2
125.0         2
206.0         2
165.0         2
209.0         1
139.0         1
103.0         1
104.0         1
196.0         1
230.0         1
228.0         1
221.0         1
172.0         1
110.0         1
154.0         1
232.0         1
178.0         1
170.0         1
132.0         1
Name: card3, Length: 134, dtype: int64

LEN de card4: 5
Suma de NA: 4663
visa                719649
mastercard          347386
american express     16009
discover              9524
NaN                   4663
Name: card4, dtype: int64

LEN de card5: 139
Suma de NA: 8806
226.0    553537
224.0    153109
166.0    102930
102.0     49491
117.0     47061
138.0     41839
195.0     31896
126.0     21737
137.0     19450
219.0     18326
162.0      9036
NaN        8806
202.0      7103
229.0      4744
223.0      3460
197.0      3165
150.0      2550
118.0      1447
190.0      1396
100.0      1323
146.0      1259
183.0      1247
198.0      1212
236.0      1187
185.0       965
147.0       828
203.0       815
141.0       694
129.0       691
228.0       500
          ...
220.0         2
201.0         2
123.0         2
113.0         2
140.0         2
200.0         2
231.0         2
167.0         2
170.0         2
145.0         2
108.0         1
209.0         1
208.0         1
103.0         1
110.0         1
221.0         1
206.0         1
115.0         1
234.0         1
124.0         1
154.0         1
196.0         1
193.0         1
187.0         1
181.0         1
178.0         1
175.0         1
173.0         1
165.0         1
218.0         1
Name: card5, Length: 139, dtype: int64

LEN de card6: 5
Suma de NA: 4578
debit              824959
credit             267648
NaN                  4578
debit or credit        30
charge card            16
Name: card6, dtype: int64

LEN de addr1: 442
Suma de NA: 131315
NaN      131315
299.0     85045
204.0     77069
325.0     76902
264.0     72580
330.0     48387
315.0     43035
441.0     38890
272.0     35929
123.0     28700
126.0     28198
337.0     28081
191.0     27910
184.0     27205
181.0     25410
143.0     18431
476.0     17455
310.0     16127
327.0     15904
387.0     15737
472.0     15704
512.0     15251
433.0     14542
231.0     13532
485.0     12540
269.0     12156
205.0     11025
225.0      9886
220.0      9371
251.0      9146
          ...
182.0         1
493.0         1
209.0         1
212.0         1
352.0         1
213.0         1
353.0         1
249.0         1
248.0         1
354.0         1
245.0         1
244.0         1
414.0         1
241.0         1
240.0         1
425.0         1
238.0         1
357.0         1
235.0         1
234.0         1
233.0         1
232.0         1
230.0         1
229.0         1
358.0         1
413.0         1
484.0         1
219.0         1
217.0         1
405.0         1
Name: addr1, Length: 442, dtype: int64

LEN de addr2: 94
Suma de NA: 131315
87.0     956415
NaN      131315
60.0       7125
96.0       1246
32.0        152
65.0        131
31.0         83
16.0         77
19.0         56
69.0         44
27.0         34
26.0         32
43.0         30
57.0         29
34.0         27
73.0         26
98.0         26
102.0        21
59.0         19
54.0         16
29.0         14
68.0         13
10.0         11
17.0         11
72.0         10
71.0         10
79.0          9
36.0          9
88.0          9
78.0          9
          ...
92.0          2
90.0          2
97.0          2
23.0          2
63.0          2
77.0          2
76.0          2
22.0          1
42.0          1
33.0          1
14.0          1
35.0          1
15.0          1
37.0          1
91.0          1
11.0          1
75.0          1
89.0          1
64.0          1
25.0          1
55.0          1
99.0          1
85.0          1
49.0          1
50.0          1
70.0          1
82.0          1
80.0          1
58.0          1
83.0          1
Name: addr2, Length: 94, dtype: int64

LEN de M1: 3
Suma de NA: 447739
T      649436
NaN    447739
F          56
Name: M1, dtype: int64

LEN de M2: 3

Suma de NA: 447739
T      588323
NaN    447739
F       61169
Name: M2, dtype: int64

LEN de M3: 3
Suma de NA: 447739
T      518244
NaN    447739
F      131248
Name: M3, dtype: int64

LEN de M4: 4
Suma de NA: 519189
NaN    519189
M0     357789
M2     122947
M1      97306
Name: M4, dtype: int64

LEN de M5: 3
Suma de NA: 660114
NaN    660114
F      240155
T      196962
Name: M5, dtype: int64

LEN de M6: 3
Suma de NA: 328299
F      419433
T      349499
NaN    328299
Name: M6, dtype: int64

LEN de M7: 3
Suma de NA: 581283
NaN    581283
F      444604
T       71344
Name: M7, dtype: int64

LEN de M8: 3
Suma de NA: 581256
NaN    581256
F      323650
T      192325
Name: M8, dtype: int64

LEN de M9: 3
Suma de NA: 581256
NaN    581256
T      441935
F       74040
Name: M9, dtype: int64

LEN de DeviceType: 3
Suma de NA: 819490
NaN        819490
desktop    159568
mobile     118173
Name: DeviceType, dtype: int64

LEN de DeviceInfo: 2800
Suma de NA: 863508
NaN                               863508
Windows                            92710
iOS Device                         38502
MacOS                              23722
Trident/7.0                        12330
rv:11.0                             2650
SM-G532M Build/MMB29T                980
rv:57.0                              968
SM-J700M Build/MMB29K                829
SM-G610M Build/MMB29K                804
SM-G531H Build/LMY48B                682
rv:63.0                              474
ALE-L23 Build/HuaweiALE-L23          458
SM-G935F Build/NRD90M                450
SAMSUNG                              445
rv:61.0                              421
rv:52.0                              378
rv:59.0                              376
rv:62.0                              335
SM-G955U Build/NRD90M                334
Moto G (4) Build/NPJ25.93-14.7       326
SM-J730GM Build/NRD90M               319
ANE-LX3                              315
rv:64.0                              310
SM-G950U Build/NRD90M                308
LG-M700 Build/NMF26X                 300
SAMSUNG SM-G532M Build/MMB29T        299
SM-G930V Build/NRD90M                298
moto g(6) play                       295
LG-D693n Build/LRX22G                283
                                   ...
Northwell                              1
LG-V930                                1
SM-N915V                               1
SM-N910T3                              1
SGH-M919N                              1
A9                                     1
LG-M210                                1
SAMSUNG-SM-T337A                       1
SM-J320W8                              1
Alcatel_5098O                          1
rv:36.0                                1
GT-P3100                               1
SCH-I435                               1
8080                                   1
ASUS_Z01BDA                            1
GT-I9195I                              1
XT1058                                 1
D2303                                  1
VT0701A08                              1
RCT6103W46                             1
RCT6873W42M_F7                         1
Tab2A7-10F                             1
6043A                                  1
arc                                    1
NX16A8116KP                            1
SM-S907VL                              1
H550                                   1
E2006                                  1
E5663                                  1
SM-T818V                               1
Name: DeviceInfo, Length: 2800, dtype: int64

LEN de id_12: 3
Suma de NA: 811091
NaN         811091
NotFound    243920
Found        42220
Name: id_12, dtype: int64

LEN de id_13: 56
Suma de NA: 839625
NaN     839625
52.0    109760
27.0     73282
49.0     26365
64.0     14429
33.0     10048
14.0      6427
20.0      3804
63.0      2050
62.0      1752
25.0      1302
18.0      1218
19.0      1147
41.0      1086
43.0       907
11.0       890
55.0       781
24.0       531
15.0       520
51.0       349
35.0       317
61.0       108
44.0        87
28.0        77
54.0        67
39.0        45
31.0        38
45.0        26
36.0        25
38.0        22
13.0        21
56.0        19
58.0        17
48.0        12
32.0        10
42.0         9
30.0         9
21.0         8
22.0         5
53.0         4
47.0         3
46.0         3
16.0         3
17.0         3
57.0         3
60.0         3
37.0         3
12.0         2
26.0         2
10.0         1
40.0         1
23.0         1
29.0         1
34.0         1
50.0         1
59.0         1
Name: id_13, dtype: int64

LEN de id_14: 29
Suma de NA: 945830
 NaN      945830
-300.0     83733
-360.0     31196
-480.0     24245
-420.0      8751
-600.0      1010
 60.0        687
 0.0         364
-240.0       297
-180.0       204
-540.0       195
 480.0       138
 540.0       118
 600.0       113
 120.0        98
 180.0        73
 420.0        56
 240.0        24
 330.0        23
 270.0        20
 300.0        20
 720.0        18
-210.0         5
 570.0         4
 360.0         3
-120.0         2
-660.0         2
-720.0         1
 660.0         1
Name: id_14, dtype: int64

LEN de id_15: 4
Suma de NA: 819269
NaN        819269
Found      135690
New        119397
Unknown     22875
Name: id_15, dtype: int64

LEN de id_16: 3
Suma de NA: 842144
NaN         842144
Found       132805
NotFound    122282
Name: id_16, dtype: int64

LEN de id_17: 128
Suma de NA: 821896
NaN      821896
166.0    150938
225.0    116313
102.0      1443
159.0       690
121.0       646
100.0       539
148.0       482
191.0       378
150.0       305
142.0       285
149.0       197
192.0       185
144.0       183
106.0       168
218.0       140
183.0       138
133.0       110
146.0       107
195.0       103
143.0        96
210.0        96
137.0        84
135.0        83
212.0        81
117.0        74
134.0        72
205.0        67
119.0        64
199.0        59
          ...
179.0         2
165.0         2
201.0         2
125.0         2
140.0         2
123.0         2
193.0         2
170.0         2
145.0         2
160.0         1
229.0         1
103.0         1
105.0         1
104.0         1
224.0         1
219.0         1
220.0         1
154.0         1
187.0         1
211.0         1
112.0         1
209.0         1
115.0         1
172.0         1
173.0         1
227.0         1
175.0         1
139.0         1
181.0         1
196.0         1
Name: id_17, Length: 128, dtype: int64

LEN de id_18: 20
Suma de NA: 1001243
NaN     1001243
15.0      53476
13.0      25223
12.0       8765
17.0       4489
18.0       1113
20.0        960
26.0        903
11.0        368
27.0        275
21.0        207
24.0        158
29.0         14
23.0         12
14.0         12
28.0          7
25.0          3
19.0          1
16.0          1
10.0          1
Name: id_18, dtype: int64

LEN de id_19: 569
Suma de NA: 822007
NaN      822007
266.0     39541
410.0     22414
427.0     16646
529.0     15893
100.0      9998
542.0      9784
153.0      9518
215.0      9133
417.0      9010
176.0      7786
352.0      7783
290.0      7272
312.0      7080
271.0      6385
193.0      6333
548.0      4996
567.0      4844
286.0      4656
633.0      4069
621.0      4029
317.0      4005
390.0      3604
321.0      3509
492.0      2869
216.0      2773
254.0      2696
122.0      2634
341.0      2517
384.0      2375
          ...
557.0         2
584.0         1
198.0         1
513.0         1
626.0         1
135.0         1
227.0         1
580.0         1
293.0         1
624.0         1
206.0         1
423.0         1
413.0         1
524.0         1
637.0         1
115.0         1
571.0         1
361.0         1
486.0         1
467.0         1
143.0         1
461.0         1
285.0         1
174.0         1
172.0         1
464.0         1
412.0         1
301.0         1
319.0         1
485.0         1
Name: id_19, Length: 569, dtype: int64

LEN de id_20: 548
Suma de NA: 822337
NaN      822337
507.0     34192
222.0     20843
325.0     15427
533.0     12483
563.0     12280
595.0     11814
549.0     10970
214.0     10945
600.0     10345
333.0      6979
161.0      6434
500.0      5364
305.0      5034
597.0      4831
489.0      4816
127.0      4768
368.0      4384
256.0      3940
612.0      3802
535.0      3705
315.0      3582
391.0      3504
566.0      3227
401.0      3111
277.0      3097
177.0      2794
280.0      2738
561.0      2704
266.0      2355
          ...
285.0         1
289.0         1
601.0         1
292.0         1
293.0         1
301.0         1
596.0         1
313.0         1
316.0         1
326.0         1
329.0         1
276.0         1
273.0         1
264.0         1
627.0         1
227.0         1
230.0         1
637.0         1
232.0         1
233.0         1
234.0         1
626.0         1
614.0         1
624.0         1
255.0         1
620.0         1
262.0         1
618.0         1
617.0         1
512.0         1
Name: id_20, Length: 548, dtype: int64

LEN de id_21: 735
Suma de NA: 1087013
NaN      1087013
252.0       3552
711.0       1796
228.0        469
576.0        167
255.0        162
849.0        154
277.0        139
755.0        115
596.0        114
770.0        110
848.0         93
537.0         79
249.0         75
668.0         68
409.0         67
286.0         56
103.0         53
262.0         49
440.0         47
734.0         46
470.0         45
453.0         45
819.0         43
757.0         38
306.0         36
480.0         36
500.0         35
142.0         35
256.0         33
          ...
781.0          1
782.0          1
783.0          1
785.0          1
382.0          1
176.0          1
788.0          1
767.0          1
182.0          1
307.0          1
751.0          1
743.0          1
190.0          1
745.0          1
746.0          1
302.0          1
748.0          1
749.0          1
750.0          1
753.0          1
393.0          1
186.0          1
399.0          1
398.0          1
305.0          1
758.0          1
759.0          1
396.0          1
261.0          1
134.0          1
Name: id_21, Length: 735, dtype: int64

LEN de id_22: 36
Suma de NA: 1087000
NaN     1087000
14.0       9487
41.0        487
33.0         64
43.0         23
24.0         21
27.0         18
21.0         15
36.0         14
39.0         13
22.0          9
17.0          9
15.0          8
35.0          7
31.0          7
12.0          7
26.0          4
20.0          4
28.0          3
40.0          3
42.0          3
32.0          3
13.0          3
16.0          3
44.0          2
18.0          2
38.0          2
19.0          2
10.0          1
25.0          1
29.0          1
37.0          1
23.0          1
34.0          1
30.0          1
11.0          1
Name: id_22, dtype: int64

LEN de id_23: 4

Suma de NA: 1087000
NaN                     1087000
IP_PROXY:TRANSPARENT       7203
IP_PROXY:ANONYMOUS         2010
IP_PROXY:HIDDEN            1018
Name: id_23, dtype: int64

LEN de id_24: 18
Suma de NA: 1087744
NaN     1087744
11.0       5666
15.0       2948
16.0        315
21.0        222
24.0        141
18.0        104
12.0         26
19.0         24
26.0         14
17.0          9
25.0          9
20.0          4
22.0          1
23.0          1
14.0          1
13.0          1
10.0          1
Name: id_24, dtype: int64

LEN de id_25: 441
Suma de NA: 1087060
NaN      1087060
321.0       5233
205.0        569
426.0        469
442.0        188
501.0        151
371.0        132
509.0        115
524.0        114
123.0         97
126.0         64
479.0         59
236.0         56
463.0         55
143.0         54
432.0         53
385.0         51
505.0         51
247.0         48
239.0         45
472.0         45
486.0         43
356.0         38
270.0         37
511.0         36
359.0         36
250.0         36
516.0         35
481.0         31
170.0         29
          ...
139.0          1
401.0          1
407.0          1
362.0          1
150.0          1
306.0          1
200.0          1
153.0          1
419.0          1
192.0          1
189.0          1
163.0          1
394.0          1
256.0          1
127.0          1
261.0          1
262.0          1
493.0          1
121.0          1
389.0          1
280.0          1
425.0          1
283.0          1
506.0          1
107.0          1
447.0          1
451.0          1
293.0          1
380.0          1
363.0          1
Name: id_25, Length: 441, dtype: int64

LEN de id_26: 116
Suma de NA: 1087021
NaN      1087021
161.0       1576
184.0       1196
142.0       1126
100.0        891
119.0        669
102.0        583
147.0        547
137.0        441
169.0        410
216.0        352
215.0        228
182.0        225
146.0        179
121.0        176
190.0        135
194.0        120
162.0         89
117.0         78
168.0         74
149.0         67
143.0         56
133.0         53
150.0         48
163.0         45
106.0         44
156.0         42
138.0         40
134.0         39
177.0         36
          ...
176.0          3
145.0          2
123.0          2
165.0          2
140.0          2
125.0          2
193.0          2
195.0          2
170.0          2
179.0          2
172.0          1
173.0          1
210.0          1
104.0          1
105.0          1
154.0          1
101.0          1
181.0          1
132.0          1
207.0          1
112.0          1
160.0          1
187.0          1
115.0          1
175.0          1
214.0          1
139.0          1
196.0          1
198.0          1
127.0          1
Name: id_26, Length: 116, dtype: int64

LEN de id_27: 3
Suma de NA: 1087000
NaN         1087000
Found         10214
NotFound         17
Name: id_27, dtype: int64

LEN de id_28: 3
Suma de NA: 819475
NaN      819475
Found    151813
New      125943
Name: id_28, dtype: int64

LEN de id_29: 3
Suma de NA: 819475
NaN         819475
Found       149264
NotFound    128492
Name: id_29, dtype: int64

LEN de id_30: 88
Suma de NA: 949007
NaN                 949007
Windows 10           42170
Windows 7            23478
iOS 12.1.0            6349
Mac OS X 10_12_6      3884
iOS 11.2.1            3824
Mac OS X 10_11_6      3802
iOS 11.1.2            3776
Android 7.0           3573
iOS 11.4.1            3539
Windows 8.1           3308
Mac OS X 10_13_6      3254
Android 8.0.0         2798
iOS 11.3.0            2662
Mac OS X 10_10_5      2575
Linux                 2488
iOS 10.3.3            2043
Android               1848
iOS 11.2.6            1834
iOS 12.0.1            1691
iOS 11.4.0            1610
Mac OS X 10_13_2      1493
iOS 11.2.5            1373
Mac OS X 10_13_1      1310
iOS 12.0.0            1255
iOS 12.1.2            1208
Mac OS X 10_13_4      1151
Mac OS X 10_14_1      1063
Mac OS X 10_13_3      1043
iOS 11.2.2             954
                     ...
Windows XP             198
Mac OS X 10.14         185
iOS 10.2.0             182
iOS 11.0.2             180
iOS 11.0.0             165
iOS 11.3.1             164
Mac OS X 10_7_5        138
iOS 11.0.1             138
Mac OS X 10_12_4       135
iOS 10.0.2             123
iOS 10.1.1             123
Mac OS X 10_12_3       113
Android 6.0            106
Mac OS X 10_8_5        106
Mac OS X 10_11_5       101
Mac OS X 10.9           96
Android 7.1.2           96
Android 5.0.2           86
Mac OS X 10_11_4        84
Mac OS X 10.6           76
Mac OS X 10_11_3        75
Android 4.4.2           67
Mac OS X 10_12_1        61
Android 5.0             59
Mac OS X 10_12          57
Mac OS X 10_12_2        51
Mac OS X 10_6_8         50
func                    21
other                   19
Windows                  6
Name: id_30, Length: 88, dtype: int64

LEN de id_31: 173
Suma de NA: 820324
NaN                        820324
mobile safari 11.0          23655
chrome 63.0                 22168
chrome 70.0                 16054
ie 11.0 for desktop         14203
mobile safari 12.0          13098
mobile safari generic       11474
chrome 71.0                  9489
chrome 69.0                  8294
safari generic               8195
chrome 70.0 for android      7624
chrome 62.0                  7283
chrome 65.0                  7114
chrome 64.0                  6822
chrome 68.0                  6449
chrome 67.0                  6155
chrome 69.0 for android      6022
chrome 63.0 for android      5993
chrome 71.0 for android      5029
edge 17.0                    4945
chrome generic               4778
chrome 66.0                  4608
edge 16.0                    4592
mobile safari 10.0           3933
chrome 64.0 for android      3735
chrome 65.0 for android      3659
chrome 67.0 for android      3637
safari 12.0                  3550
chrome 68.0 for android      3520
safari 11.0                  3447
                            ...
safari                         36
Microsoft/Windows              25
silk                           19
mobile                         18
ZTE/Blade                       9
uc                              8
line                            6
comodo                          6
maxthon                         6
icedragon                       5
aol                             5
Mozilla/Firefox                 5
palemoon                        4
Lanix/Ilium                     3
waterfox                        2
puffin                          2
android                         1
BLU/Dash                        1
Cherry                          1
blackberry                      1
chromium                        1
rim                             1
Nokia/Lumia                     1
iron                            1
Inco/Minion                     1
LG/K-200                        1
Samsung/SCH                     1
cyberfox                        1
M4Tel/M4                        1
seamonkey                       1
Name: id_31, Length: 173, dtype: int64

LEN de id_32: 7
Suma de NA: 948974
NaN     948974
24.0    104040
32.0     44077
16.0       121
8.0         11
0.0          6
48.0         2
Name: id_32, dtype: int64

LEN de id_33: 462
Suma de NA: 953271
NaN          953271
1920x1080     33742
1366x768      15046
1334x750      11550
2208x1242      9113
1440x900       8127
1600x900       6603
2048x1536      6556
2436x1125      4230
2560x1600      3871
1280x800       3704
2880x1800      3644
2560x1440      3325
1680x1050      3176
1280x1024      3071
1136x640       2825
1280x720       2407
1024x768       2051
1920x1200      1892
2001x1125      1875
2220x1080      1430
2220x1081      1061
3360x2100       870
5120x2880       866
1366x767        836
2732x2048       791
3840x2160       588
2736x1824       567
2224x1668       551
2688x1242       469
              ...
1260x787          1
600x450           1
1408x1127         1
1408x1126         1
1920x1017         1
1800x1440         1
1920x1128         1
3360x1050         1
1501x843          1
3840x1599         1
7500x5000         1
3841x2401         1
1511x944          1
1918x1080         1
2791x1440         1
5960x1080         1
1669x942          1
2341x1080         1
1360x765          1
2047x1279         1
1400x900          1
3520x1980         1
1025x640          1
2880x1920         1
1596x710          1
2768x1440         1
1279x768          1
2112x1320         1
1920x983          1
2680x1440         1
Name: id_33, Length: 462, dtype: int64

LEN de id_34: 5
Suma de NA: 947251
NaN                947251
match_status:2     132185
match_status:1      17377
match_status:0        415
match_status:-1         3
Name: id_34, dtype: int64

LEN de id_35: 3
Suma de NA: 819269
NaN    819269
T      149464
F      128498
Name: id_35, dtype: int64

LEN de id_36: 3
Suma de NA: 819269
NaN    819269
F      267353
T       10609
Name: id_36, dtype: int64

LEN de id_37: 3
Suma de NA: 819269
NaN    819269
T      215149
F       62813
Name: id_37, dtype: int64

LEN de id_38: 3
Suma de NA: 819269
NaN    819269
F      168980
T      108982
Name: id_38, dtype: int64

In [12]:
first_na_impute_cat = {
    'P_emaildomain': 'na.na',
    'R_emaildomain': 'na.na',
    'card2': -1,
    'card3': -1,
    'card4': 'U',
    'card5': -1,
    'card6': 'U',
    'addr1': -1,
    'addr2': -1,
    'M1': 'U',
    'M2': 'U',
    'M3': 'U',
    'M4': 'M3',
    'M5': 'U',
    'M6': 'U',
    'M7': 'U',
    'M8': 'U',
    'M9': 'U',
    'DeviceType': 'U',
    'DeviceInfo': 'U',
    'id_12': 'U',
    'id_13': -1,
    'id_14': -1,
    'id_15': 'Unknown',
    'id_16': 'U',
    'id_17': -1,
    'id_18': -1,
    'id_19': -1,
    'id_20': -1,
    'id_21': -1,
    'id_22': -1,
    'id_23': 'IP_PROXY:NA',
    'id_24': -1,
    'id_25': -1,
    'id_26': -1,
    'id_27': 'U',
    'id_28': 'U',
    'id_29': 'U',
    'id_30': 'U',
    'id_31': 'U',
    'id_32': 99,
    'id_33': '9999x9999',
    'id_34': 'match_status:-2',
    'id_35': 'U',
    'id_36': 'U',
    'id_37': 'U',
    'id_38': 'U',
}

In [13]:
df_imputed = df.fillna(first_na_impute_cat)
# df_imputed = df

In [14]:
df_imputed.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,isFraud
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,99.0,9999x9999,match_status:-2,U,U,U,U,0.0
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,99.0,9999x9999,match_status:-2,U,U,U,U,0.0
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,99.0,9999x9999,match_status:-2,U,U,U,U,0.0
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,U,U,99.0,9999x9999,match_status:-2,U,U,U,U,0.0
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,0.0

In [15]:
df_imputed['P_emaildomain_0'] = df_imputed['P_emaildomain'].apply(lambda x: x.split('.')[0])
df_imputed['P_emaildomain_1'] = df_imputed['P_emaildomain'].apply(lambda x: '.'.join(x.split('.')[1:]))
df_imputed['R_emaildomain_0'] = df_imputed['R_emaildomain'].apply(lambda x: x.split('.')[0])
df_imputed['R_emaildomain_1'] = df_imputed['R_emaildomain'].apply(lambda x: '.'.join(x.split('.')[1:]))

In [16]:
def proc_id_30_0(x):
    x = x.lower()
    try:
        if 'windows' in x or 'android' in x:
            return x.split()[1]
        elif 'ios' in x:
            return x.split()[1].split('.')[0]
        elif 'mac' in x:
            return x.split()[-1]
        elif 'linux' in x:
            return 'linux'
        else:
            return 'other'
    except:
        return 'other'
    
def proc_id_30_1(x):
    x = x.lower()
    if 'windows' in x:
        return 'windows'
    elif 'ios' in x:
        return 'ios'
    elif 'android' in x:
        return 'android'
    elif 'mac' in x:
        return 'mac'
    elif 'linux' in x:
        return 'linux'
    else:
        return 'other'

In [17]:
df_imputed['proc_id_30_0'] = df_imputed['id_30'].apply(lambda x: proc_id_30_0(x))
df_imputed['proc_id_30_1'] = df_imputed['id_30'].apply(lambda x: proc_id_30_1(x))

In [18]:
def proc_id_31_0(x):
    x = x.lower()
    if 'chrome' in x and not 'android' in x:
        return 'chrome'
    elif 'mobile' in x and 'safari' in x:
        return 'safari_mobile'
    elif 'ie' in x:
        return 'ie'
    elif 'safari' in x and not 'mobile' in x:
        return 'safari'
    elif 'chrome' in x and 'android' in x:
        return 'chrome_android'
    elif 'edge' in x:
        return 'edge'
    elif 'firefox' in x:
        return 'firefox'
    elif 'samsung' in x:
        return 'samsung'
    elif 'other' in x:
        return 'other'
    elif 'opera' in x:
        return 'opera'
    elif 'android' in x and not 'chrome' in x:
        return 'android'
    elif 'chrome' in x and 'ios' in x:
        return 'chrome_ios'
    elif 'google' in x:
        return 'google'
    else:
        return 'other'

In [19]:
df_imputed['proc_id_31_0'] = df_imputed['id_31'].apply(lambda x: proc_id_31_0(x))

In [20]:
df_imputed.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_37,id_38,isFraud,P_emaildomain_0,P_emaildomain_1,R_emaildomain_0,R_emaildomain_1,proc_id_30_0,proc_id_30_1,proc_id_31_0
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,na,na,na,na,other,other,other
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,gmail,com,na,na,other,other,other
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,outlook,com,na,na,other,other,other
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,U,U,0.0,yahoo,com,na,na,other,other,other
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,T,T,0.0,gmail,com,na,na,7.0,android,samsung

In [21]:
new_cat_ft = list()
for i, j in zip(df_imputed.dtypes, df_imputed.columns):
    if i in ['O', 'object']:
        new_cat_ft.append(j)
        
new_cat_ft = list(set(new_cat_ft)-set(cat_ft))
new_cat_ft = cat_ft + new_cat_ft
len(new_cat_ft)

56

In [22]:
# new_cat_ft

In [35]:
num_ft_imput_dict = dict()
for c in df_imputed.columns:
    if c not in new_cat_ft and df_imputed[c].isna().sum() > 0:
        mdn = df_imputed[c].median()
        num_ft_imput_dict[c] = mdn

In [91]:
df_imputed2 = df_imputed.fillna(num_ft_imput_dict)

In [23]:
def freq_encoder(df, label, new_label, min_freq = 0.001):
    rows = df.shape[0]
    n = 0
    dict_fe = dict()
    vc = df[label].value_counts()
    for i, j in zip(vc.index, vc):
        ratio = j/rows
        if ratio > min_freq:
            dict_fe[i] = n
            n += 1
        else:
            dict_fe[i] = n
        
    if n < 2**8:
        _d_type = 'uint8'
    elif n >= 2**8 and n < 8**16:
        _d_type = 'uint16'
    elif n >= 2**16 and n < 8**32:
        _d_type = 'uint32'
    else:
        _d_type = 'uint64'
        
    df[new_label] = df[label].apply(lambda x: dict_fe[x]).astype(_d_type)
    
    n = 0
    dict_fe = dict()
    vc = df[label].value_counts()
    for i, j in zip(vc.index, vc):
        ratio = j/rows
        if ratio > min_freq:
            dict_fe[i] = n
            n += 1
        else:
            dict_fe[i] = n
            
    df[new_label] = df[label].apply(lambda x: dict_fe[x]).astype(_d_type)
    
    return df

In [24]:
df_imputed2 = df_imputed
df_imputed2.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_37,id_38,isFraud,P_emaildomain_0,P_emaildomain_1,R_emaildomain_0,R_emaildomain_1,proc_id_30_0,proc_id_30_1,proc_id_31_0
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,na,na,na,na,other,other,other
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,gmail,com,na,na,other,other,other
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,U,U,0.0,outlook,com,na,na,other,other,other
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,U,U,0.0,yahoo,com,na,na,other,other,other
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,T,T,0.0,gmail,com,na,na,7.0,android,samsung

In [25]:
fr = 0.0005
print('frecuencia minima: {}'.format(fr))
for ft in new_cat_ft:
    df_imputed2 = freq_encoder(df_imputed2, ft, str(ft+'_fe1'), min_freq = fr)
    print('\t{0}: {1}'.format(ft, len(df_imputed2[ft+'_fe1'].value_counts())))
    
fr = 0.001
print('frecuencia minima: {}'.format(fr))
for ft in new_cat_ft:
    df_imputed2 = freq_encoder(df_imputed2, ft, str(ft+'_fe2'), min_freq = fr)
    print('\t{0}: {1}'.format(ft, len(df_imputed2[ft+'_fe2'].value_counts())))
    
fr = 0
print('frecuencia minima: {}'.format(fr))
for ft in new_cat_ft:
    df_imputed2 = freq_encoder(df_imputed2, ft, str(ft), min_freq = fr)
    print('\t{0}: {1}'.format(ft, len(df_imputed2[ft].value_counts())))

frecuencia minima: 0.0005
	ProductCD: 5
	P_emaildomain: 35
	R_emaildomain: 23
	card1: 294
	card2: 170
	card3: 15
	card4: 5
	card5: 30
	card6: 4
	addr1: 59
	addr2: 5
	M1: 3
	M2: 3
	M3: 3
	M4: 4
	M5: 3
	M6: 3
	M7: 3
	M8: 3
	M9: 3
	DeviceType: 3
	DeviceInfo: 12
	id_12: 3
	id_13: 18
	id_14: 8
	id_15: 3
	id_16: 3
	id_17: 7
	id_18: 9
	id_19: 46
	id_20: 64
	id_21: 4
	id_22: 3
	id_23: 4
	id_24: 4
	id_25: 4
	id_26: 8
	id_27: 3
	id_28: 3
	id_29: 3
	id_30: 42
	id_31: 58
	id_32: 4
	id_33: 30
	id_34: 4
	id_35: 3
	id_36: 3
	id_37: 3
	id_38: 3
	proc_id_31_0: 12
	R_emaildomain_1: 8
	proc_id_30_1: 6
	R_emaildomain_0: 18
	P_emaildomain_1: 10
	P_emaildomain_0: 30
	proc_id_30_0: 27
frecuencia minima: 0.001
	ProductCD: 5
	P_emaildomain: 25
	R_emaildomain: 16
	card1: 172
	card2: 95
	card3: 10
	card4: 5
	card5: 25
	card6: 4
	addr1: 56
	addr2: 5
	M1: 3
	M2: 3
	M3: 3
	M4: 4
	M5: 3
	M6: 3
	M7: 3
	M8: 3
	M9: 3
	DeviceType: 3
	DeviceInfo: 7
	id_12: 3
	id_13: 14
	id_14: 6
	id_15: 3
	id_16: 3
	id_17: 5
	id_18: 7
	id_19: 36
	id_20: 48
	id_21: 4
	id_22: 3
	id_23: 4
	id_24: 4
	id_25: 3
	id_26: 5
	id_27: 3
	id_28: 3
	id_29: 3
	id_30: 28
	id_31: 43
	id_32: 4
	id_33: 22
	id_34: 4
	id_35: 3
	id_36: 3
	id_37: 3
	id_38: 3
	proc_id_31_0: 11
	R_emaildomain_1: 6
	proc_id_30_1: 6
	R_emaildomain_0: 14
	P_emaildomain_1: 7
	P_emaildomain_0: 23
	proc_id_30_0: 17
frecuencia minima: 0
	ProductCD: 5
	P_emaildomain: 61
	R_emaildomain: 61
	card1: 17091
	card2: 502
	card3: 134
	card4: 5
	card5: 139
	card6: 5
	addr1: 442
	addr2: 94
	M1: 3
	M2: 3
	M3: 3
	M4: 4
	M5: 3
	M6: 3
	M7: 3
	M8: 3
	M9: 3
	DeviceType: 3
	DeviceInfo: 2799
	id_12: 3
	id_13: 56
	id_14: 29
	id_15: 3
	id_16: 3
	id_17: 128
	id_18: 20
	id_19: 569
	id_20: 548
	id_21: 735
	id_22: 36
	id_23: 4
	id_24: 18
	id_25: 441
	id_26: 116
	id_27: 3
	id_28: 3
	id_29: 3
	id_30: 88
	id_31: 173
	id_32: 7
	id_33: 462
	id_34: 5
	id_35: 3
	id_36: 3
	id_37: 3
	id_38: 3
	proc_id_31_0: 12
	R_emaildomain_1: 13
	proc_id_30_1: 6
	R_emaildomain_0: 46
	P_emaildomain_1: 13
	P_emaildomain_0: 46
	proc_id_30_0: 56

In [26]:
new_cat_ft2 = new_cat_ft + [x for x in df_imputed2.columns if '_fe1' in x or '_fe2' in x]
new_cat_ft2

['ProductCD',
 'P_emaildomain',
 'R_emaildomain',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'DeviceType',
 'DeviceInfo',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'proc_id_31_0',
 'R_emaildomain_1',
 'proc_id_30_1',
 'R_emaildomain_0',
 'P_emaildomain_1',
 'P_emaildomain_0',
 'proc_id_30_0',
 'ProductCD_fe1',
 'P_emaildomain_fe1',
 'R_emaildomain_fe1',
 'card1_fe1',
 'card2_fe1',
 'card3_fe1',
 'card4_fe1',
 'card5_fe1',
 'card6_fe1',
 'addr1_fe1',
 'addr2_fe1',
 'M1_fe1',
 'M2_fe1',
 'M3_fe1',
 'M4_fe1',
 'M5_fe1',
 'M6_fe1',
 'M7_fe1',
 'M8_fe1',
 'M9_fe1',
 'DeviceType_fe1',
 'DeviceInfo_fe1',
 'id_12_fe1',
 'id_13_fe1',
 'id_14_fe1',
 'id_15_fe1',
 'id_16_fe1',
 'id_17_fe1',
 'id_18_fe1',
 'id_19_fe1',
 'id_20_fe1',
 'id_21_fe1',
 'id_22_fe1',
 'id_23_fe1',
 'id_24_fe1',
 'id_25_fe1',
 'id_26_fe1',
 'id_27_fe1',
 'id_28_fe1',
 'id_29_fe1',
 'id_30_fe1',
 'id_31_fe1',
 'id_32_fe1',
 'id_33_fe1',
 'id_34_fe1',
 'id_35_fe1',
 'id_36_fe1',
 'id_37_fe1',
 'id_38_fe1',
 'proc_id_31_0_fe1',
 'R_emaildomain_1_fe1',
 'proc_id_30_1_fe1',
 'R_emaildomain_0_fe1',
 'P_emaildomain_1_fe1',
 'P_emaildomain_0_fe1',
 'proc_id_30_0_fe1',
 'ProductCD_fe2',
 'P_emaildomain_fe2',
 'R_emaildomain_fe2',
 'card1_fe2',
 'card2_fe2',
 'card3_fe2',
 'card4_fe2',
 'card5_fe2',
 'card6_fe2',
 'addr1_fe2',
 'addr2_fe2',
 'M1_fe2',
 'M2_fe2',
 'M3_fe2',
 'M4_fe2',
 'M5_fe2',
 'M6_fe2',
 'M7_fe2',
 'M8_fe2',
 'M9_fe2',
 'DeviceType_fe2',
 'DeviceInfo_fe2',
 'id_12_fe2',
 'id_13_fe2',
 'id_14_fe2',
 'id_15_fe2',
 'id_16_fe2',
 'id_17_fe2',
 'id_18_fe2',
 'id_19_fe2',
 'id_20_fe2',
 'id_21_fe2',
 'id_22_fe2',
 'id_23_fe2',
 'id_24_fe2',
 'id_25_fe2',
 'id_26_fe2',
 'id_27_fe2',
 'id_28_fe2',
 'id_29_fe2',
 'id_30_fe2',
 'id_31_fe2',
 'id_32_fe2',
 'id_33_fe2',
 'id_34_fe2',
 'id_35_fe2',
 'id_36_fe2',
 'id_37_fe2',
 'id_38_fe2',
 'proc_id_31_0_fe2',
 'R_emaildomain_1_fe2',
 'proc_id_30_1_fe2',
 'R_emaildomain_0_fe2',
 'P_emaildomain_1_fe2',
 'P_emaildomain_0_fe2',
 'proc_id_30_0_fe2']

In [95]:
for c, d in zip(df_imputed2.columns, df_imputed2.dtypes):
    if c not in new_cat_ft+['isFraud'] and str(d)[:4] != 'uint':
        df_imputed2[c] = np.log1p(df_imputed2[c])

In [27]:
df_imputed2.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_36_fe2,id_37_fe2,id_38_fe2,proc_id_31_0_fe2,R_emaildomain_1_fe2,proc_id_30_1_fe2,R_emaildomain_0_fe2,P_emaildomain_1_fe2,P_emaildomain_0_fe2,proc_id_30_0_fe2
0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,2,0
1,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,8,0
3,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1,1,2,8,0,4,0,0,0,7

In [34]:
dict(df_imputed2.dtypes)

{'C1': dtype('float16'),
 'C10': dtype('float16'),
 'C11': dtype('float16'),
 'C12': dtype('float16'),
 'C13': dtype('float16'),
 'C14': dtype('float16'),
 'C2': dtype('float16'),
 'C3': dtype('float16'),
 'C4': dtype('float16'),
 'C5': dtype('float16'),
 'C6': dtype('float16'),
 'C7': dtype('float16'),
 'C8': dtype('float16'),
 'C9': dtype('float16'),
 'D1': dtype('float16'),
 'D10': dtype('float16'),
 'D11': dtype('float16'),
 'D12': dtype('float16'),
 'D13': dtype('float16'),
 'D14': dtype('float16'),
 'D15': dtype('float16'),
 'D2': dtype('float16'),
 'D3': dtype('float16'),
 'D4': dtype('float16'),
 'D5': dtype('float16'),
 'D6': dtype('float16'),
 'D7': dtype('float16'),
 'D8': dtype('float16'),
 'D9': dtype('float16'),
 'DeviceInfo': dtype('uint16'),
 'DeviceType': dtype('uint8'),
 'M1': dtype('uint8'),
 'M2': dtype('uint8'),
 'M3': dtype('uint8'),
 'M4': dtype('uint8'),
 'M5': dtype('uint8'),
 'M6': dtype('uint8'),
 'M7': dtype('uint8'),
 'M8': dtype('uint8'),
 'M9': dtype('uint8'),
 'P_emaildomain': dtype('uint8'),
 'ProductCD': dtype('uint8'),
 'R_emaildomain': dtype('uint8'),
 'TransactionAmt': dtype('float16'),
 'TransactionDT': dtype('int32'),
 'V1': dtype('float16'),
 'V10': dtype('float16'),
 'V100': dtype('float16'),
 'V101': dtype('float16'),
 'V102': dtype('float16'),
 'V103': dtype('float16'),
 'V104': dtype('float16'),
 'V105': dtype('float16'),
 'V106': dtype('float16'),
 'V107': dtype('float16'),
 'V108': dtype('float16'),
 'V109': dtype('float16'),
 'V11': dtype('float16'),
 'V110': dtype('float16'),
 'V111': dtype('float16'),
 'V112': dtype('float16'),
 'V113': dtype('float16'),
 'V114': dtype('float16'),
 'V115': dtype('float16'),
 'V116': dtype('float16'),
 'V117': dtype('float16'),
 'V118': dtype('float16'),
 'V119': dtype('float16'),
 'V12': dtype('float16'),
 'V120': dtype('float16'),
 'V121': dtype('float16'),
 'V122': dtype('float16'),
 'V123': dtype('float16'),
 'V124': dtype('float16'),
 'V125': dtype('float16'),
 'V126': dtype('float32'),
 'V127': dtype('float32'),
 'V128': dtype('float32'),
 'V129': dtype('float16'),
 'V13': dtype('float16'),
 'V130': dtype('float32'),
 'V131': dtype('float32'),
 'V132': dtype('float32'),
 'V133': dtype('float32'),
 'V134': dtype('float32'),
 'V135': dtype('float32'),
 'V136': dtype('float32'),
 'V137': dtype('float32'),
 'V138': dtype('float16'),
 'V139': dtype('float16'),
 'V14': dtype('float16'),
 'V140': dtype('float16'),
 'V141': dtype('float16'),
 'V142': dtype('float16'),
 'V143': dtype('float16'),
 'V144': dtype('float16'),
 'V145': dtype('float16'),
 'V146': dtype('float16'),
 'V147': dtype('float16'),
 'V148': dtype('float16'),
 'V149': dtype('float16'),
 'V15': dtype('float16'),
 'V150': dtype('float16'),
 'V151': dtype('float16'),
 'V152': dtype('float16'),
 'V153': dtype('float16'),
 'V154': dtype('float16'),
 'V155': dtype('float16'),
 'V156': dtype('float16'),
 'V157': dtype('float16'),
 'V158': dtype('float16'),
 'V159': dtype('float32'),
 'V16': dtype('float16'),
 'V160': dtype('float32'),
 'V161': dtype('float16'),
 'V162': dtype('float16'),
 'V163': dtype('float16'),
 'V164': dtype('float32'),
 'V165': dtype('float32'),
 'V166': dtype('float32'),
 'V167': dtype('float16'),
 'V168': dtype('float16'),
 'V169': dtype('float16'),
 'V17': dtype('float16'),
 'V170': dtype('float16'),
 'V171': dtype('float16'),
 'V172': dtype('float16'),
 'V173': dtype('float16'),
 'V174': dtype('float16'),
 'V175': dtype('float16'),
 'V176': dtype('float16'),
 'V177': dtype('float16'),
 'V178': dtype('float16'),
 'V179': dtype('float16'),
 'V18': dtype('float16'),
 'V180': dtype('float16'),
 'V181': dtype('float16'),
 'V182': dtype('float16'),
 'V183': dtype('float16'),
 'V184': dtype('float16'),
 'V185': dtype('float16'),
 'V186': dtype('float16'),
 'V187': dtype('float16'),
 'V188': dtype('float16'),
 'V189': dtype('float16'),
 'V19': dtype('float16'),
 'V190': dtype('float16'),
 'V191': dtype('float16'),
 'V192': dtype('float16'),
 'V193': dtype('float16'),
 'V194': dtype('float16'),
 'V195': dtype('float16'),
 'V196': dtype('float16'),
 'V197': dtype('float16'),
 'V198': dtype('float16'),
 'V199': dtype('float16'),
 'V2': dtype('float16'),
 'V20': dtype('float16'),
 'V200': dtype('float16'),
 'V201': dtype('float16'),
 'V202': dtype('float32'),
 'V203': dtype('float32'),
 'V204': dtype('float32'),
 'V205': dtype('float16'),
 'V206': dtype('float16'),
 'V207': dtype('float32'),
 'V208': dtype('float16'),
 'V209': dtype('float16'),
 'V21': dtype('float16'),
 'V210': dtype('float16'),
 'V211': dtype('float32'),
 'V212': dtype('float32'),
 'V213': dtype('float32'),
 'V214': dtype('float32'),
 'V215': dtype('float32'),
 'V216': dtype('float32'),
 'V217': dtype('float16'),
 'V218': dtype('float16'),
 'V219': dtype('float16'),
 'V22': dtype('float16'),
 'V220': dtype('float16'),
 'V221': dtype('float16'),
 'V222': dtype('float16'),
 'V223': dtype('float16'),
 'V224': dtype('float16'),
 'V225': dtype('float16'),
 'V226': dtype('float16'),
 'V227': dtype('float16'),
 'V228': dtype('float16'),
 'V229': dtype('float16'),
 'V23': dtype('float16'),
 'V230': dtype('float16'),
 'V231': dtype('float16'),
 'V232': dtype('float16'),
 'V233': dtype('float16'),
 'V234': dtype('float16'),
 'V235': dtype('float16'),
 'V236': dtype('float16'),
 'V237': dtype('float16'),
 'V238': dtype('float16'),
 'V239': dtype('float16'),
 'V24': dtype('float16'),
 'V240': dtype('float16'),
 'V241': dtype('float16'),
 'V242': dtype('float16'),
 'V243': dtype('float16'),
 'V244': dtype('float16'),
 'V245': dtype('float16'),
 'V246': dtype('float16'),
 'V247': dtype('float16'),
 'V248': dtype('float16'),
 'V249': dtype('float16'),
 'V25': dtype('float16'),
 'V250': dtype('float16'),
 'V251': dtype('float16'),
 'V252': dtype('float16'),
 'V253': dtype('float16'),
 'V254': dtype('float16'),
 'V255': dtype('float16'),
 'V256': dtype('float16'),
 'V257': dtype('float16'),
 'V258': dtype('float16'),
 'V259': dtype('float16'),
 'V26': dtype('float16'),
 'V260': dtype('float16'),
 'V261': dtype('float16'),
 'V262': dtype('float16'),
 'V263': dtype('float32'),
 'V264': dtype('float32'),
 'V265': dtype('float32'),
 'V266': dtype('float16'),
 'V267': dtype('float16'),
 'V268': dtype('float16'),
 'V269': dtype('float16'),
 'V27': dtype('float16'),
 'V270': dtype('float16'),
 'V271': dtype('float16'),
 'V272': dtype('float16'),
 'V273': dtype('float32'),
 'V274': dtype('float32'),
 'V275': dtype('float32'),
 'V276': dtype('float32'),
 'V277': dtype('float32'),
 'V278': dtype('float32'),
 'V279': dtype('float16'),
 'V28': dtype('float16'),
 'V280': dtype('float16'),
 'V281': dtype('float16'),
 'V282': dtype('float16'),
 'V283': dtype('float16'),
 'V284': dtype('float16'),
 'V285': dtype('float16'),
 'V286': dtype('float16'),
 'V287': dtype('float16'),
 'V288': dtype('float16'),
 'V289': dtype('float16'),
 'V29': dtype('float16'),
 'V290': dtype('float16'),
 'V291': dtype('float16'),
 'V292': dtype('float16'),
 'V293': dtype('float16'),
 'V294': dtype('float16'),
 'V295': dtype('float16'),
 'V296': dtype('float16'),
 'V297': dtype('float16'),
 'V298': dtype('float16'),
 'V299': dtype('float16'),
 'V3': dtype('float16'),
 'V30': dtype('float16'),
 'V300': dtype('float16'),
 'V301': dtype('float16'),
 'V302': dtype('float16'),
 'V303': dtype('float16'),
 'V304': dtype('float16'),
 'V305': dtype('float16'),
 'V306': dtype('float32'),
 'V307': dtype('float32'),
 'V308': dtype('float32'),
 'V309': dtype('float16'),
 'V31': dtype('float16'),
 'V310': dtype('float32'),
 'V311': dtype('float16'),
 'V312': dtype('float32'),
 'V313': dtype('float16'),
 'V314': dtype('float16'),
 'V315': dtype('float16'),
 'V316': dtype('float32'),
 'V317': dtype('float32'),
 'V318': dtype('float32'),
 'V319': dtype('float32'),
 'V32': dtype('float16'),
 'V320': dtype('float32'),
 'V321': dtype('float32'),
 'V322': dtype('float16'),
 'V323': dtype('float16'),
 'V324': dtype('float16'),
 'V325': dtype('float16'),
 'V326': dtype('float16'),
 'V327': dtype('float16'),
 'V328': dtype('float16'),
 'V329': dtype('float16'),
 'V33': dtype('float16'),
 'V330': dtype('float16'),
 'V331': dtype('float32'),
 'V332': dtype('float32'),
 'V333': dtype('float32'),
 'V334': dtype('float16'),
 'V335': dtype('float16'),
 'V336': dtype('float16'),
 'V337': dtype('float32'),
 'V338': dtype('float32'),
 'V339': dtype('float32'),
 'V34': dtype('float16'),
 'V35': dtype('float16'),
 'V36': dtype('float16'),
 'V37': dtype('float16'),
 'V38': dtype('float16'),
 'V39': dtype('float16'),
 'V4': dtype('float16'),
 'V40': dtype('float16'),
 'V41': dtype('float16'),
 'V42': dtype('float16'),
 'V43': dtype('float16'),
 'V44': dtype('float16'),
 'V45': dtype('float16'),
 'V46': dtype('float16'),
 'V47': dtype('float16'),
 'V48': dtype('float16'),
 'V49': dtype('float16'),
 'V5': dtype('float16'),
 'V50': dtype('float16'),
 'V51': dtype('float16'),
 'V52': dtype('float16'),
 'V53': dtype('float16'),
 'V54': dtype('float16'),
 'V55': dtype('float16'),
 'V56': dtype('float16'),
 'V57': dtype('float16'),
 'V58': dtype('float16'),
 'V59': dtype('float16'),
 'V6': dtype('float16'),
 'V60': dtype('float16'),
 'V61': dtype('float16'),
 'V62': dtype('float16'),
 'V63': dtype('float16'),
 'V64': dtype('float16'),
 'V65': dtype('float16'),
 'V66': dtype('float16'),
 'V67': dtype('float16'),
 'V68': dtype('float16'),
 'V69': dtype('float16'),
 'V7': dtype('float16'),
 'V70': dtype('float16'),
 'V71': dtype('float16'),
 'V72': dtype('float16'),
 'V73': dtype('float16'),
 'V74': dtype('float16'),
 'V75': dtype('float16'),
 'V76': dtype('float16'),
 'V77': dtype('float16'),
 'V78': dtype('float16'),
 'V79': dtype('float16'),
 'V8': dtype('float16'),
 'V80': dtype('float16'),
 'V81': dtype('float16'),
 'V82': dtype('float16'),
 'V83': dtype('float16'),
 'V84': dtype('float16'),
 'V85': dtype('float16'),
 'V86': dtype('float16'),
 'V87': dtype('float16'),
 'V88': dtype('float16'),
 'V89': dtype('float16'),
 'V9': dtype('float16'),
 'V90': dtype('float16'),
 'V91': dtype('float16'),
 'V92': dtype('float16'),
 'V93': dtype('float16'),
 'V94': dtype('float16'),
 'V95': dtype('float16'),
 'V96': dtype('float16'),
 'V97': dtype('float16'),
 'V98': dtype('float16'),
 'V99': dtype('float16'),
 'addr1': dtype('uint16'),
 'addr2': dtype('uint8'),
 'card1': dtype('uint16'),
 'card2': dtype('uint16'),
 'card3': dtype('uint8'),
 'card4': dtype('uint8'),
 'card5': dtype('uint8'),
 'card6': dtype('uint8'),
 'dist1': dtype('float16'),
 'dist2': dtype('float16'),
 'id_01': dtype('float16'),
 'id_02': dtype('float32'),
 'id_03': dtype('float16'),
 'id_04': dtype('float16'),
 'id_05': dtype('float16'),
 'id_06': dtype('float16'),
 'id_07': dtype('float16'),
 'id_08': dtype('float16'),
 'id_09': dtype('float16'),
 'id_10': dtype('float16'),
 'id_11': dtype('float16'),
 'id_12': dtype('uint8'),
 'id_13': dtype('uint8'),
 'id_14': dtype('uint8'),
 'id_15': dtype('uint8'),
 'id_16': dtype('uint8'),
 'id_17': dtype('uint8'),
 'id_18': dtype('uint8'),
 'id_19': dtype('uint16'),
 'id_20': dtype('uint16'),
 'id_21': dtype('uint16'),
 'id_22': dtype('uint8'),
 'id_23': dtype('uint8'),
 'id_24': dtype('uint8'),
 'id_25': dtype('uint16'),
 'id_26': dtype('uint8'),
 'id_27': dtype('uint8'),
 'id_28': dtype('uint8'),
 'id_29': dtype('uint8'),
 'id_30': dtype('uint8'),
 'id_31': dtype('uint8'),
 'id_32': dtype('uint8'),
 'id_33': dtype('uint16'),
 'id_34': dtype('uint8'),
 'id_35': dtype('uint8'),
 'id_36': dtype('uint8'),
 'id_37': dtype('uint8'),
 'id_38': dtype('uint8'),
 'isFraud': dtype('float64'),
 'P_emaildomain_0': dtype('uint8'),
 'P_emaildomain_1': dtype('uint8'),
 'R_emaildomain_0': dtype('uint8'),
 'R_emaildomain_1': dtype('uint8'),
 'proc_id_30_0': dtype('uint8'),
 'proc_id_30_1': dtype('uint8'),
 'proc_id_31_0': dtype('uint8'),
 'ProductCD_fe1': dtype('uint8'),
 'P_emaildomain_fe1': dtype('uint8'),
 'R_emaildomain_fe1': dtype('uint8'),
 'card1_fe1': dtype('uint16'),
 'card2_fe1': dtype('uint8'),
 'card3_fe1': dtype('uint8'),
 'card4_fe1': dtype('uint8'),
 'card5_fe1': dtype('uint8'),
 'card6_fe1': dtype('uint8'),
 'addr1_fe1': dtype('uint8'),
 'addr2_fe1': dtype('uint8'),
 'M1_fe1': dtype('uint8'),
 'M2_fe1': dtype('uint8'),
 'M3_fe1': dtype('uint8'),
 'M4_fe1': dtype('uint8'),
 'M5_fe1': dtype('uint8'),
 'M6_fe1': dtype('uint8'),
 'M7_fe1': dtype('uint8'),
 'M8_fe1': dtype('uint8'),
 'M9_fe1': dtype('uint8'),
 'DeviceType_fe1': dtype('uint8'),
 'DeviceInfo_fe1': dtype('uint8'),
 'id_12_fe1': dtype('uint8'),
 'id_13_fe1': dtype('uint8'),
 'id_14_fe1': dtype('uint8'),
 'id_15_fe1': dtype('uint8'),
 'id_16_fe1': dtype('uint8'),
 'id_17_fe1': dtype('uint8'),
 'id_18_fe1': dtype('uint8'),
 'id_19_fe1': dtype('uint8'),
 'id_20_fe1': dtype('uint8'),
 'id_21_fe1': dtype('uint8'),
 'id_22_fe1': dtype('uint8'),
 'id_23_fe1': dtype('uint8'),
 'id_24_fe1': dtype('uint8'),
 'id_25_fe1': dtype('uint8'),
 'id_26_fe1': dtype('uint8'),
 'id_27_fe1': dtype('uint8'),
 'id_28_fe1': dtype('uint8'),
 'id_29_fe1': dtype('uint8'),
 'id_30_fe1': dtype('uint8'),
 'id_31_fe1': dtype('uint8'),
 'id_32_fe1': dtype('uint8'),
 'id_33_fe1': dtype('uint8'),
 'id_34_fe1': dtype('uint8'),
 'id_35_fe1': dtype('uint8'),
 'id_36_fe1': dtype('uint8'),
 'id_37_fe1': dtype('uint8'),
 'id_38_fe1': dtype('uint8'),
 'proc_id_30_1_fe1': dtype('uint8'),
 'proc_id_30_0_fe1': dtype('uint8'),
 'R_emaildomain_0_fe1': dtype('uint8'),
 'proc_id_31_0_fe1': dtype('uint8'),
 'P_emaildomain_1_fe1': dtype('uint8'),
 'R_emaildomain_1_fe1': dtype('uint8'),
 'P_emaildomain_0_fe1': dtype('uint8'),
 'ProductCD_fe2': dtype('uint8'),
 'P_emaildomain_fe2': dtype('uint8'),
 'R_emaildomain_fe2': dtype('uint8'),
 'card1_fe2': dtype('uint8'),
 'card2_fe2': dtype('uint8'),
 'card3_fe2': dtype('uint8'),
 'card4_fe2': dtype('uint8'),
 'card5_fe2': dtype('uint8'),
 'card6_fe2': dtype('uint8'),
 'addr1_fe2': dtype('uint8'),
 'addr2_fe2': dtype('uint8'),
 'M1_fe2': dtype('uint8'),
 'M2_fe2': dtype('uint8'),
 'M3_fe2': dtype('uint8'),
 'M4_fe2': dtype('uint8'),
 'M5_fe2': dtype('uint8'),
 'M6_fe2': dtype('uint8'),
 'M7_fe2': dtype('uint8'),
 'M8_fe2': dtype('uint8'),
 'M9_fe2': dtype('uint8'),
 'DeviceType_fe2': dtype('uint8'),
 'DeviceInfo_fe2': dtype('uint8'),
 'id_12_fe2': dtype('uint8'),
 'id_13_fe2': dtype('uint8'),
 'id_14_fe2': dtype('uint8'),
 'id_15_fe2': dtype('uint8'),
 'id_16_fe2': dtype('uint8'),
 'id_17_fe2': dtype('uint8'),
 'id_18_fe2': dtype('uint8'),
 'id_19_fe2': dtype('uint8'),
 'id_20_fe2': dtype('uint8'),
 'id_21_fe2': dtype('uint8'),
 'id_22_fe2': dtype('uint8'),
 'id_23_fe2': dtype('uint8'),
 'id_24_fe2': dtype('uint8'),
 'id_25_fe2': dtype('uint8'),
 'id_26_fe2': dtype('uint8'),
 'id_27_fe2': dtype('uint8'),
 'id_28_fe2': dtype('uint8'),
 'id_29_fe2': dtype('uint8'),
 'id_30_fe2': dtype('uint8'),
 'id_31_fe2': dtype('uint8'),
 'id_32_fe2': dtype('uint8'),
 'id_33_fe2': dtype('uint8'),
 'id_34_fe2': dtype('uint8'),
 'id_35_fe2': dtype('uint8'),
 'id_36_fe2': dtype('uint8'),
 'id_37_fe2': dtype('uint8'),
 'id_38_fe2': dtype('uint8'),
 'proc_id_30_1_fe2': dtype('uint8'),
 'proc_id_30_0_fe2': dtype('uint8'),
 'R_emaildomain_0_fe2': dtype('uint8'),
 'proc_id_31_0_fe2': dtype('uint8'),
 'P_emaildomain_1_fe2': dtype('uint8'),
 'R_emaildomain_1_fe2': dtype('uint8'),
 'P_emaildomain_0_fe2': dtype('uint8')}

In [28]:
train = df_imputed2.iloc[:train_index, :]
test = df_imputed2.iloc[train_index:, :]

In [29]:
train.to_csv(data_folder+'/train_generated_0.csv', header=True, index=None)
print('train guardado')
test.to_csv(data_folder+'/test_generated_0.csv', header=True, index=None)
print('test guardado')

train guardado
test guardado

In [4]:
data_folder = 'input'
train = pd.read_csv(data_folder+'/train_generated_0.csv', dtype = schema_generated_0)
# test = pd.read_csv(data_folder+'/test_generated_0.csv', dtype = schema_generated_0)

In [20]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve, auc
from sklearn.model_selection import TimeSeriesSplit
import lightgbm as lgb

In [6]:
def custom_loss(y_pred, y_true):
    precision, recall, thresholds = precision_recall_curve(np.where(y_true >= 0.5, 1, 0), y_pred)
    AUC = auc(recall, precision)
    if AUC != AUC:
        AUC = 0
    return 'PR_AUC', AUC, True

In [29]:
params = {
#     'max_depth': 11,
    'num_leaves': 361,
    'metric': ['PR_AUC'],
    'first_metric_only': True,
    'n_estimators': 20000,
    'learning_rate': 0.07,
    'colsample_bytree': 0.6,
    'objective': 'xentropy',
    'n_jobs': -1,
    'seed': 42,
    'bagging_fraction': 0.7,
    'bagging_freq': 8,
    'lambda_l1': 0.2,
    'lambda_l2': 0.2,
#     'is_unbalance': True
}

In [30]:
lgb_model = lgb.LGBMClassifier(**params)

In [15]:
X_cols = [x for x in train.columns if x not in ['isFraud', 'TransactionDT', 'TransactionID']]

In [132]:
# df_imputed2_1 = df_imputed2[df_imputed2.isFraud==1]
# df_imputed2_0 = df_imputed2[df_imputed2.isFraud==0].sample(frac=0.3)
# X = pd.concat([df_imputed2_1, df_imputed2_0])[X_cols]
# y = pd.concat([df_imputed2_1, df_imputed2_0]).isFraud

In [26]:
X = train.sort_values('TransactionDT')[X_cols]
y = train.isFraud

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
tscv = TimeSeriesSplit(n_splits=5)

In [32]:
lgb_model.feature_importances_

array([ 663,  184,  459,   88, 1286,  534,  594,   28,   75,  315,  573,
         25,  144,  424,  982, 1412, 1077,  251,  155,  294, 2002, 1603,
       1333, 1366, 1297,  204,  201, 1182,  796,  563,   16,    2,   73,
        134,  256,  121,  128,   91,   86,   70, 1399,   90,  476, 4564,
          1,   67,   41,   24,   53,   31,   12,   48,    9,    0,    1,
         26,   87,    0,    0,    5,    0,    1,    8,    3,    1,    0,
          0,   91,    0,    0,    0,    6,   61,   10,  235,  452,  238,
        115,   84,  357,  222,   87,  209,   91,   61,  120,   43,    5,
        117,    3,   65,    2,    1,  179,   98,  159,   16,   15,   15,
         26,   26,   95,  112,   43,    7,    3,   13,   18,   16,   16,
        113,   43,  162,   22,   13,   12,  174,  180,  172,   33,   28,
         14,   19,   61,   47,   11,    7,   13,   12,   21,   15,   29,
          9,   20,   24,   30,    8,   20,    8,   11,   14,   16,   10,
         23,  153,    9,    6,   10,    4,    0,    1,   10,    6,    8,
         13,   12,  216,   18,   13,   96,  125,   84,   33,   31,   46,
         38,   44,    4,   19,   34,   57,   35,   71,   23,   32,   27,
         88,   24,   20,   11,  167,   66,   10,   50,   17,    8,   11,
          8,   37,   77,   18,   17,   31,   14,   87,   12,   13,    9,
         15,   14,  112,    0,    0,   10,   18,   20,   44,    3,   12,
         16,    8,   61,   18,   10,   18,   18,   12,   14,   19,   10,
         38,   44,  129,   45,   92,   34,  106,  161,  106,   52,   98,
         44,    2,    1,   56,   49,   20,   43,   67,   49,   40,   52,
         24,   47,    0,   87,   54,  117,  166,    9,  235,   15,   57,
         14,   71,   57,   27,  133,   59,   63,  161,   41,  102,   10,
         52,    6,   32,  116,   25,   29,   11,   18,   12,    0,  273,
        599,  300,  155,   13,  640,   88,  322,  370,  381,  301,  123,
        303,  152,   74,   19,  156,   79,   11,   40,   14,    3,   25,
         10,    7,   10,    8,    2,   22,   49,   23,    8,   22,   11,
          8,   25,    8,    9,  110,  153,  162,  156,   42,  102,   42,
          0,   19,   32,   79,  142,   30,   57,   83,   82,  144,   12,
         30,   39,  108,   87,   60,  110,    9,   31,   16,   20,   30,
        146,  145,    5,   11,    0,  104,  100,    0,   75,   46,   76,
          9,   11,   12,   28,   98,  139,  118,  161,   17,    5,   23,
         24,  179,  217,    4,   19,   83,  158,    0,    0,   19,   68,
         98,   19,   18,    9,   25,  145,   72,    6,  146, 2872,   27,
       4443, 3722,  105,  136, 1135,  115, 2710,  762,  524, 2152,   59,
         10,  752,  706,   86,   97,  160,   26,  177,    6,  310,  186,
         15,    4,   22,  208, 1039,  854,   10,    0,    2,    0,    4,
         13,    0,    4,    1,  379,  647,   10,  522,   36,    1,   21,
         13,   18,  799,  137,  260,   42,  234,   35,  339,   40,  325,
        131, 1378, 1076,   35,   66,  630,   48, 1095,    8,    0,   24,
         59,  137,   42,   42,   17,   24,   35,    3,   66,    1,  120,
         73,    4,    2,   15,   88,  262,  412,    0,    0,    1,    3,
          0,    0,    0,    4,    3,  151,  218,    6,  169,   17,    1,
          8,    6,   12,  117,   18,   13,   61,   47,  241,   66,   20,
         95,   25,  596,  289,   25,   21,  168,   14,  497,    1,    0,
         11,   22,   66,   26,   22,    3,    3,    6,    1,   25,    0,
         32,   14,    3,    0,    3,   24,  107,   81,    0,    0,    1,
          0,    0,    1,    0,    0,    0,   26,   74,    2,   50,    8,
          0,    1,    3,    3,   48,   10,    2,   20,   13,   85,   25])

In [31]:
n = 1
for train_index, test_index in tscv.split(X=X, y=y):
    print('FOLD {}'.format(n))
    X_train, X_test = X.iloc[train_index, :], X.iloc[test_index, :]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    lgb_model.fit(X_train,
                  y_train,
                  eval_set=[(X_train, y_train), (X_test, y_test)],
                  verbose=50,
                  early_stopping_rounds=50,
                  eval_metric=custom_loss
                 )
    del X_train
    del X_test
    del y_train
    del y_test
    gc.collect()
    n += 1

FOLD 1
Training until validation scores don't improve for 50 rounds.
[50]	training's PR_AUC: 0.871842	valid_1's PR_AUC: 0.582042
[100]	training's PR_AUC: 0.968293	valid_1's PR_AUC: 0.590685
[150]	training's PR_AUC: 0.98953	valid_1's PR_AUC: 0.596291
[200]	training's PR_AUC: 0.996639	valid_1's PR_AUC: 0.601554
[250]	training's PR_AUC: 0.998221	valid_1's PR_AUC: 0.60498
Early stopping, best iteration is:
[249]	training's PR_AUC: 0.998221	valid_1's PR_AUC: 0.605395
FOLD 2

KeyboardInterrupt:

In [19]:
lgb_model.fit(X_train,
                   y_train,
                   eval_set=[(X_train, y_train), (X_test, y_test)],
                   verbose=50,
                   early_stopping_rounds=50,
                   eval_metric=custom_loss
                  )

Training until validation scores don't improve for 50 rounds.
[50]	training's PR_AUC: 0.625616	valid_1's PR_AUC: 0.618846
[100]	training's PR_AUC: 0.662864	valid_1's PR_AUC: 0.651928
[150]	training's PR_AUC: 0.684206	valid_1's PR_AUC: 0.667586
[200]	training's PR_AUC: 0.701413	valid_1's PR_AUC: 0.681069
[250]	training's PR_AUC: 0.717748	valid_1's PR_AUC: 0.693366
[300]	training's PR_AUC: 0.730906	valid_1's PR_AUC: 0.704521
[350]	training's PR_AUC: 0.744675	valid_1's PR_AUC: 0.714907
[400]	training's PR_AUC: 0.753716	valid_1's PR_AUC: 0.722393
[450]	training's PR_AUC: 0.760865	valid_1's PR_AUC: 0.726149
[500]	training's PR_AUC: 0.770495	valid_1's PR_AUC: 0.730711

KeyboardInterrupt:

In [111]:
n_round = lgb_model.best_iteration_
n_round

2038

In [113]:
params = {
    'max_depth': 13,
    'metric': ['PR_AUC'],
    'first_metric_only': True,
    'n_estimators': int(n_round*1.1),
    'learning_rate': 0.05,
    'colsample_bytree': 0.8,
    'objective': 'xentropy',
    'n_jobs': -1,
    'seed': 42,
    'bagging_fraction': 0.8,
    'lambda_l1': 0,
    'lambda_l2': 0,
}

In [114]:
lgb_model = lgb.LGBMClassifier(**params)

In [115]:
lgb_model.fit(X, y, verbose=100)

LGBMClassifier(bagging_fraction=0.8, boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.8, first_metric_only=True,
        importance_type='split', lambda_l1=0, lambda_l2=0,
        learning_rate=0.05, max_depth=13, metric=['PR_AUC'],
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=2241, n_jobs=-1, num_leaves=31, objective='xentropy',
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, seed=42,
        silent=True, subsample=1.0, subsample_for_bin=200000,
        subsample_freq=0)

In [44]:
del X_train
del X_test
del y_train
del y_test

In [45]:
gc.collect()

8

In [139]:
X_test = df_imputed2[X.columns].iloc[train_index:, :]

In [140]:
y_preds = lgb_model.predict_proba(X_test)

In [141]:
y_preds[:,1]

array([0.00095012, 0.00021622, 0.00047366, ..., 0.00846984, 0.01005928,
       0.00357157])

In [142]:
df_sub = pd.read_csv(data_folder+'/sample_submission.csv')

In [143]:
df_sub['isFraud'] = y_preds[:,1]

In [144]:
df_sub.head()

   TransactionID   isFraud
0        3663549  0.000950
1        3663550  0.000216
2        3663551  0.000474
3        3663552  0.003246
4        3663553  0.002967

In [145]:
df_sub.to_csv('submissions/benchmark_freq_enc_3_30porciento_sincard1.csv', sep=',', header=True, index=None)

In [146]:
df_imp = pd.DataFrame({'ft': X.columns, 'imp': lgb_model.feature_importances_}).sort_values('imp', ascending=False)

In [147]:
df_imp.head(30)

                  ft   imp
385            card2  1895
43    TransactionAmt  1722
383            addr1  1595
20               D15  1027
422            id_31  1012
4                C13   919
390            dist1   800
15               D10   751
388            card5   723
23                D4   671
14                D1   629
0                 C1   577
16               D11   558
40     P_emaildomain   545
6                 C2   526
21                D2   498
410            id_19   494
393            id_02   492
411            id_20   485
13                C9   484
29        DeviceInfo   482
27                D8   478
10                C6   430
440        card2_fe1   419
404            id_13   417
5                C14   406
2                C11   402
430  P_emaildomain_0   373
279             V310   354
445        addr1_fe1   320

In [254]:
import datetime

In [264]:
START_DATE = '2017-12-01'
startdate = datetime.datetime.strptime(START_DATE, '%Y-%m-%d')
X_train = pd.DataFrame()
X_train['TransactionDT'] = train_imputed['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x)))

X_train['year'] = X_train['TransactionDT'].dt.year
X_train['month'] = X_train['TransactionDT'].dt.month
X_train['dow'] = X_train['TransactionDT'].dt.dayofweek
X_train['hour'] = X_train['TransactionDT'].dt.hour
X_train['day'] = X_train['TransactionDT'].dt.day
print('hello world')

In [265]:
X_train.head(30)

         TransactionDT  year  month  dow  hour  day
0  2017-12-02 00:00:00  2017     12    5     0    2
1  2017-12-02 00:00:01  2017     12    5     0    2
2  2017-12-02 00:01:09  2017     12    5     0    2
3  2017-12-02 00:01:39  2017     12    5     0    2
4  2017-12-02 00:01:46  2017     12    5     0    2
5  2017-12-02 00:01:50  2017     12    5     0    2
6  2017-12-02 00:02:02  2017     12    5     0    2
7  2017-12-02 00:02:09  2017     12    5     0    2
8  2017-12-02 00:02:15  2017     12    5     0    2
9  2017-12-02 00:02:16  2017     12    5     0    2
10 2017-12-02 00:02:29  2017     12    5     0    2
11 2017-12-02 00:02:35  2017     12    5     0    2
12 2017-12-02 00:02:44  2017     12    5     0    2
13 2017-12-02 00:03:05  2017     12    5     0    2
14 2017-12-02 00:03:16  2017     12    5     0    2
15 2017-12-02 00:03:38  2017     12    5     0    2
16 2017-12-02 00:03:40  2017     12    5     0    2
17 2017-12-02 00:04:28  2017     12    5     0    2
18 2017-12-02 00:05:25  2017     12    5     0    2
19 2017-12-02 00:05:30  2017     12    5     0    2
20 2017-12-02 00:06:01  2017     12    5     0    2
21 2017-12-02 00:06:09  2017     12    5     0    2
22 2017-12-02 00:06:26  2017     12    5     0    2
23 2017-12-02 00:06:48  2017     12    5     0    2
24 2017-12-02 00:07:01  2017     12    5     0    2
25 2017-12-02 00:09:04  2017     12    5     0    2
26 2017-12-02 00:09:05  2017     12    5     0    2
27 2017-12-02 00:09:32  2017     12    5     0    2
28 2017-12-02 00:09:33  2017     12    5     0    2
29 2017-12-02 00:09:39  2017     12    5     0    2